<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="直营商登录" />
	<meta name="description" content="登录" />
	<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
	<link rel="bookmark" href="$staticRoot/favicon.ico"/>
	<link rel="stylesheet" href="$staticRoot/css/zxsdl.css" />
	<script type="text/javascript" src="$staticFilePlug/jquery/jquery-1.11.3.min.js"></script>
	<title>直营商登录</title>
	
	<script >
		$(function() {
    		$('#imgObj').click(function() {
    			changeValidateCode();
    		});
    		function changeValidateCode() {
    			$("#imgObj").attr("src","$appRoot/check/code?id=" + Math.random());
    		}
    	});
		
		//点击回车登陆系统
		$(document).keydown(function(event) { 
            if (event.keyCode == 13) { 
                $(".sign_sign").click();
            } 
        }); 
		
		function login(){
			$("#form1").submit();
		}
    </script>
</head>
<body>
	<!--bg-->
	<div class="zxbj"></div>
	<!--logo-->
	<div class="logo">
		<img src="$staticRoot/images/logo.png"><br />
	</div>
	<!--cont-->
	<div class="contentw">
		<div id="dlkk">
			<div class="dlkkz">
				<h1>直营商登录</h1>
				<form action="$appRoot/zy/user/login" method="post" id="form1">
					<label>账号</label> 
					<input type="text" name="username" id="username"/> 
					<label>密码</label> 
					<input type="password" name="password" id="password"/> 
					<label>验证码</label> 
					<input name="checkcode" id="checkcode" type="text" /> <img src="$appRoot/check/code" id="imgObj" alt="验证码">
					<a style="color:red">$!errorMsg</a>
					<button type="button" onclick="login();" class="sign_sign">登录</button>
					<button type="button" onclick="window.location=href='$appRoot/company/regedit/info';" class="sign_sub">注册</button>
				</form>
			</div>
		</div>
	</div>
	<!--footer-->
	<div class="footer">
		<p>
			Copyright 2015, jialvlianhe.com. All rights reserved. |
			京ICP备14023329号-1<br /> 客户服务电话:400-004-6161
		</p>
	</div>
</body>
</html>