<!DOCTYPE html>
<html>
<head>
	<title>佳旅联合－地接社应用平台</title>
	<meta name="name" content="content" charset="utf-8">
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/sign.css">
	<meta name="keywords" content="登录" />
	<meta name="description" content="登录" />
	<script type="text/javascript" src="$staticFilePlug/jquery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="$staticRoot/js/cookie.js"></script>
	
	<script type="text/javascript">
  		$(function() {
    		$('#imgObj').click(function() {
    			changeValidateCode();
    		});
    		function changeValidateCode() {
    			$("#imgObj").attr("src","$appRoot/check/code?id=" + Math.random());
    		}
			
			mycookie.del("leftclick");
    		mycookie.del("leftspanclick");
    		mycookie.del("loaddata");
    	});
		//点击回车登陆系统
		$(document).keydown(function(event) { 
			mycookie.del("leftclick");
    		mycookie.del("leftspanclick");
    		mycookie.del("loaddata");
			
            if (event.keyCode == 13) { 
                $(".sign_sign").click();
            } 
        }); 
		
		function login(){
			$("#form1").submit();
		}
  	</script>
</head>
<body>
	<div class="sign">
		<div class="sign_bg">
		</div>
		<div class="sign_content">
			<div class="sign_head">
				<img src="$staticRoot/images/logo.png" alt="logo">
			</div>
            <div class="sign_bodyr">
                <h1 class="ml51">地接社登录</h1>
                <div class="sign_bodyrc ml51">
					<form action="$appRoot/zy/user/login" method="post" id="form1">
                        <span class="sign_bodyrcf">账号</span>
    					<input type="text" name="username" id="username" value="" class="sign_bodyrci">
    					<span class="sign_bodyrcf">密码</span>
    					<input type="password" name="password" id="password" value="" class="sign_bodyrci">
    					<span class="sign_bodyrcf">验证码</span>
    					<input type="text" name="checkcode" id="checkcode" value="" class="sign_bodyrcy">
                        <img src="$appRoot/check/code" id="imgObj" alt="验证码">
    					<a style="color:red">$!errorMsg</a>
                        <button type="button" onclick="window.location=href='$appRoot/company/regedit/info';" class="sign_sub">注册</button>
    					<button type="button" onclick="login();" class="sign_sign">登录</button>
					</form>
                </div>
            </div>
		</div>
		<div class="sign_footer">
			<p>客户服务电话:400-004-6161</p>
			<p>Copyright  2015, jialvlianhe.com. All rights reserved. | 京ICP备14023329号-1</p>
		</div>
	</div>
</body>
</html>