<div class="doadmin">
	<div class="newfood_suptop mb20">
		<img src="$staticRoot/images/user1.png">
		<span>用户管理</span>
		<div class="cb"></div>
		<div class="g_line"></div>
	</div>
	<div class="coadmin_top" style="float:left">
		<form class="form-search" method="post" id="form1">
    		<div class="doadmin_topl" style="margin-top:0; margin-bottom:20px;">
    			<div class="doadmin_toplboxa" style="width:240px;">
    				<span style="width:88px;">名称:</span>
    				<div class="doadmin_toplbra" style="width:130px;">
    					<input type="text" value="$!cmsSystemUser.cusUserRealname" name="cusUserRealname" />
    				</div>
    			</div>
    			<button class="doadmin_see" type="button" onclick="index.searchform('form1','$appRoot/cus/user/list');">查询</button>
    		</div>
		</form>
	</div>
	<div class="cb"></div>
	<div class="g_line"></div>
	<div class="doadmin_ct">
		<div class="doadmin_ct_top">
			<div class="carad_ctbtn">
			   <button onclick="index.load('$appRoot/cus/user/insertPage');">+新增用户</button>
            </div>
		</div>
		<div class="doadmin_ct">
			<div class="carad_ct">
				<div class="carad_ctrtable">
					<table cellspacing="0" cellspadding="0">
						<thead>
							<tr>
								<td>序号</td>
        						<td>名称</td>
        						<td>登录名</td>
								<td>是否合作用户</td>
        						<td>操作</td>
								<td>是否停用</td>
							</tr>
						</thead>
						<tbody>
							#foreach($item in $userList)
        						<tr>
									<td>$item.id</td>
            			            <td>$!item.cusUserRealname</td>
            			            <td>$!item.cusUserLoginname</td>
									#if($!item.cusIsCooperation == '1')
										<td>是</td>
									#elseif($!item.cusIsCooperation == '0')
										<td>否</td>
									#else
										<td></td>
									#end
									<td>
										<a href="javascript:index.load('$appRoot/cus/user/updatePage?id=$item.id');">查看/修改</a>
									</td>
									<td>
										<span>
											#if($!item.cusIsDelStatus==0)
                                                <img src="$staticRoot/images/lvdui.png"/>&nbsp;
                                                <a href="javascript:index.load('$appRoot/cus/user/delete?id=$item.id&cusIsDelStatus=1');"><img src="$staticRoot/images/huicuo.png" id="img" class="active" /></a>
											#end
											#if($!item.cusIsDelStatus==1)
                								<a href="javascript:index.load('$appRoot/cus/user/delete?id=$item.id&cusIsDelStatus=0');"><img src="$staticRoot/images/huidui.png" id="png" /></a>
                								&nbsp;<img src="$staticRoot/images/hongcuo.png"/>
											#end
                                        </span>
									</td>
    							</tr>
    						#end
					  </tbody>
					</table>
					#parse("common/page.vm")
				</div>
			</div>
		</div>
	</div>
</div>