<!DOCTYPE HTML>
<html>
<head>
<title>user index</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/headerfooter.css">
<link rel="stylesheet" type="text/css" href="css/user.css">
<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/d_u_c.js" type="text/javascript" language="javascript"></script>
</head>
<body>
	<div class="indexwrap">
		<div class="indexhead">
			<div class="indexheadtop">
				<div class="indexheadtopwrap">
					<div class="indexheadtopleft">
						<ul>
							<li><a href="#">您好！欢迎使用jialvlianhe.com访问佳旅联合</a></li>
							<li><a href="#">登录</a></li>
							<li><a href="#">注册</a></li>
						</ul>
					</div>
					<div class="indexheadtopright">
						<ul>
							<li><a href="#">会员中心</a></li>
							<li><a href="#">微信</a></li>
							<li><a href="#">电话</a></li>
							<li><a href="#">客服中心</a></li>
							<li><a href="#">客户服务</a></li>
							<li><a href="#">合作中心</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="indexheadcenter">
				<div class="indexheadcenterwrap">
					<div class="indexheadcenterleft">
						<div class="indexheadcenterleftimg">
							<img src="images/logo.gif">
						</div>
						<div class="indexheadcenterleftname">
							<div class="indexheadcenterleftnametop">
								佳佳旅行网
							</div>
							<div class="indexheadcenterleftnamelow">
								石家庄佳佳国际旅行社有限公司
							</div>
						</div>
					</div>
					<div class="indexheadcentermiddle">
						<div class="indexheadcentermiddlsearch">
							<input type="text" placeholder="你好">
							<a href="#"><img src="images/searchb.gif"></a>
						</div>
					</div>
					<div class="indexheadcenterright">
						<div class="indexheadcenterrightiphonea">
							<img src="images/iPhone.gif">
							<span>联系电话：010-66666666</span>
						</div>
						<div class="indexheadcenterrightiphoneb">
							<img src="images/telephone.gif">
							<span>地址:石家庄桥西区人民政府</span>
						</div>
					</div>
				</div>
			</div>
			<div class="indexheadlow">
				<div class="indexheadlowmenu">
					<ul>
						<li class="indexheadlowmenuindex"><a href="#">首页</a></li>
						<li><a href="#">热门精选</a></li>
						<li><a href="#">主题推荐</a></li>
						<li><a href="#">当地旅游</a></li>
						<li><a href="#">超级自由行</a></li>
						<li><a href="#">关于我们</a></li>
						<li><a href="#">旅游资讯</a></li>
					</ul>
				</div>
			</div>
		</div>


<!--dwp html start-->
		<div class="box_cb mb20"></div>
        <div class="g_cont">
        	 <div class="g_fl_rt">
			 	<dl class="g_u_menu">
					<dt><a href="#">会员首页</a></dt>
					<dt class="u_dingdan"><a href="#">订单中心</a><b id="menu_but"></b><b id="menu_but1"></b></dt>
					<dd id="menu_box">
						<a href="#">全部订单</a>
						<a href="#">旅游订单</a>
						<a href="#">机票订单</a>
						<a href="#">酒店订单</a>
						<a href="#">门票订单</a>
						<a href="#">租车订单</a>
						<a href="#">签证订单</a>
						<a href="#">预定的导游</a>
						<a href="#">特色餐订单</a>
						<a href="#">当地游订单</a>
					</dd>
					<dt class="u_huiyuan"><a href="#">会员中心</a><b id="menu_but2"></b><b id="menu_but3"></b></dt>
					<dd id="menu_box2">
						<a href="#">个人资料</a>
						<a class="on" href="#">账户安全</a>
					</dd>
				</dl>
			 </div>
			 <div class="g_fl_lt">
			 	<div class="g_u_block pb20 mb20">

					<div class="tel_edit pl200 pt110 pb116">
						<div class="mb20">
							<label>原手机号</label>
							<input class="txt_1" type="text"><!--<a id="fa_song" class="ml20" href="javascript:void(0);">发送验证码</a><span id="fa_hou" class="ml20">(<em>60</em>)重新发送</span>-->
							<input type="button" id="btn" class="ml20" value="发送验证码" />
							<script type="text/javascript">
var wait=60;
document.getElementById("btn").disabled = false;  
function time(o) {
        if (wait == 0) {
            o.removeAttribute("disabled");  
			o.style.cssText="background-color:#FAAF4B;";        
            o.value="发送验证码";
            wait = 60;
        } else {
            o.setAttribute("disabled", true);
			o.style.cssText="background-color:#c8c8c8;";
            o.value= "("+ wait + ")重新发送";
            wait--;
            setTimeout(function() {
                time(o)
            },
            1000)
        }
}
document.getElementById("btn").onclick=function(){time(this);}
</script>
						</div>
						<div class="mb20">
							<label>验证码</label>
							<input class="txt_2" type="text">
						</div>
						<div class="mb20">
							<label>新手机号</label>
							<input class="txt_2" type="text">
						</div>
						<div class="mb20 pl327">
							<a href="javascript:void(0);">确认修改</a>
						</div>
					</div>
					
					<div class="box_cb"></div>
				</div>

				
			 </div>
			 <div class="box_cb"></div>
        </div>
<!--dwp html end-->
        
		<div class="rfooter">
			<div class="rfooter_top">
		    	<div class="rfootertop_left">
		       	    <div>
		                <div class="rfotoplft_top">
		                    <span class="lft_topjg">放心的价格</span>
		                    <span class="lft_topjz">具竞争力的价格</span>
		                    <span class="lft_topfy">无任何隐形费用</span>
		                </div>
		                <div class="rfotoplft_bot">
		                    <span class="rfotlft_bot_fuw">放心的服务</span>
		                    <span class="lft_topjz">领先的服务标准</span>
		                    <span class="lft_topfy">独创的保障体系</span>
		                </div>
		            </div>
		        </div>
		        <div class="rfootertop_rgt">
		            <ul class="rfootertop_rgt_rgt">
		                <li>
		                    <span><a href="#">六重旅游保障</a></span>
		                    <p><a href="#">透明团&nbsp;一站式旅游保险</a></p>
		                    <p><a href="#">特殊原因退订保障</a></p>
		                    <p><a href="#">自然灾害保险金</a></p>
		                    <p><a href="#">旅游预警机制</a></p>
		                    <p><a href="#">应急援助体系</a></p>
		                </li>
		                <li>
		                    <span><a href="#">预定帮助</a></span>
		                    <p><a href="#">如何预定旅游产品</a></p>
		                    <p><a href="#">支付方式</a></p>
		                    <p><a href="#">优惠券使用指南</a></p>
		                </li>
		                <li>
		                    <span><a href="#">安全指南</a></span>
		                    <p><a href="#">出行安全常识</a></p>
		                    <p><a href="#">旅游活动风险防范</a></p>
		                    <p><a href="#">特殊人群安全防范</a></p>
		                    
		                </li>
		                <li>
		                    <span><a href="#">联系方式</a></span>
		                    <p><a href="#">010-6666666</a></p>
		                    <span><a href="#">地址</a></span>
		                    <p><a href="#">石家庄市人民政府</a></p>
		                </li>
		            </ul>
		        </div>
		    </div>
		    <div class="rfooter_cen">
		        <ul class="rfooter_cen_con">
		            <span>优质服务&nbsp;值得推荐</span>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg">热门精选</li>
		            <li><img src="images/footerpic4.jpg"/></li>
		            <li class="rftcen_conbg2">主题推荐</li>
		            <li>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg7">
		                超级自由行
		            </li>
		             <li>
		                 <img src="images/footerpic4.jpg"/>
		             </li>
		            <li class="rftcen_conbg4">当地旅游</li>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg5">关于我们</li>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg6">关于我们</li>
		            
		        </ul>
		    </div>
		    <div class="rfooter_bot">
		        <ul class="rfotbot_top">
		            <li>Copyright © 2002-2014</li>  
		            <li>版权所有</li>  
		            <li>北京乐途游学文化传播有限公司</li>   
		            <li>苏ICP证B2-20100204</li>  
		            <li>旅行社业务许可证：L-JS-CJ00070</li>
		        </ul>
		        <ul class="rfotbot_bot">
		            <li class="bot1">
		                <img src="images/focz1.jpg"/>
		            </li>
		            <li class="bot2">
		                <img src="images/focz2.jpg"/>
		            </li>
		            <li class="bot3">
		                <img src="images/fotc3.jpg"/>
		            </li>
		            <li class="bot4">
		                <img src="images/foc4.jpg"/>
		            </li>
		            <li class="bot5">
		                <img src="images/foc9.jpg"/>
		            </li>
		            <li class="bot6">
		                <img src="images/foc8.jpg"/>
		            </li>
		        </ul>
		    </div>
		</div>
	</div>
</body>
</html>
 