<div class="jd_block pb80">
	<p class="tit_1 ml20">
		<img src="$staticRoot/images/jiaose.png">添加角色
	</p>
	<div class="g_line mb20"></div>
	<form method="post" id="form1">
		<div class="input_block clearfix">
    		<div class="label_left">角色名：</div>
    		<div class="input_right">
                <input type="text" class="w200 validate[required,maxSize[100]]" name="zyRoleName" /><span class="mess_star_red">*</span>
    		</div>
    	</div>
    	<div class="button_block clearfix">
    		<button class="y_but ml35" id="btn" type="button" onclick="subform.update('form1', '$appRoot/zy/role/insert');">提交</button>
			<button type="button" onclick="index.load(page.url);" class="carinfo_qu">返回</button>
    	</div>
	</form>
</div>