<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="planeticketdetail">
	<sql id="sql_query">
		<where>
			1 = 1
			<if test="ptdNumber != null and ptdNumber != ''">						and 	ptd_number 			like "%"#{ptdNumber}"%"</if>
			<if test="ptdNo != null and ptdNo != ''">						        and 	ptd_no 			    like "%"#{ptdNo}"%"</if>
			<if test="ptdCompany != null and ptdCompany != ''">						and 	ptd_company 	    like "%"#{ptdCompany}"%"</if>
			<if test="ptdClassEconomy != null and ptdClassEconomy != ''">			and 	ptd_class_economy 	like "%"#{ptdClassEconomy}"%"</if>
		</where>
	</sql>
	
	<sql id="sql_column">
		id 					 AS id,
		cpy_id 				 AS cpyId,
		ptd_no 				 AS ptdNo,
		ptd_company 		 AS ptdCompany,
		ptd_number 			 AS ptdNumber,
		ptd_is_international AS ptdIsInternational,
		ptd_model 			 AS ptdModel,
		ptd_start_city 		 AS ptdStartCity,
		ptd_start_time		 AS ptdStartTime,
		ptd_start_terminal 	 AS ptdStartTerminal,
		ptd_end_city 		 AS ptdEndCity,
		ptd_end_time 		 AS ptdEndTime,
		ptd_end_terminal 	 AS ptdEndTerminal,
		ptd_cost_food 		 AS ptdCostFood,
		ptd_cost_maching 	 AS ptdCostMaching,
		ptd_cost_fuel 		 AS ptdCostFuel,
		ptd_createtime 	 	 AS ptdCreatetime,
		ptd_createuser 		 AS ptdCreateuser,
		ptd_is_del_status 	 AS ptdIsDelStatus,
		ptd_class_economy    AS ptdClassEconomy,
		ptd_class_business 	 AS ptdClassBusiness,
		ptd_start_town 		 AS ptdStartTown,
		ptd_end_town 		 AS ptdEndTown,
		ptd_end_stay 		 AS ptdEndStay,
		ptd_end_ntype 		 AS ptdEndNtype,
		ptd_start_state 	 AS ptdStartState,
		ptd_end_state		 AS ptdEndState
	</sql>
	
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectPagePlaneticket" resultType="planeticketDetailBean">
		SELECT
			<include refid="sql_column" />
		FROM
			planeticket_detail
		<include refid="sql_query" />
	</select>
	<!-- 根据id查询实体 -->
	<select id="selectBeanByPriId" resultType="planeticketDetailBean">
		SELECT
			<include refid="sql_column" />
		FROM
			planeticket_detail
		WHERE
			id = #{id}
	</select>


	<!-- 查询总数，用于页面分页 -->
	<select id="selectPagePlaneticketCount" resultType="int">
		SELECT
			count(1)
		FROM
			planeticket_detail
		<include refid="sql_query" />
	</select>

	<!-- 增加 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="planeticketDetailBean">
	INSERT INTO
			planeticket_detail
			(
				cpy_id,
				ptd_no,
				ptd_company,
				ptd_number,
				ptd_is_international,
				ptd_model,
				ptd_start_city,
				ptd_start_time,
				ptd_start_terminal,
				ptd_end_city,
				ptd_end_time,
				ptd_end_terminal,
				ptd_cost_food,
				ptd_cost_maching,
				ptd_cost_fuel,
				ptd_createtime,
				ptd_createuser,
				ptd_is_del_status,
				ptd_class_economy,
				ptd_class_business,
				ptd_start_town,
				ptd_end_town,
				ptd_end_stay,
				ptd_end_ntype,
				ptd_start_state,
				ptd_end_state
			)
		VALUES
			(
				#{cpyId},
				#{ptdNo},
				#{ptdCompany},
				#{ptdNumber},
				#{ptdIsInternational},
				#{ptdModel},
				#{ptdStartCity},
				#{ptdStartTime},
				#{ptdStartTerminal},
				#{ptdEndCity},
				#{ptdEndTime},
				#{ptdEndTerminal},
				#{ptdCostFood},
				#{ptdCostMaching},
				#{ptdCostFuel},
				#{ptdCreatetime},
				#{ptdCreateuser},
				#{ptdIsDelStatus},
				#{ptdClassEconomy},
				#{ptdClassBusiness},
				#{ptdStartTown},
				#{ptdEndTown},
				#{ptdEndStay},
				#{ptdEndNtype},
				#{ptdStartState},
				#{ptdEndState}
			)
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE
			planeticket_detail
		SET
			cpy_id 				 = #{cpyId},
			ptd_no 				 = #{ptdNo},
			ptd_company 		 = #{ptdCompany},
			ptd_number 		     = #{ptdNumber},
			ptd_is_international = #{ptdIsInternational},
			ptd_model		     = #{ptdModel},
			ptd_start_city		 = #{ptdStartCity},
			ptd_start_time 		 = #{ptdStartTime},
			ptd_start_terminal 	 = #{ptdStartTerminal},
			ptd_end_city 		 = #{ptdEndCity},
			ptd_end_time 		 = #{ptdEndTime},
			ptd_end_terminal	 = #{ptdEndTerminal},
			ptd_cost_food 		 = #{ptdCostFood},
			ptd_cost_maching 	 = #{ptdCostMaching},
			ptd_cost_fuel 		 = #{ptdCostFuel},
			ptd_createtime		 = #{ptdCreatetime},
			ptd_createuser 		 = #{ptdCreateuser},
			ptd_is_del_status 	 = #{ptdIsDelStatus},
			ptd_class_economy    = #{ptdClassEconomy},
			ptd_class_business   = #{ptdClassBusiness},
			ptd_start_town 		 = #{ptdStartTown},
			ptd_end_town 		 = #{ptdEndTown},
			ptd_end_stay 		 = #{ptdEndStay},
			ptd_end_ntype	     = #{ptdEndNtype},
			ptd_start_state 	 = #{ptdStartState},
			ptd_end_state 	     = #{ptdEndState}
		WHERE
			id = #{id}
	</update>
    <!-- 更新产品编号 -->
	<update id="updatecode">
		UPDATE
			planeticket_detail
		SET
			ptd_no  =  #{ptdNo}
		WHERE
			id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		DELETE FROM
			planeticket_detail
		WHERE
			id = #{id}
	</delete>
	
	<!-- 上下架 -->
	<delete id="deletebean" parameterType="int">
		UPDATE
			planeticket_detail
		SET
			ptd_is_del_status 	 = #{ptdIsDelStatus}
		WHERE
			id = #{id}
	</delete>
</mapper>