<div class="rdivv">
	<div class="tese">
		<div class="tesetop4">			
		</div>
		<div class="tesetop2">
			<form class="form-search" method="post" id="form1">
				<div class="teseline">
    				<span>名称：</span>
    				<input type="text"  name="ldlName" value="$!lineDetail.ldlName"/>
    			</div>
    			<button type="button" onclick="index.searchform('form1','$appRoot/line/detail/list');"></button>
            </form>
		</div>
		<div class="tesetop3"></div>

		<div class="tesect">
			<div class="tesetable">
				<table border="0" cellspadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>产品编码</th>
    						<th>专线名称</th>
    						<th>产品类型</th>
    						<th>产品特色</th>
                            <th>产品批发价</th>
                            <th>建议零售价</th>
                            <th>操作</th>
						</tr>
					</thead>
					<tbody>
						#foreach($item in $lineList)
        	                  <tr #if($velocityCount  % 2 !=0) class="ttr" #end>
        						<td>$!item.id</td>
        	                    <td>$!item.ldlName</td>
                                <td>$!item.ldlAttribute1</td>
        						<td>$!item.ldlFeatures</td>
        						<td>$!item.ldlPriceWholesale</td>
        						<td>$!item.ldlPriceSell</td>
        						<td> 
									<a href="javascript:;" link="$appRoot/guide/detail/view?id=$!item.id">选择</a>
        		 				</td>
        	                  </tr>
        					  
        	              #end
					</tbody>
				</table>
				#parse("common/page.vm")
			</div>
		</div>
	</div>
</div>