<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zysystemrescource">
	<select id="selectRescourceByUrl" resultType="ZySystemRescourceBean">
		SELECT
			id AS id,
			zy_func_rescource_code AS zyFuncRescourceCode,
			zy_rescource_name AS zyRescourceName,
			zy_rescource_url AS zyRescourceUrl
		FROM
			zy_system_rescource
		WHERE
			zy_rescource_url = #{zyRescourceUrl}
	</select>
</mapper>