<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zysystemfunc">
	<select id="selectFuncByCode" resultType="zySystemFuncBean">
		SELECT
			id                       AS id,
			zy_func_code             AS zyFuncCode,
			zy_func_parentcode 	     AS zyFuncParentcode,
			zy_func_name 			 AS zyFuncName,
			zy_func_action 	         AS zyFuncAction,
			zy_func_img              AS zyFuncImg,
			zy_func_order            AS zyFuncOrder
		FROM
			zy_system_func
		WHERE
			zy_func_code in 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
				 #{item}  
			</foreach>  
		ORDER BY
			zy_func_order
	</select>

	<!-- 查询所有 -->
	<select id="selectAll" resultType="zySystemFuncBean">
		
		SELECT
			id                       AS id,
			zy_func_code             AS zyFuncCode,
			zy_func_parentcode 	     AS zyFuncParentcode,
			zy_func_name 			 AS zyFuncName,
			zy_func_action 	         AS zyFuncAction,
			zy_func_img              AS zyFuncImg,
			zy_func_order            AS zyFuncOrder
		FROM
			zy_system_func
		ORDER BY
			zy_func_order
	</select>
	<!-- 根据登录名查询对象 -->
	<select id="selectFuncByParentcode" resultType="zySystemFuncBean">
		
		SELECT
			id                       AS id,
			zy_func_code             AS zyFuncCode,
			zy_func_parentcode 	     AS zyFuncParentcode,
			zy_func_name 			 AS zyFuncName,
			zy_func_action 	         AS zyFuncAction,
			zy_func_img              AS zyFuncImg,
			zy_func_order            AS zyFuncOrder
		FROM
			zy_system_func
		WHERE
			zy_func_parentcode = #{zyFuncParentcode}
		ORDER BY
			zy_func_order
	</select>
</mapper>