.travel_list{
	clear: both;
	width: 1200px;
	margin: 0 auto;
	color: #323232;
}
.tlst_top{
	width: 1202px;
	height: 30px;
	margin-top: 20px;
	border-bottom: 2px solid #faaf4b;
}
.tlst_top ul li{
	float: left;
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
}
.tlst_topli{
	background: #faaf4b;
	color: #fff;
}
.tlist_biger{
	width: 1200px;
}
.tlist_biger .show{
	display: block;
}
.tlist_ct{
	width: 1200px;
	margin-top:20px;
}
.tlist_ct_group{
	width: 1200px;
	clear: both;
}
.tlistctg_top{
	width: 1200px;
	border:1px solid #ccc;
	border-top: none;
}
.tgselect .hid{
	display: none;
}
.tgselect .show{
	display: block;
}
.tgselect{list-style: none;}
.tgselect li{
	width: 1198px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
#tgselect1{
	width: 1078px;
	padding-left: 20px;
	float: left;
	line-height: 41px;
}
#tgselect1 dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
#tgselect1 dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
#tgselect1 .tgselectdiv{
	width: 919px;
	float: right;
}
.tgselect li dl{
	width: 1078px;
	padding-left: 20px;

	float: left;
	line-height: 41px;
}
.tgselect li dl dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
.tgselect li dl dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
.tgselect li dl dd a{
	height: 21px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	margin-top: 7px;
}
.tgselect li dl dd a:hover{
	background-color:#f99d23;
	color: #fff;
}
.tgselect li p{
	float: left;
	background: #faaf4b;
	width: 50px;
	height: 20px;
	color: #fff;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}
.tgselect li p:hover{
	background: #f99d23;
	cursor: pointer;
}


.tgselect .tgselected a{color:#fff;background-color:#faaf4b}
.tgselect-result{
	background: #fdfdfd;
}
.tgselect-result dt{font-weight:bold}
.tgselect-no{color:#999}
.tgselect .tgselect-result a{padding-right:20px;background: url("../images/close.gif") right 9px no-repeat #faaf4b;}
.tgselect .tgselect-result a:hover{background-position:right -15px}
.tlistctg_ct{
	width: 1200px;
	clear: both;
}

.tlist_ct_setout{
	width: 1200px;
	clear: both;
}
.tlistcts_top{
	width: 1200px;
	border:1px solid #ccc;
	border-top: none;
}
.tsselect .hid{
	display: none;
}
.tsselect .show{
	display: block;
}
.tsselect{list-style: none;}
.tsselect li{
	width: 1198px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
#tsselect1{
	width: 1078px;
	padding-left: 20px;
	float: left;
	line-height: 41px;
}
#tsselect1 dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
#tsselect1 dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
#tsselect1 .tsselectdiv{
	width: 919px;
	float: right;
}
.tsselect li dl{
	width: 1078px;
	padding-left: 20px;

	float: left;
	line-height: 41px;
}
.tsselect li dl dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
.tsselect li dl dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
.tsselect li dl dd a{
	height: 21px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	margin-top: 7px;
}
.tsselect li dl dd a:hover{
	background-color:#f99d23;
	color: #fff;
}
.tsselect li p{
	float: left;
	background: #faaf4b;
	width: 50px;
	height: 20px;
	color: #fff;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}
.tsselect li p:hover{
	background: #f99d23;
	cursor: pointer;
}


.tsselect .tsselected a{color:#fff;background-color:#faaf4b}
.tsselect-result{
	background: #fdfdfd;
}
.tsselect-result dt{font-weight:bold}
.tsselect-no{color:#999}
.tsselect .tsselect-result a{padding-right:20px;background: url("../images/close.gif") right 9px no-repeat #faaf4b;}
.tsselect .tsselect-result a:hover{background-position:right -15px}
.tlistcts_ct{
	width: 1200px;
	clear: both;
}


.tlist_ct_free{
	width: 1200px;
	clear: both;
}
.tlistctf_top{
	width: 1200px;
	border:1px solid #ccc;
	border-top: none;
}
.tfselect .hid{
	display: none;
}
.tfselect .show{
	display: block;
}
.tfselect{list-style: none;}
.tfselect li{
	width: 1198px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
#tfselect1{
	width: 1078px;
	padding-left: 20px;
	float: left;
	line-height: 41px;
}
#tfselect1 dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
#tfselect1 dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
#tfselect1 .tfselectdiv{
	width: 919px;
	float: right;
}
.tfselect li dl{
	width: 1078px;
	padding-left: 20px;

	float: left;
	line-height: 41px;
}
.tfselect li dl dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
.tfselect li dl dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
.tfselect li dl dd a{
	height: 21px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	margin-top: 7px;
}
.tfselect li dl dd a:hover{
	background-color:#f99d23;
	color: #fff;
}
.tfselect li p{
	float: left;
	background: #faaf4b;
	width: 50px;
	height: 20px;
	color: #fff;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}
.tfselect li p:hover{
	background: #f99d23;
	cursor: pointer;
}


.tfselect .tfselected a{color:#fff;background-color:#faaf4b}
.tfselect-result{
	background: #fdfdfd;
}
.tfselect-result dt{font-weight:bold}
.tfselect-no{color:#999}
.tfselect .tfselect-result a{padding-right:20px;background: url("../images/close.gif") right 9px no-repeat #faaf4b;}
.tfselect .tfselect-result a:hover{background-position:right -15px}
.tlistctf_ct{
	width: 1200px;
	clear: both;
}
.tlist_ct_Destination{
	width: 1200px;
	clear: both;
}
.tlistctd_top{
	width: 1200px;
	border:1px solid #ccc;
	border-top: none;
}
.tdselect .hid{
	display: none;
}
.tdselect .show{
	display: block;
}
.tdselect{list-style: none;}
.tdselect li{
	width: 1198px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
#tdselect1{
	width: 1078px;
	padding-left: 20px;
	float: left;
	line-height: 41px;
}
#tdselect1 dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
#tdselect1 dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
#tdselect1 .tdselectdiv{
	width: 919px;
	float: right;
}
.tdselect li dl{
	width: 1078px;
	padding-left: 20px;

	float: left;
	line-height: 41px;
}
.tdselect li dl dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
.tdselect li dl dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
.tdselect li dl dd a{
	height: 21px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	margin-top: 7px;
}
.tdselect li dl dd a:hover{
	background-color:#f99d23;
	color: #fff;
}
.tdselect li p{
	float: left;
	background: #faaf4b;
	width: 50px;
	height: 20px;
	color: #fff;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}
.tdselect li p:hover{
	background: #f99d23;
	cursor: pointer;
}


.tdselect .tdselected a{color:#fff;background-color:#faaf4b}
.tdselect-result{
	background: #fdfdfd;
}
.tdselect-result dt{font-weight:bold}
.tdselect-no{color:#999}
.tdselect .tdselect-result a{padding-right:20px;background: url("../images/close.gif") right 9px no-repeat #faaf4b;}
.tdselect .tdselect-result a:hover{background-position:right -15px}
.tlistctd_ct{
	width: 1200px;
	clear: both;
}








/*閻熸粎澧楅幐绋匡耿閹绢喖绫嶉柛娑卞枤閸╋拷*/
.tlist_ct_local{
	width: 1200px;
	clear: both;
}
/*閻熸粎澧楅幐绋匡耿閹绢喖绫嶉柛娑卞枤閸╂顭块懜鍨唉闁稿函鎷�*/
.tlstctlcal_top{
	width: 1200px;
	border-top:2px solid #faaf4d !important;
	border:1px solid #ccc;
}

/*闂備緡鍋勯ˇ鐢稿Υ閿燂拷*/
.tlselect{list-style: none;}
.tlselect li{
	width: 1198px;
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}
#tlselect1{
	width: 1078px;
	padding-left: 20px;
	float: left;
	line-height: 41px;
}
#tlselect1 dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
#tlselect1 dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
#tlselect1 dd.hid{
	display: none;
}
#tlselect1 dd.show{
	display: block !important;
}
#tlselect1 .tlselectdiv{
	width: 919px;
	float: right;
}
.tlselect li dl{
	width: 1078px;
	padding-left: 20px;

	float: left;
	line-height: 41px;
}
.tlselect li dl dt{
	width: 100px;
	text-align: right;
	height: 41px;
	line-height: 41px;
	float: left;
}
.tlselect li dl dd{
	float: left;
	height: 41px;
	line-height: 41px;
	margin-right: 5px;
}
.tlselect li dl dd a{
	height: 21px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
	float: left;
	margin-top: 7px;
}
.tlselect li dl dd a:hover{
	background-color:#f99d23;
	color: #fff;
}
/*闂佸搫娲﹀娆撍囬敓锟�*/
.tlselect li p{
	float: left;
	background: #faaf4b;
	width: 50px;
	height: 20px;
	color: #fff;
	margin-top: 10px;
	line-height: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 3px;
}
.tlselect li p:hover{
	background: #f99d23;
	cursor: pointer;
}


.tlselect .tlselected a{color:#fff;background-color:#faaf4b}
.tlselect-result{
	background: #fdfdfd;
	border-bottom:none !important;
}
.tlselect-result dt{font-weight:bold}
.tlselect-no{color:#999}
.tlselect .tlselect-result a{padding-right:20px;background: url("../images/close.gif") right 9px no-repeat #faaf4b;}
.tlselect .tlselect-result a:hover{background-position:right -15px}
/*閻熸粎澧楅幐绋匡耿閹绢喖绫嶉柛娑卞枤閸╂鏌涢幇顒佸櫣妞ゆ梹鍔欓弻鍫ュΩ閵夈儳锟斤拷*/
.tlistctl_ct{
	width: 1200px;
	clear: both;
}
.tlistctl_ctl{
	float: left;
	width: 930px;
}
.tlistctl_ctltop{
	width: 928px;
	height: 30px;
	border:1px solid #ccc;
}
.tlistctl_ctltop span{
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 100px;
	font-size: 12px;
	color: #323232;
	font-weight: bold;
	border-right: 1px solid #ccc;
	float: left;
}
.tlistctl_ctltpm{
	float: left;
	width: 184px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border-right: 1px solid #ccc;
}
.tlistctl_ctltpm input{
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #ccc;
}
.tlistctl_ctltop label{
	float: right;
	margin-right: 40px;
	height: 30px;
	line-height: 30px;
}
.tlistctl_ctltop label input{
	width: 15px;
	height: 15px;
	float: left;
	margin-top: 8px;
}
.tlistctl_ctltop label p{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	padding-left: 5px;
}
/*闁诲繐绻愮换鎺懨洪崨顖ゆ嫹濞戣櫕瀚�*/
.tlistctl_ctlbox{
	width: 910px; 
	height: 160px;
	border:1px solid #ccc;
	float: left;
	padding: 20px 0px 20px 18px;
	margin-top: 10px;
}
.tlistctl_ctlbox:hover{
	border:1px solid #f00;
}
.tlistctl_ctlboxl{
	float: left;
	width: 230px;
	height: 160px;
}
.tlistctl_ctlboxl img{
	float: left;
	width: 230px;
	height: 160px;
}
.tlistctl_ctlboxm{
	float: left;
	width: 485px;
	height: 160px;
	margin-left: 20px;
}
.tlistctl_ctlboxmf{
	width: 460px;
	float: left;
	line-height: 26px;
	font-size: 16px;
	color: #278cc9;
	margin-top: 8px;
	margin-bottom: 15px;
}
.tlistctl_ctlboxmx{
	width: 460px;
	height: 22px;
	line-height: 22px;
}
.tlistctl_ctlboxmx span{
	float: left;
	width: 75px;
	height: 22px;
	text-align: left;
	line-height: 22px;
	font-size: 12px;
	color: #989898;
}
.tlistctl_ctlboxmx p{
	float: left;
	width: 385px;
	height: 22px;
	line-height: 22px;
	text-align: left;
	font-size: 12px;
	color: #323232;
}
.tlistctl_ctlboxmx p img{
	float: left;
	height: 12px;
	margin-top: 5px;
}
.tlistctl_ctlboxr{
	float: left;
	width: 150px;
	height: 160px;
}
.tlistctl_ctlboxr label{
	float: left;
	margin-top: 40px;
	padding-left: 10px;
	height: 22px;
}
.tlistctl_ctlboxr label span{
	font-size: 22px;
	color: #eb6464;
	float: left;
}
.tlistctl_ctlboxr label p{
	float: left;
	height: 12px;
	margin-top: 10px;
	margin-left: 2px;
	font-size: 12px;
}
.tlistctl_ctlboxr a{
	float: left;
	width: 100px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	background: #eb6464;
	margin-top: 30px;
}
.tlistctl_ctlboxr a:hover{
	background: #e52828;
}
/*闂佸憡鐟ラ悿鍥╃博閿燂拷0*/
.tlistctl_ctr{
	float: right;
	width: 250px;
	margin-top: 10px;
}
/*闂佺粯鍩堥崣鍐ㄎ涢鍕柧妞ゆ牗鑹鹃梾锟�*/
.tour_scenic{
	width: 230px;
	float: left;
	border:1px solid #ccc;
	padding: 10px 0px 20px 18px;
}
.tour_scenic h1{
	float: left;
	width: 230px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.tour_scbox{
	float: left;
	width: 230px;
	height: 70px;
	margin-top: 10px;
	cursor: pointer;
}
.tour_scbximg{
	float: left;
	width: 100px;
	height: 70px;
}
.tour_scbxfont{
	float: left;
	width: 115px;
	height: 70px;
}
.tour_scbxfont span{
	float: left;
	height: 15px;
	text-align: left;
	line-height: 15px;
	font-size: 12px;
	color: #323232;
	margin-top: 4px;
	padding-left: 2px;
}
.tour_scbxfont label{
	float: left;
	width: 130px;
	height: 20px;
	margin-top: 10px;
}
.tour_scbxfont label h2{
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #eb6464;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 2px;
}
.tour_scbxfont label p{
	float:left;
	font-size: 12px;
	color: #323232;
	height: 18px;
	line-height: 18px;
	margin-top: 2px;
}
/*闂佺粯鍩堥崣鍐ㄎ涢鍕拻闁靛ě浣镐憾*/
.tour_ticket{
	width: 230px;
	float: left;
	border:1px solid #ccc;
	margin-top: 10px;
	padding: 10px 0px 20px 18px;
}
.tour_ticket h1{
	float: left;
	width: 230px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
}
.tour_ttbox{
	float: left;
	width: 230px;
	height: 70px;
	margin-top: 10px;
	cursor: pointer;
}
.tour_ttbximg{
	float: left;
	width: 100px;
	height: 70px;
}
.tour_ttbxfont{
	float: left;
	width: 130px;
	height: 70px;
	margin-left:112px;
	margin-top:-74px;
}
.tour_ttbxfont span{
	float: left;
	height: 15px;
	text-align: left;
	line-height: 15px;
	font-size: 12px;
	color: #323232;
	margin-top: 4px;
	padding-left: 3px;
}
.tour_ttbxfont label{
	float: left;
	width: 130px;
	height: 20px;
	margin-top: 10px;
}
.tour_ttbxfont label h2{
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	color: #eb6464;
	font-weight: bold;
	margin-right: 2px;
}
.tour_ttbxfont label p{
	float:left;
	font-size: 12px;
	color: #323232;
	height: 18px;
	line-height: 18px;
	margin-top: 2px;
}
/*闂佸憡甯掑Λ婵嬪Υ婢跺顩烽柨婵嗘川閸拷*/
.g_xpage{font-size:14px;line-height:24px;color:#323232; text-align:right;margin-top:15px;float:left;width:930px;}
.g_xpage a{padding:3px 8px;margin-left:10px;border:1px solid #c9c9c9;vertical-align:top;}
.g_xpage a.on{background-color:#faaf4b;color:#fff;}
.g_xpage .input_txt{width:20px;height:23px;padding:0 2px;margin:0 5px;}
