.visa{
	width: 1200px;
	margin: 0 auto;
	clear: both;
}
.visa_top{
	width: 1200px;
	height: 163px;
	margin-top: 20px;
}
.visa_topl{
	width: 958px;
	height: 163px;
	float: left;
}
.visa_crumbs{
	width: 958px;
	height: 12px;
	line-height: 12px;
	font-size: 12px;
	color: #323232;
	float: left;
}
.visa_title{
	width: 958px;
	height: 44px;
	float: left;
}
.visa_title span{
	float: left;
	height: 44px;
	line-height: 44px;
	text-align: left;
	font-size: 24px;
	color: #323232;
}
.visa_title label{
	float: left;
	margin-left: 25px;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	color: #eb6464;
}
.visa_title label strong{
	font-size: 24px;
	color: #eb6464;
}
.visa_date{
	width: 958px;
	height: 30px;
	margin-top: 7px;
	padding-top: 11px;
	padding-bottom: 11px;
	border-bottom: 1px dotted #ccc; 
	float: left;
}
.visa_date span{
	float: left;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	margin-right: 10px;
}
.visa_date input{
	height: 28px;
	line-height: 28px;
	width: 148px;
	float: left;
	padding-left: 10px;
	border: 1px solid #ccc;
	margin-right: 35px;
}
.visa_date select{
	width: 65px;
	height: 28px;
	line-height: 28px;
	float: left;
	margin-right: 35px;
	text-align: center;
}
.visa_date select option{
	width: 65px;
	height: 28px;
	line-height: 28px;
	float: left;
	text-align: center;
}
.visa_date button{
	float: right;
	margin-right: 90px;
	width: 100px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	background: #faaf4b; 
	border:0;
	outline: none;
}
.visa_date button:hover{
	background:#f99d23; 
}
.visa_topr{
	width: 242px;
	height: 163px;
	float: left;
}
.visa_topr img{
	width: 200px;
	height: 118px;
	float: left;
	margin-top: 45px;
	margin-left: 42px;
}
/*起价说明*/
.visa_qijia{
	width: 958px;
	height: 48px;
	float: left;
}
.visa_qijial{
	float: left;
	width: 60px;
	height: 48px;
	line-height: 24px;
	font-size: 12px;
	color: #969696;
}
.visa_qijiar{
	width: 898px;
	height: 48px;
	float: left;
	color: #969696;
	font-size: 12px;
	line-height: 24px;
}
/*8*/
.visa_tct{
	clear: both;
	width: 1200px;
	margin-top: 10px;
	margin-bottom:10px;
}
.visa_tct1l{
	float: left;
	width: 102px;
	font-size: 14px;
	line-height: 26px;
	font-weight:bold;
}

.visa_tct1r{
	width: 1098px;
	float: left;
	line-height: 26px;
}
.visa_tct1r img{
	height: 16px;
	margin-top: 5px;
	float: left;
	cursor: pointer; 
}
.visa_tct2l{
	float: left;
	width: 102px;
	text-align: left;
	height: 26px;
	font-size: 14px;
	line-height: 26px;
	font-weight:bold;
}
.visa_tct2r{
	width: 1098px;
	float: left;
	font-size: 14px;
	line-height: 26px;
}
.visa_span{
	float:left;
	font-size: 14px;
	line-height: 26px;
	width: 300px;
}
.visa_tct3l{
	float: left;
	width: 102px;
	text-align: left;
	height: 26px;
	font-size: 14px;
	line-height: 26px;
}
.visa_tct3r{
	width: 1098px;
	float: left;
	
}
.visa_shouli{
	width: 1098px;
	float: left;
	font-size: 14px;
	line-height: 26px;
}
/*材料明细*/
.visa_cter{
	width: 1200px;
	clear: both;
}
.visa_ctertop{
	width: 1200px;
	height: 28px;
	float: left;
	line-height: 28px;
	border-bottom: 2px solid #2da0e6;
	margin-top:30px;
}
.visa_ctertop li{
	float: left;
	width: 100px;
	line-height: 28px;
	text-align: center;
	height: 28px;
	font-size: 14px;
	margin-right: 5px;
	cursor: pointer;
}
/*鼠标悬浮*/
.visa_ctertoplihover{
	background: #2da0e6;
	color: #fff;
}
/*材料明细*/
.visa_cterbig{
	width: 1200px;
	clear: both;
}
.visa_cterbox{
	width: 1198px;
	border:1px solid #ccc;
	border-top: none;
	float: left;
}
.visact_bul{
	width: 1159px;
	height: 20px;
	padding-top: 26px;
	margin-left: 18px;
	border-bottom: 2px solid #ccc;
	position: relative;
}
.visact_bul li{
	float: left;
	height: 20px;
	line-height: 4px;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
	text-align: center;
}
.visact_bul p{
	height: 2px;
	width: 100px;
	background: #faaf4b;
	position: absolute;
	left: 0;
	top: 46px;
}
.visact_bullihover{
	color: #faaf4b;
}
.visa_cterboxbiger{
	width: 1159px;
	clear: both;
}
.visa_cterboxbiger .show{
	display: block;
	float: left;
}
.visa_cterboxbd{
	display: none;
}
.visa_ctbxbd{
	width: 1108px;
	float: left;
	margin: 20px 46px 0 44px;
	padding-bottom:30px;
}
/*在职*/
.visa_ctbxbdl{
	float: left;
	width: 180px;
	padding-top: 10px;
	line-height: 20px;
	padding-left: 15px;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}
.visa_ctbxbdr{
	float: left;
	width: 964px;
}
.visa_ctbxbdrbox{
	width: 964px;
	float: left;
	height: 30px;
}
.visa_ctbxbdrbox span{
	width: 800px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	padding-top: 10px;
}
.visa_ctbxbdrbox a{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: right;
	background: #faaf4b;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
}
.visa_ctbxbdrbox a:hover{
	background: #f99d23;
}
.visa_ctbxbdr p{
	width: 964px;
	float: left;
	line-height: 20px;
	font-size: 12px;
	color: #323232;
}
.visa_down{
	width: 1159px;
	height: 100px;
	float: left;
}
.visa_down a{
	width: 90px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	background: #faaf4b;
	color: #fff;
	font-size: 16px;
	border-radius: 3px;
	margin-left: 530px;
	margin-top: 30px;
}
.visa_down a:hover{
	background: #f99d23;
}
/*预订须知*/
.visa_cterbox2{
	width: 1158px;
	clear: both;
	padding: 28px 20px;
}
.visa_cterb2span{
	width: 1158px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #969696;
	float: left;
}
.visa_cterb2h{
	float: left;
	margin-right:10px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #323232;
}
.visa_cterbox2 p{
	line-height: 20px;
	font-size: 12px;
	color: #323232;
	float: left;
}