<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>档期管理</title>
    <link href="css/tanchu.css" rel="stylesheet" type="text/css"/>
   
</head>
<body>
<!-- content -->
<div class="tanchu">
<div class="biaoti">输入金额</div>
<div class="wenben"><p>请选择开始日期</p><div class="biao"><table width="100%" border="0">
  <tr>
    <td>
    <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
   
    </select>
    </td>
    <td>月</td>
      <td>
    <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
     <option>25</option>
    <option>26</option>
    <option>27</option>
    <option>28</option>
    <option>29</option>
    <option>30</option>
    <option>31</option>
    
   
    </select>
    </td>
    <td>日</td>
  </tr>
</table>
</div>
<div class="clear"></div>
</div>
<div class="wenben"><p>请选择结束日期</p><div class="biao"><table width="100%" border="0">
  <tr>
    <td>
    <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
   
    </select>
    </td>
    <td>月</td>
      <td>
    <select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
    <option>11</option>
    <option>12</option>
    <option>13</option>
    <option>14</option>
    <option>15</option>
    <option>16</option>
    <option>17</option>
    <option>18</option>
    <option>19</option>
    <option>20</option>
    <option>21</option>
    <option>22</option>
    <option>23</option>
    <option>24</option>
     <option>25</option>
    <option>26</option>
    <option>27</option>
    <option>28</option>
    <option>29</option>
    <option>30</option>
    <option>31</option>
    
   
    </select>
    </td>
    <td>日</td>
  </tr>
</table>
</div>
<div class="clear"></div>
</div>
<div class="wenben">
<input type="text" value="当前金额300元" class="jine">
</div>
<div class="wenben anniu1">
<div class="anniu"><a href="#" class="shuxian" style="color:#900">确定</a></div>
<div class="anniu"><a href="#">取消</a></div>
</div>
</div>


</body>
</html>