<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>信息详情</title>
    <link href="css/tanchu.css" rel="stylesheet" type="text/css"/>
   
</head>
<body>
<!-- content -->
<div class="tanchu">
<div class="biaoti">信息详情</div>
<div class="xiangq">
  <table style="line-height: 40px;">
    <tr>
      <td align="right">联系方式：</td>
      <td>13455453422</td>
    </tr>
    <tr>
      <td align="right">出发地：</td>
      <td>北京</td>
    </tr>
    <tr>
      <td align="right">目的地：</td>
      <td>厦门</td>
    </tr>
    <tr>
      <td align="right">预约时间：</td>
      <td>8月12日至8月30日</td>
    </tr>
    <tr>
      <td align="right">用户留言：</td>
      <td>厦门相约不见不散</td>
    </tr>
  </table>
</div>


<div class="wenben anniu1">
<div class="anniu"><a href="#" class="shuxian" style="color:#900">确定</a></div>
<div class="anniu"><a href="#">取消</a></div>
</div>
</div>


</body>
</html>