<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <title>编辑资料</title>
    <link href="css/global.css" rel="stylesheet" type="text/css"/>
    
</head>
<body>
<!-- header -->
<div class="header">
    <a class="left_btn">
        <img src="img/left_btn.png"/>
    </a>
    设置

</div>

<!-- content -->
<div class="content">
<div class="shezhi">
    <ul>
        <li><a href="#">上传头像</a></li>
        <li><a href="#">修改密码</a></li>
        <li><a href="#">注销登录</a></li>
        <li><a href="#">退出</a></li>
    </ul>

</div>
</div>

<!-- footer -->
<div class="footer">
    <a href="schedule.html"><img src="img/menu_1.png"/></a>
    <a href="order.html"><img src="img/menu_2.png"/></a>
    <a href="records.html"><img src="img/menu_3.png"/></a>
    <a href="gallery.html"><img src="img/menu_4.png"/></a>
    <a href="userinfo.html"><img src="img/menu_5_focus.png"/></a>
</div>
</body>
</html>