<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="role">

	<!-- 查询所有数据，用于ErimUtils单例数据生成 -->
	<select id="selectAll" parameterType="hashMap" resultType="roleBean">
		SELECT
			role_id         AS roleId,
			role_name       AS roleName
		FROM
			tm_system_role
		ORDER BY
			role_id
	</select>

	<!-- 根据角色ID查找角色信息，用于用户登录 -->
	<select id="selectEntityById" parameterType="hashMap" resultType="roleBean">
		SELECT
			role_id         AS roleId,
			role_name       AS roleName,
			role_auth       AS roleAuth
		FROM
			tm_system_role
		WHERE
			role_id = #{roleId}
	</select>
	
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectPage" parameterType="hashMap" resultType="roleBean">
		SELECT
			role_id         AS roleId,
			role_name       AS roleName,
			role_auth       AS roleAuth,
			role_remark     AS roleRemark
		FROM
			tm_system_role
		<where>
			<if test="roleId != null">and role_id = #{roleId}</if>
			<if test="roleName != null">and role_name like "%"#{roleName}"%"</if>
			<if test="roleRemark != null">and role_remark like "%"#{roleRemark}"%"</if>
		</where>
		<if test="qrysort != null">order by ${qrysort} ${qrymode}</if>
	</select>

	<!-- 查询总数，用于页面分页 -->
	<select id="selectCount" parameterType="hashMap" resultType="int">
		SELECT
			count(1)
		FROM
			tm_system_role
		<where>
			<if test="roleId != null">and role_id = #{roleId}</if>
			<if test="roleName != null">and role_name like "%"#{roleName}"%"</if>
			<if test="roleRemark != null">and role_remark like "%"#{roleRemark}"%"</if>
		</where>
	</select>

	<!-- 增加 -->
	<insert id="insert" parameterType="hashMap">
		INSERT INTO
			tm_system_role(role_name,role_remark)
		VALUES
			(#{roleName},#{roleRemark})
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="hashMap">
		UPDATE
			tm_system_role
		SET
			role_name = #{roleName},
			role_remark = #{roleRemark}
		WHERE
			role_id = #{dataitems[0].roleId}
	</update>

	<!-- 授权 -->
	<update id="auth" parameterType="hashMap">
		UPDATE
			tm_system_role
		SET
			role_auth = #{roleAuth}
		WHERE
			role_id = #{dataitems[0].roleId}
    </update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="hashMap">
		DELETE FROM
			tm_system_role
		WHERE
			role_id
		IN
			<foreach collection="dataitems" item="item"  open="(" separator="," close=")">#{item.roleId}</foreach>
	</delete>

	<!-- 验证“角色名称”是否重复 -->
	<select id="verifyRoleName" parameterType="String" resultType="int">
		SELECT
			count(1)
		FROM
			tm_system_role
		WHERE
			role_name = #{roleName}
	</select>
</mapper>