<div class="hlindex">
	<div class="hti_top">
		<span class="person">个人中心</span>
	</div>
    <div class="hti_center">
    	<div class="hti_centerbig">
    		<div class="hti_centerl">
    			<div class="hti_ctlline line_top">
    				<img src="$staticRoot/images/hti1.png">
    				<span class="hti_ctllname">账号权限：</span>
    				<span class="hti_ctlltxt">$userRoleName</span>
    				<!--[<a href="#">权限管理</a>]-->
    			</div>
    			<div class="hti_ctlline">
    				<img src="$staticRoot/images/hti2.png">
    				<span class="hti_ctllname">您上次登录：</span>
    				<span class="hti_ctlltxt">$!zyLastLoginIp &nbsp;$!date.format('yyyy年MM月dd日 HH:mm:ss',$!zyLastLoginTime)</span>
    			</div>
    			<div class="hti_ctllinea">
					#if($erim.isNotEmpty($!zyLastLoginAddress))
						($!zyLastLoginAddress)
					#end
    			</div>
    			<div class="hti_ctllinea">
    				[如果不是您登录，点击这里<a href="javascript:index.load('$appRoot/zy/user/updatePadPage');">修改密码</a>]
    			</div>
				<div class="hti_ctlline" style="clear:both;">
					<img src="$staticRoot/images/hti3.png">
                    <span class="hti_ctllname">品牌名称：</span>
                    <span class="hti_ctlltxt" style="height:auto;">$!userCommpany.cpyBrand</span>
                </div>
    			<div class="hti_ctlline" style="clear:both;">
    				<img src="$staticRoot/images/hti3.png">
    				<span class="hti_ctllname">公司名称：</span>
    				<span class="hti_ctlltxt" style="height:auto;">$!userCpyName</span>
    			</div>
				<div class="hti_ctlline" style="clear:both;">
    				<img src="$staticRoot/images/hti3.png">
    				<span class="hti_ctllname">经营产品类别：</span>
    				<span class="hti_ctlltxt" style="height:auto;">
						#vtext($!userCommpany.cbsProductType,'C121')
					</span>
    			</div>
    			<div class="hti_ctlline" style="clear:both;">
    				<img src="$staticRoot/images/hti7.png">
					<span class="hti_ctllname">同业服务范围：</span>
					<span class="hti_ctlltxt">
						#vregion($!userCommpany.cbsProProvince)
						#vregion($!userCommpany.cbsProCity)
						#vregion($!userCommpany.cbsProCounty)
					</span>
    			</div>
    			<div class="hti_ctlline" style="clear:both;">
    				<img src="$staticRoot/images/hti8.png">
    				<span class="hti_ctllname">公司地址：</span>
    				<span class="hti_ctlltxt hti_ctlltxt-width360" style="height:auto;">
						#if($!userCommpany.cpyIsInland == '02') 
							#vregion($!userCommpany.cpyProvince) #vregion($!userCommpany.cpyCity) #vregion($!userCommpany.cpyCounty) 
						#else
							#if($!userCommpany.cpyExternal == '04')
								$!userCommpany.cpyForeign $!userCommpany.cpyForeignCity
							#else
								#vtext($!userCommpany.cpyExternal,'C108')
							#end
						#end 
						$!userCommpany.cpyAddress</span>
    			</div>
    			<div class="hti_ctlline" style="clear:both;">
    				<img src="$staticRoot/images/hti9.png">
    				<span class="hti_ctllname">公司电话：</span>
    				<span class="hti_ctlltxt">$!userCommpany.cpyTelephone</span>
    			</div>
    			<div class="hti_ctlline" style="clear:both;">
    				<img src="$staticRoot/images/hti10.png">
    				<span class="hti_ctllname">公司邮箱：</span>
    				<span class="hti_ctlltxt">$!userCommpany.cpyEmail</span>
    			</div>
    		</div>
    	</div>
    	<div class="hti_centerr">
    		<h2>系统通知</h2>
			#foreach($item in $noticeList)
    		<div class="hti_ctrline">
    			<a href="javascript:index.load('$appRoot/notice/detail/view?id=$item.id');" class="hti_ctrlnew">$item.pneTitle！</a>
    			<span class="hti_ctrln">
    				new
    			</span>
    			<span class="hti_ctrlr">
					$date.format('yyyy年MM月dd日',$!item.pneCreatetime)
    			</span>
    		</div>
			#end
    	</div>
    </div>
</div>
<!--/个人中心-->