<!DOCTYPE HTML>
<html>
<head>
<title>北京佳旅联合国际旅行社有限公司_www.jialvlianhe.com</title>
<meta charset="utf-8">
<meta name="renderer" content="webkit" />
<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
<link rel="bookmark" href="$staticRoot/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="$staticRoot/css/index.css">
<link rel="stylesheet" type="text/css" href="$staticRoot/css/zutuan.css">
<link href="$staticRoot/css/headerfooter.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="$staticRoot/css/all.css" />
</head>
<style type="text/css">
.logo_img{vertical-align:top;margin-right:10px;margin-top:10px;border:none;}
.title_1{display:inline-block;font:bold 34px/70px microsoft yahei;color:#1482c8;margin-top:10px;*display:inline;overflow:hidden;zoom:1;}
.title_1 .red{font:bold 34px/70px microsoft yahei;color:#fa6464;}
</style>
<body>
	<div class="indexwrap">
		<div class="indexhead">
        	<div class="indexheadtop">
        		<div class="indexheadtopwrap">
        			<div class="indexheadtopleft">
        				<ul></ul>
        			</div>
        			<div class="indexheadtopright">
        				<ul>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="indexheadcenter">
        		<div class="indexheadcenterwrap">
        			<a href="#"><img class="logo_img" src="$staticRoot/images/logo.png" width="100" height="71"></a><h1 class="title_1">已合作组团社：<span class="red">265</span>家</h1>
        		</div>
        	</div>
        </div>
	</div>
	<div class="zuteam">
        <a href="http://sell.jialvlianhe.com" class="zuteam-top zutuan" title="" target="_blank">组团社入口</a>
        <a href="http://line.jialvlianhe.com" class="zuteam-top line" title="" target="_blank">专线商入口</a>
        <a href="http://crm.jialvlianhe.com" class="zuteam-top crm" title="" target="_blank">生产商入口</a>
        <a href="http://help.jialvlianhe.com" class="zuteam-top help mr0" title="" target="_blank">帮助中心</a>
        <div class="zuteam-line">
            已合作组团社
        </div>
        <div class="zuteam-main">
            <h1 class="zuteam-title">河北省</h1>
            <br clear="left">
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <h1 class="zuteam-title">安徽省</h1>
            <br clear="left">
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <h1 class="zuteam-title">安徽省</h1>
            <br clear="left">
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a" title="" target="_blank" href="#">安徽张占波旅行社</a>
            <a class="zuteam-a mr0" title="" target="_blank" href="#">安徽张占波旅行社</a>
        </div>
    </div>
</body>
</html>
<!--bar-->
<script type="text/javascript" src="$staticRoot/js/jquery.min.js"></script>
<script type="text/javascript" src="$staticRoot/js/index.js"></script>
<!--bar结束-->