<div class="g_head clearfix">
    <div class="logo_block" style="width:400px;" >
        ##<a href="#"><img src="$staticRoot/images/index_03.jpg"></a>
		##<span style="font-size:28px;color:#09A2FB;line-height:80px;">$!userCompany.cpyName </span>
		<span style="font-size:28px;color:#09A2FB;line-height:80px;">佳旅联合佣金系统</span>
    </div>
    <div class="htopr">
        <span>$userName</span>
		<a href="javascript:index.load('$appRoot/welcome');" class="signout">首页</a>&nbsp;&nbsp;
        <a href="$appRoot/loginOut" class="signout">退出</a>&nbsp;&nbsp;
        <a class="edit_password" href="javascript:index.load('$appRoot/yj/user/updatePadPage');">修改密码</a>
    </div>
</div>
<div class="g_crumbs">
    <span class="data_span">今天是&nbsp;&nbsp;$erim.nowDate()</span>
	<span class="crumbs_span">
		服务费返利共计：0元  一级返利共计：0元  二级返利共计：0元  总计：0元  已提现：0元 余额：0元   <a href="#" style="color:yellow;">申请提现</a> 
	</span>
</div>