
    <div class="g_left_block" style="overflow:hidden;overflow:auto;">

		#foreach($item in $parentListFunc)
			<div class="subNav">
                $item.yjFuncName
            </div>
            <ul class="navContent g_menu">
				#foreach($fun in $childListFunc)
    				#if($fun.yjFuncParentcode == $item.yjFuncCode)
                        <li>
                            <a href="javascript:;" onclick="left.location('$appRoot$fun.yjFuncAction','$item.yjFuncName','$fun.yjFuncName');">$fun.yjFuncName</a>
                        </li>
					#end
    			#end
            </ul>
		#end

    </div>

	
