<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="managementorder">
	<sql id="sql_query">
		<where>
			1 = 1
			<if test="morCode != null">			and 	mor_code 			like "%"#{morCode}"%"</if>
		<!--<if test="cpyId != null">		    and 	   cpy_id		 		= 	 #{cpyId}</if>
			<if test="morTotalprice != null">	and 	mor_totalprice 		like "%"#{morTotalprice}"%"</if>
			<if test="morIssure != null">		and 	mor_issure 			like "%"#{morIssure}"%"</if>
			<if test="morPayOnline != null">	and 	mor_pay_online 		like "%"#{morPayOnline}"%"</if>
			<if test="morPayOffline != null">	and 	mor_pay_offline 	like "%"#{morPayOffline}"%"</if>
			<if test="morPayMoney != null">		and 	mor_pay_money 		like "%"#{morPayMoney}"%"</if>
			<if test="morNtype != null">		and 	mor_ntype 			like "%"#{morNtype}"%"</if>
			<if test="morCreatetime != null">	and 	mor_createtime 		like "%"#{morCreatetime}"%"</if>
			<if test="morCreateuser != null">	and 	mor_createuser 		like "%"#{morCreateuser}"%"</if>
			<if test="morIsThrough != null">	and 	mor_is_through 		like "%"#{morIsThrough}"%"</if>
			<if test="morNpt != null">			and 	mor_ntp 			like "%"#{morNpt}"%"</if>-->
		</where>
	</sql>
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectPageManagement" resultType="managementOrderBean">
		SELECT
			id ,
			mor_code 			AS morCode,
			mor_totalprice 		AS morTotalprice,
			mor_issure 			AS morIssure,
			mor_pay_online 		AS morPayOnline,
			mor_pay_offline 	AS morPayOffline,
			mor_pay_money 		AS morPayMoney,
			mor_ntype 			AS morNtype,
			mor_createtime 		AS morCreatetime,
			mor_createuser 		AS morCreateuser,
			mor_is_through 		AS morIsThrough,
			mor_ntp        		AS morNpt,
			cpy_id          	AS  cpyId
		FROM
			management_order
		<include refid="sql_query" />
	</select>

	<!-- 查询总数，用于页面分页 -->
	<select id="selectPageManagementCount" resultType="int">
		SELECT
			count(1)
		FROM
			management_order
		<include refid="sql_query" />
	</select>

	<!-- 增加 -->
	<insert id="insert">

		INSERT INTO
			management_order
			(
				mor_code,
				mor_totalprice,
				mor_issure,
				mor_pay_online,
				mor_pay_offline,
				mor_pay_money,
				mor_ntype,
				mor_createtime,
				mor_createuser,
				cpy_id
			)
		VALUES
			(
				#{morCode},
				#{morTotalprice},
				#{morIssure},
				#{morPayOnline},
				#{morPayOffline},
				#{morPayMoney},
				#{morNtype},
				sysdate(),
				#{morCreateuser},
				#{cpyId}
			)
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE
			management_order
		SET
			mor_code 		= #{morCode},
			mor_totalprice  = #{morTotalprice},
			mor_issure 		= #{morIssure},
			mor_pay_online  = #{morPayOnline},
			mor_pay_offline = #{morPayOffline},
			mor_pay_money   = #{morPayMoney},
			mor_ntype 		= #{morNtype},
			cpy_id  		= #{cpyId}
		WHERE
			id = #{dataitems[0].id}
	</update>

	<!-- 接单/拒接 -->
	<update id="receiveOrRefuse" parameterType="ManagementOrderBean">
		UPDATE
			management_order
		SET
			mor_ntp = #{morNpt}
		WHERE
			id = #{id}
	</update>
	
	
	<!-- 删除 -->
	<delete id="delete" parameterType="hashMap">
		DELETE FROM
			management_order
		WHERE
			id
		IN
			<foreach collection="dataitems" item="item"  open="(" separator="," close=")">#{item.id}</foreach>
	</delete>
	
</mapper>