<link rel="stylesheet" type="text/css" href="$staticRoot/css/jipiao.css">
<link rel="stylesheet" type="text/css" href="$staticRoot/css/planeticket/planeticket.css">
<div class="jd_block">
	<p class="tit_1 ml20">
		<img src="$staticRoot/images/jp_03.png" alt="修改机票" title="修改机票">修改单程直飞航班机票
	</p>
	<input type="hidden" name="city" value="$planeticketDetail.ptdStartCity" />
	<input type="hidden" name="endcity" value="$planeticketDetail.ptdEndCity" />
	<input type="hidden" name="jtcity" value="$planeticketDetail.ptdCity" />
	<form method="post" id="form1">
		<input type="hidden" name="id" value="$!planeticketDetail.id" />
		<div class="g_line"></div>
		<div class="flt_box mr60">
			<span class="ml55"><b></b></span>
			<div class="cb"></div>
			<div class="input_block clearfix">
				<div class="label_left w130">机票类型：</div>
				<div class="input_right input_right_wauto">
					<label class="w110">
						<input type="radio" id="start1" name="ptdIsInternational" value="01" #if($planeticketDetail.ptdIsInternational == '01') checked #end/>国内
					</label> 
					<label>
						<input type="radio" id="start2" name="ptdIsInternational" value="02" #if($planeticketDetail.ptdIsInternational == '02') checked #end/>国际·港澳台
					</label>
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">所属航空公司：</div>
				<div class="input_right input_right_wauto">
					<input class="w200 validate[required,maxSize[20]]" name="ptdCompany" value="$!planeticketDetail.ptdCompany">
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">航班号：</div>
				<div class="input_right input_right_wauto">
					<input class="w200 validate[required,maxSize[10]]" name="ptdNumber" value="$!planeticketDetail.ptdNumber">
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">机型：</div>
				<div class="input_right input_right_wauto">
					<input class="w200 validate[required,maxSize[10]]" name="ptdModel" value="$!planeticketDetail.ptdModel">
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
		<!--	<div class="input_block clearfix">
				<div class="label_left">经济舱：</div>
				<div class="input_right input_right_wauto">
					<span class="tishi_box w130">
						<input type="text" class="w110 validate[required,custom[integer],min[1],maxSize[3]]" name="ptdClassEconomy" value="$!planeticketDetail.ptdClassEconomy">个</span> 座位 
				</div><span style="margin-left:10px;color:red;">*</span>
            </div>
			<div class="input_block clearfix">
				<div class="label_left">商务舱 ：</div>
				<div class="input_right input_right_wauto">
						<span class="tishi_box w130">
						<input type="text" class="w110 validate[custom[integer],min[1],maxSize[3]]" name="ptdClassBusiness" value="$!planeticketDetail.ptdClassBusiness">个</span> 座位
				</div>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">头等舱 ：</div>
				<div class="input_right input_right_wauto">
						<span class="tishi_box w130">
						<input type="text" class="w110 validate[custom[integer],min[1],maxSize[3]]" name="ptdFirstClass" value="$!planeticketDetail.ptdFirstClass">个</span> 座位
				</div>
			</div> -->
			<div class="input_block clearfix">
				<div class="label_left">出发国家：</div>
				<div class="input_right input_right_wauto">
					<label class="w110">
						<input type="radio" onclick="$('#start_gj').hide();$('#start_gn').show();$('#county').hide();" name="ptdStartState" value="01"  #if($planeticketDetail.ptdStartState == '01') checked #end/>国内
					</label> 
					<label>
						<input type="radio"  onclick="$('#start_gj').show();$('#start_gn').hide();$('#county').hide();" name="ptdStartState" value="02" #if($planeticketDetail.ptdStartState == '02') checked #end/>国际·港澳台
					</label>
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix" id="start_gn">
				<div class="label_left">出发地：</div>
				<div class="input_right input_right_wauto">
					<select class="w90" name="ptdStartProvince">
						#foreach($item in $provinces)
						 <option value="$item.regionNo" #if($planeticketDetail.ptdStartProvince == $item.regionNo) selected #end>$item.regionName</option> 
						#end
					</select>
					<span>省</span>
					<select name="ptdStartCity" value="$!planeticketDetail.ptdStartCity" style="width: 90px;">
					</select>市
					<span style="margin-left:10px;color:red;">*</span>
				</div>
			</div>
			<div class="input_block clearfix" id="start_gj">
				<div class="label_left">出发地：</div>
				<div class="input_right input_right_wauto">
					<label style="width:55px">
                         <input type="radio" name="ptdStartTown" value="01" #if($planeticketDetail.ptdStartTown == '01') checked #end>香港
					</label>
                    <label style="width:55px">
                        <input type="radio" name="ptdStartTown" value="02" #if($planeticketDetail.ptdStartTown == '02') checked #end> 澳门
					</label>
                    <label style="width:55px">
                        <input type="radio" name="ptdStartTown" value="03" #if($planeticketDetail.ptdStartTown == '03') checked #end>台湾
					</label>
					<label style="width:55px">
                        <input type="radio" name="ptdStartTown" value="04" #if($planeticketDetail.ptdStartTown == '04') checked #end>国际
					</label>
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			
			<div class="input_block clearfix" id="county">
				<div class="label_left">出发地：</div>
				<div class="input_right input_right_wauto">
					<!--
					<select class="w90" name="ptdForeign">
						<option value=""></option> 
						#foreach($item in $country.keySet())
							<option value="$item">$country.get($item)</option> 
						#end
					</select> <span> 国家</span> <select name="ptdForeigncity"
						style="width:90px;"></select>-->
					<input type="text" name="ptdForeign" value="$!planeticketDetail.ptdForeign" class="validate[required,maxSize[10]] autoquerycountry">国家<input type="text" value="$!planeticketDetail.ptdForeigncity" name="ptdForeigncity" class="validate[required,maxSize[10]]">城市
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			
			<div class="input_block clearfix">
				<div class="label_left">起飞时间：</div>
				<div class="input_right input_right_wauto">
					<input type="text" class="w200 validate[required]" name="ptdStartTime" value="$!planeticketDetail.ptdStartTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'H:mm'})">
                </div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">起飞机场/航站楼：</div>
				<div class="input_right input_right_wauto">
					<input type="text" class="w200 validate[required,maxSize[10]]" name="ptdStartTerminal" value="$!planeticketDetail.ptdStartTerminal">
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
               <div class="label_left">是否经停：</div>
			   <div class="input_right input_right_wauto">
    			   <label>
						<input type="radio" name="ptdYesno" id="NO" #if($planeticketDetail.ptdYesno == '01') checked #end value="01"/>否
                   </label>
    			   <label>
						<input type="radio" name="ptdYesno" id="YES" #if($planeticketDetail.ptdYesno == '02') checked #end value="02"/>是
                   </label>
			</div>
            </div>
			<div class="input_block clearfix" id="guojia">
				<div class="label_left">经停国家：</div>
				<div class="input_right input_right_wauto">
					<label class="w110">
						<input type="radio" id="guonei" name="ptdGuojia" #if($planeticketDetail.ptdGuojia == '01') checked #end  value="01"/>国内
					</label> 
					<label>
						<input type="radio" id="guoji" name="ptdGuojia" #if($planeticketDetail.ptdGuojia == '02') checked #end  value="02"/>国际·港澳台
					</label>
				</div>
			</div>
			<div class="input_block clearfix" id="jingting_gn">
				<div class="label_left">经停省市：</div>
				<div class="input_right input_right_wauto">
					<select class="w90" name="ptdProvince">
						#foreach($item in $provinces)
							<option value="$item.regionNo" #if($planeticketDetail.ptdProvince == $item.regionNo) selected #end>$item.regionName</option>
						#end
					</select> 
					<span>省</span>
					<select name="ptdCity" value="$!planeticketDetail.ptdCity" style="width:90px;"></select>市<span style="margin-left:10px;color:red;">*</span>
				</div>
			</div>
			<div class="input_block clearfix" id="jingting_gj">
				<div class="label_left">经停地区：</div>
				<div class="input_right input_right_wauto">
					<label style="width:55px">
                         <input type="radio" name="ptdTown" #if($planeticketDetail.ptdTown == '01') checked #end value="01">香港
					</label>
                    <label style="width:55px">
                        <input type="radio" name="ptdTown" #if($planeticketDetail.ptdTown == '02') checked #end value="02"> 澳门
					</label>
                    <label style="width:55px">
                        <input type="radio" name="ptdTown" #if($planeticketDetail.ptdTown == '03') checked #end value="03">台湾
					</label>
					<label style="width:55px">
                        <input type="radio" name="ptdTown" #if($planeticketDetail.ptdTown == '04') checked #end value="04">国际
					</label>
				</div>
			</div>
				<div class="input_block clearfix" id="jingting">
				<div class="label_left">经停国家：</div>
				<div class="input_right input_right_wauto">
					<input type="text" name="ptdJingforeign" value="$!planeticketDetail.ptdJingforeign" class="validate[required,maxSize[10]] autoquerycountry">国家
					<input type="text" name="ptdJingcity" value="$!planeticketDetail.ptdJingcity"  class="validate[required,maxSize[10]]">城市
				</div>
			</div>

			<div class="input_block clearfix">
				<div class="label_left">到达国家：</div>
				<div class="input_right input_right_wauto">
					<label class="w110">
						<input type="radio" id="end1" onclick="$('#end_gj').hide();$('#end_gn').show();$('#county01').hide();" name="ptdEndState" value="01" #if($planeticketDetail.ptdEndState == '01') checked #end />国内
					</label> 
					<label>
						<input type="radio" id="end2" onclick="$('#end_gj').show();$('#end_gn').hide();$('#county01').hide();" name="ptdEndState" value="02" #if($planeticketDetail.ptdEndState == '02') checked #end/>国际·港澳台
					</label>
				</div>
				<span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix" id="end_gn">
				<div class="label_left">目的地：</div>
				<div class="input_right input_right_wauto">
					<select class="w90" name="ptdEndProvince">
						#foreach($item in $provinces)
						  <option value="$item.regionNo" #if($planeticketDetail.ptdEndProvince == $item.regionNo) selected #end>$item.regionName</option> 
						#end
					</select> 
					<span>省</span> 
					<select name="ptdEndCity" value="$!planeticketDetail.ptdEndCity" style="width:90px;">
					</select>市
					<span style="margin-left:10px;color:red;">*</span>
				</div>
			</div>
			<div class="input_block clearfix" id="end_gj">
				<div class="label_left">目的地：</div>
				<div class="input_right input_right_wauto">
					<label style="width:55px">
                         <input type="radio" name="ptdEndTown" #if($planeticketDetail.ptdEndTown == '01') checked #end value="01">香港
					</label>
                    <label style="width:55px">
                        <input type="radio" name="ptdEndTown" #if($planeticketDetail.ptdEndTown == '02') checked #end value="02"> 澳门
					</label>
                    <label style="width:55px">
                        <input type="radio" name="ptdEndTown" #if($planeticketDetail.ptdEndTown == '03') checked #end value="03">台湾
					</label>
					<label style="width:55px">
                        <input type="radio" name="ptdEndTown" #if($planeticketDetail.ptdEndTown == '04') checked #end value="04">国际
					</label>	
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			
			<div class="input_block clearfix" id="county01">
				<div class="label_left">目的地：</div>
				<div class="input_right input_right_wauto">
					<!--
						<select class="w90" name="endForeign">	
						<option value=""></option> 
						#foreach($item in $country.keySet())
							<option value="$item">$country.get($item)</option> 
						#end
					</select> <span> 国家</span> 
					<select name="endForeignCity" style="width: 90px;">
					</select>-->
					<input type="text" name="ptdEndforeign" value="$!planeticketDetail.ptdEndforeign" class="validate[required,maxSize[10]] autoquerycountry">国家<input type="text" value="$!planeticketDetail.ptdEndforeigncity" name="ptdEndforeigncity" class="validate[required,maxSize[10]]">城市
				</div>
			</div>
			
			<div class="input_block clearfix">
				<div class="label_left">落地时间：</div>
				<div class="input_right input_right_wauto">
					<input type="text" class="w200 validate[required]" name="ptdEndTime" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'H:mm'})" value="$!planeticketDetail.ptdEndTime"> 
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">落地机场/航站楼：</div>
				<div class="input_right input_right_wauto">	
					<input type="text" class="w200 validate[required,maxSize[10]]" name="ptdEndTerminal" value="$!planeticketDetail.ptdEndTerminal">
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">飞机餐：</div>
				<div class="input_right input_right_wauto">
					#foreach($item in $models.keySet()) 
						<label class="checkbox inline">
							<input class="input-xlarge" type="radio" name="ptdCostFood" value="$item" #if($erim.contains($!planeticketDetail.ptdCostFood,$item)) checked #end>$models.get($item)
						</label> 
					#end
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<!--<div class="input_block clearfix">
				<div class="label_left">预定方式：</div>
				<div class="input_right input_right_wauto">
					#foreach($item in $scheduled.keySet()) 
						<label class="checkbox inline">
							<input class="input-xlarge validate[minCheckbox[1]] checkbox" type="checkbox" name="ptdScheduled" value="$item" #if($erim.contains($!planeticketDetail.ptdScheduled,$item)) checked #end>$scheduled.get($item)
						</label> 
					#end
				</div><span style=" color:red;margin-left:8px;float: left; margin-top:7px;">*</span>
			</div>-->
			<div class="input_block clearfix">
				<div class="label_left">总时长：</div>
				<div class="input_right input_right_wauto">	
					<input type="text" class="w200 validate[required,maxSize[10]]" name="ptdEndStay" value="$!planeticketDetail.ptdEndStay">
				</div><span style="margin-left:10px;color:red;">*</span>
			</div>
			<!-- 
			<div class="input_block clearfix">
				<div class="label_left">机场建设费：</div>
				<div class="input_right input_right_wauto">
					<input type="text" class="w200 validate[required,custom[integer],min[1],maxSize[5]]" name="ptdCostMaching" value="$!planeticketDetail.ptdCostMaching"><span style="margin-left:-20px;font-size:14;">元</sapn>
				</div>
			</div>
			<div class="input_block clearfix">
				<div class="label_left">燃油附加费：</div>
				<div class="input_right input_right_wauto">
					<input type="text" class="w200 validate[required,custom[integer],min[1],maxSize[5]]" name="ptdCostFuel" value="$!planeticketDetail.ptdCostFuel"><span style="margin-left:-20px;font-size:14;">元</sapn>
				</div>
			</div>-->
			<div class="carinfo_ctbl">
    			<div class="carinfo_ctblrbtn pb80" style="width:360px; margin-left:48px;">
    				<button type="button" id="btn" class="carinfo_sub" onclick="subform.sub('form1','$appRoot/planeticket/detail/update','$appRoot/planeticket/detail/list');">提交</button>
    				<button type="button" class="carinfo_qu" onclick="index.load(page.url);">返回</button>
    			</div>
    		</div>
		</div>
	</form>
</div>
<div style="display:none" id="guojiaforqueryId" >$!guojiaforquery</div>	
<script type="text/javascript">

	//获取出发地国内国际值
	var state = $("input[name='ptdStartState']:checked").val();
	var province = $("select[name='ptdStartProvince']").val();
	var city = $("input[name='city']").val();
	//国内时
	if(state == '01') {
    	//省市县级联选择
    	regUtil.initProvince(province,'ptdStartProvince','ptdStartCity','',city,0);
		$("#start_gn").show();//国内显示
		$("#start_gj").hide();//国际隐藏
		$("#county").hide();//国家和城市隐藏
	}else{
		//国际时国内隐藏
		$("#start_gn").hide();
		$("#start_gj").show();
		//初始化省市县
		regUtil.initProvince(110000,'ptdStartProvince','ptdStartCity');
		var starttown = $("input[name='ptdStartTown']:checked").val();
		if(starttown == '04'){
			$("#county").show();
		}else{
			$("#county").hide();
		}
	}
	
	//获取到达国内国际的值
	var endstate = $("input[name='ptdEndState']:checked").val();
	var endprovince = $("select[name='ptdEndProvince']").val();
	var endcity = $("input[name='endcity']").val();
	//国内时国际隐藏国家城市隐藏
	if(endstate == '01'){
    	//省市县级联选择
    	regUtil.initProvince(endprovince,'ptdEndProvince','ptdEndCity','',endcity,0);
		$("#end_gn").show();//国内显示
		$("#end_gj").hide();//国际隐藏
		$("#county01").hide();//国家和城市隐藏
	}else{
		//国际时国内隐藏
		$("#end_gn").hide();
		$("#end_gj").show();
		//初始化省市县
		regUtil.initProvince(110000,'ptdEndProvince','ptdEndCity');
		var ptdendtown = $("input[name='ptdEndTown']:checked").val();
		if(ptdendtown == '04'){
			$("#county01").show();
		}else{
			$("#county01").hide();
		}
	}
	 
	//点击出发国际国家和城市显示
	$("input[name='ptdStartTown']").change(function(){
		var a = $("input[name='ptdStartTown']:checked").val();
		if(a == '04'){
			$("#county").show();
		}else{
			$("#county").hide();
		}
	});
	
	//点击到达国际时国家和城市显示
	$("input[name='ptdEndTown']").change(function(){
		var a = $("input[name='ptdEndTown']:checked").val();
		if(a == '04'){
			$("#county01").show();
		}else{
			$("#county01").hide();
		}
	});
	
	
	//初始化国家
	/*
	$("select[name='ptdForeign']").change(function() {
		index.country($(this).val(), $("select[name='ptdForeignCity']"));
	});
	$("select[name='endForeign']").change(function() {
		index.country($(this).val(), $("select[name='endForeignCity']"));
	});*/
	  
	  /*-----------经停值获取-----------*/
	  regUtil.initProvince(110000,'ptdProvince','ptdCity');
	  //获取经停地的值
	  var a = $("input[name='ptdYesno']:checked").val();
	  //当经停值为是的时候
	  if(a == '02'){
	  	//获取经停国内国际的值
		var b = $("input[name='ptdGuojia']:checked").val();
		//为国内经停时
		if(b == '01'){
			var ptdProvince = $("select[name='ptdProvince']").val();
    	  	var ptdcity = $("input[name='jtcity']").val();//获取城市的值
			//初始化省市县
			regUtil.initProvince(ptdProvince,'ptdProvince','ptdCity','',ptdcity,0);
			$('#jingting_gn').show();//国内显示
			$('#jingting_gj').hide();//国际隐藏
			$('#jingting').hide();//经停国家和城市隐藏
		}else{
			//初始化省市县
			regUtil.initProvince(110000,'ptdProvince','ptdCity');
			$('#jingting_gn').hide();//国内隐藏
			$('#jingting_gj').show();//国际显示
			//获取国际的值
			var c = $("input[name='ptdTown']:checked").val();
			if(c == '04'){
				$('#jingting').show();//经停国家和城市显示
			}else{
				$('#jingting').hide();//经停国家和城市显示
			}
		}
	  }else{
	  //当经停值为否的时候	
	  	$('#jingting_gn').hide();//国内隐藏
		$('#jingting_gj').hide();//国际隐藏
		$('#jingting').hide();//经停国家和城市隐藏
		$('#guojia').hide();//经停国内和国际隐藏
	  }
	 /*----------经停点击事件------------*/
	 //是否经停
	 $("input[name='ptdYesno']").change(function() {
		var a = $("input[name='ptdYesno']:checked").val();
		//不经停时
		if (a == '01') {
			$('#jingting_gn').hide();//国内隐藏
    		$('#jingting_gj').hide();//国际隐藏
    		$('#jingting').hide();//经停国家和城市隐藏
			$('#guojia').hide();//经停国内和国际港澳台隐藏
		}else{
		//经停时
			$('#jingting_gn').hide();//国内隐藏
    		$('#jingting_gj').hide();//国际隐藏
    		$('#jingting').hide();//经停国家和城市隐藏
			$('#guojia').show();//经停国内和国际港澳台显示
		}
	});
	//经停是否为国际和国内
	$("input[name='ptdGuojia']").change(function() {
		var a = $("input[name='ptdGuojia']:checked").val();
		if (a == '01') {
			$('#jingting_gn').show();//国内显示
    		$('#jingting_gj').hide();//国际隐藏
    		$('#jingting').hide();//经停国家和城市隐藏
		}else{
			$('#jingting_gn').hide();//国内隐藏
    		$('#jingting_gj').show();//国际显示
		}
	});
	 //国家和城市的隐藏和切换 
	  $("input[name='ptdTown']").change(function(){
	    var a = $("input[name='ptdTown']:checked").val();
		if (a == '04'){
		   $('#jingting').show();
		}else{
		   $('#jingting').hide();
		}
	  });
	 
</script>
<link rel="stylesheet" type="text/css" href="$staticRoot/js/autocomplete.min/jquery.autocomplete.css"/>
<script type="text/javascript">
$(function() {
   autoquery();
});
function autoquery(){
 	var guojiastr = $("#guojiaforqueryId").html();
    var arr = guojiastr.split(",");
    $(".autoquerycountry").autocomplete(arr);
}
</script>