<link rel="stylesheet" type="text/css" href="$staticRoot/css/ground/ground.css">
<div class="jd_block">
	<p class="tit_1 ml20">
		<img src="$staticRoot/images/jd_3.png" alt="查看量/价" title="查看量/价" />查看量/价
	</p>
	<div class="g_line mb25"></div>
	<div class="clearfix ml35">
		<div class="date_m">
			<a id="hou" href="javascript:index.load('$appRoot/ground/price/list?portal=07');">
				<img src="$staticRoot/images/jd_7.png"/>
			</a>
			<span>$!priceYeMon</span>
			<a class="qian_a" href="javascript:index.load('$appRoot/ground/price/list?portal=06');">
				<img src="$staticRoot/images/jd_9.png" />
			</a>
		</div>
	</div>
	<table class="fangliang_date ml35 mb20_marginleft39" cellpadding="0" cellspacing="0">
		<tr>
			<td class="td_fxxz" colspan="7"> 线路名称：$!gdlName </td>
		</tr>
		<tr>
            <th>周一</th>
            <th>周二</th>
            <th>周三</th>
            <th>周四</th>
            <th>周五</th>
            <th>周六</th>
            <th>周日</th>
		</tr>
		<tr>
			<td colspan="7">
				<ul id="date_d">
                    #foreach($item in $priceList)
						#if(!$!item.id)
        					<li class="kong">
								#if($!item.day)
									<span class="date_d">$!item.day</span>
								#end
							</li>
						#end
						#if($!item.id)
							#if($!item.gpeSign == '0')
								<li class="finish_li">
            						<span class="date_d">$!item.day</span>
    								<div class="mess_box">
    									余：$!item.gpeSign 位<br>
    									同：$!item.gpeTradeAdult 元<br>
    									批：$!item.gpeWholesaleAdult 元<br>
    									零：$!item.gpeRetailAdult 元<br>
									</div>
    								<span class="icon"></span>
            					</li>
							#elseif($!item.gpeIsOpen == '01')
    							<li class="close_li">
    								<span class="date_d">$!item.day</span>
    								<div class="mess_box">
    									余：$!item.gpeSign 位<br>
    									同：$!item.gpeTradeAdult 元<br>
										批：$!item.gpeWholesaleAdult 元<br>
    									零：$!item.gpeRetailAdult 元<br>
									</div>
    								<span class="icon"></span>
    							</li>
							#else
								<li class="open_li">
            						<span class="date_d">$!item.day</span>
            						<div class="mess_box">
										余：$!item.gpeSign 位<br>
    									同：$!item.gpeTradeAdult 元<br>
										批：$!item.gpeWholesaleAdult 元<br>
    									零：$!item.gpeRetailAdult 元<br>
									</div>
            						<span class="icon"></span>
            					</li>
							#end
						#end
					#end
				</ul>
			</td>
        </tr>
	</table>
	<div class="min_mess_box clearfix ml35 mb25">
		<button type="button" style="cursor:pointer" class="carinfo_qu ml35" onclick="javascript:index.load(page.url);">返回</button>
		<span><img src="$staticRoot/images/ljgl_03.png"> 正常出售 
			<img src="$staticRoot/images/ljgl_01.png"> 暂不出售
			<img src="$staticRoot/images/ljgl_02.png"> 已售完</span>
	</div>
</div>
<div class="win_box_bg"></div>
