<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjsystemfuncrescource">
	<!-- 查询所有 -->
	<select id="selectAll" resultType="yjSystemFuncRescourceBean">
		SELECT
			id                       AS id,
			yj_func_code           AS yjFuncCode,
			yj_func_rescource_code AS yjFuncRescourceCode,
			yj_func_rescource_name AS yjFuncRescourceName
		FROM
			yj_system_func_rescource
	</select>
	<!-- 根据登录名查询对象 -->
	<select id="selectRecourceByFuncCode" resultType="yjSystemFuncRescourceBean">
		
		SELECT
			id 					     AS id,
			yj_func_code 		     AS yjFuncCode,
			yj_func_rescource_code AS yjFuncRescourceCode,
			yj_func_rescource_name AS yjFuncRescourceName
		FROM
			yj_system_func_rescource
		WHERE
			yj_func_code = #{yjFuncCode}
	</select>
</mapper>