<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjsystemfunc">
	<select id="selectFuncByCode" resultType="yjSystemFuncBean">
		SELECT
			id                        AS id,
			yj_func_code            AS yjFuncCode,
			yj_func_parentcode 	  AS yjFuncParentcode,
			yj_func_name 			  AS yjFuncName,
			yj_func_action 	      AS yjFuncAction,
			yj_func_img             AS yjFuncImg,
			yj_func_order           AS yjFuncOrder
		FROM
			yj_system_func
		WHERE
			yj_func_code in 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
				 #{item}  
			</foreach>  
		ORDER BY
			yj_func_order
	</select>

	<!-- 查询所有 -->
	<select id="selectAll" resultType="yjSystemFuncBean">
		
		SELECT
			id                        AS id,
			yj_func_code            AS yjFuncCode,
			yj_func_parentcode 	  AS yjFuncParentcode,
			yj_func_name 		 	  AS yjFuncName,
			yj_func_action 	      AS yjFuncAction,
			yj_func_img             AS yjFuncImg,
			yj_func_order           AS yjFuncOrder
		FROM
			yj_system_func
		ORDER BY
			yj_func_order
	</select>
	<!-- 根据登录名查询对象 -->
	<select id="selectFuncByParentcode" resultType="yjSystemFuncBean">
		
		SELECT
			id                        AS id,
			yj_func_code            AS yjFuncCode,
			yj_func_parentcode 	  AS yjFuncParentcode,
			yj_func_name 			  AS yjFuncName,
			yj_func_action 	      AS yjFuncAction,
			yj_func_img             AS yjFuncImg,
			yj_func_order           AS yjFuncOrder
		FROM
			yj_system_func
		WHERE
			yj_func_parentcode = #{yjFuncParentcode}
		ORDER BY
			yj_func_order
	</select>
</mapper>