	<script type="text/javascript">
    //省市县级联选择
	index.initProvince(110000,'tdlProvince','tdlCity','tdlCounty','','');
	$('#dq_gn_block').hide();//默认隐藏省市县
	//获取国内国际的值
	var a = $("input[name='tdlWithinOrOuter']:checked").val();
	//为国内时
	if(a == '01'){
		$('#dq_gn_block').show();//国内显示
		$('#dq_gj_block').hide();//国际隐藏
		var a = $("select[name='tdlProvince']").val();//获取省的值
		var city  = $("input[name='city']").val();//获取市的值
		var county = $("input[name='county']").val();//获取县的值
		//初始化省市县
		index.initProvince(a,'tdlProvince','tdlCity','tdlCounty',city,county);
	}else if(a == '02'){
	//为国际港澳台时
		$('#dq_gn_block').hide();//国内隐藏
		$('#dq_gj_block').show();//国际显示
		//初始化省市县
		index.initProvince(110000,'tdlProvince','tdlCity','tdlCounty');
	}else{
		$('#dq_gj_block').hide();//国际隐藏
		$('#dq_gn_block').hide();//国内显示
		var a = $("select[name='tdlProvince']").val();//获取省的值
		var city = $("input[name='city']").val();//获取市的值
		var county = $("input[name='county']").val();//获取县的值
		if(a != '' && a != undefined) {
			index.initProvince(a,'tdlProvince','tdlCity','tdlCounty',city,county);
		} 
	}
	//是否为国际港澳台
	var c = $("input[name='tdlNation']:checked").val();
	if(c == '04'){
		$('#gj_block').show();//国家和城市显示
	}else{
		$('#gj_block').hide();//国家和城市隐藏
	}
</script>
	<form method="post" id="form1" class="mb10">
    	<div class="search_block clearfix">
				<div class="input_bg">
					<div class="input_block clearfix" style="margin-bottom:0;">
						<div class="input_right input_right_wauto">
							<label class="ml15 pl10">地区：</label>
                            <label>
								<input type="radio" id="dq_gn" name="tdlWithinOrOuter" value="01" #if($ticketDetail.tdlWithinOrOuter == '01') checked #end>国内
							</label>
							<label>
								<input type="radio" id="dq_gj" name="tdlWithinOrOuter" value="02" #if($ticketDetail.tdlWithinOrOuter == '02') checked #end>国际/港澳台 
							</label>
                            <span id="dq_gn_block" class="ml15"  style="display:none; ">
								<select class="w80" name="tdlProvince">
									<option value=""></option>
        							#foreach($item in $provinces)
        								<option value="$item.regionNo" #if($ticketDetail.tdlProvince == $item.regionNo) selected #end>$item.regionName</option> 
        							#end
								</select> 省
								<select class="w80" name="tdlCity">
								</select> 市
								<select class="w80" name="tdlCounty">
								</select> 区/县
							</span>
							<span id="dq_gj_block" class="ml15" style="display:none;">	
								<label>
									<input type="radio" name="tdlNation" value="01" #if($ticketDetail.tdlNation == '01') checked #end> 香港 
								</label>
								<label>
									<input type="radio" name="tdlNation" value="02" #if($ticketDetail.tdlNation == '02') checked #end> 澳门 
								</label>
								<label>
									<input type="radio" name="tdlNation" value="03" #if($ticketDetail.tdlNation == '03') checked #end> 台湾 
								</label>
								<label>
									<input id="gj" type="radio" name="tdlNation" value="04" #if($ticketDetail.tdlNation == '04') checked #end> 国家
							    </label>
								<span id="gj_block" style="display:none;">
									<input  class="w80" name="tdlCountyone" value="$!ticketDetail.tdlCountyone">   
									<label class="ml10 pl10">城市：</label> 
									<input id="gj_block" class="w80" name="tdlCityone"　value="$!ticketDetail.tdlCityone">
								</span>
							</span>
							<div class="cb mb5"></div>
							<label class="ml15"> 产品编码：</label>
							<input class="w90" name="tdlCode" value="$!ticketDetail.tdlCode">
							<label class="ml15"> 景点名称：</label>
							<input class="w110" name="tdlName" value="$!ticketDetail.tdlName">
							<span class="red_a ml15" type="button" onclick="index.searchform('form1','$appRoot/search/ticket/list');">查询</span>
						</div>
					</div>
				</div>
			<!--	<div class="select_block">
					<ul class="select_cont clearfix">
						<li class="first"><span class="span_tit">景点级别</span></li>
						<li class="second bx"><a class="on">不限</a></li>
						<li><a>商业区<em class="icon_img"></em></a></li>
						<li><a>机场/火车站<em class="icon_img"></em></a></li>
						<li><a>公交/地铁<em class="icon_img"></em></a></li>
						<li><a>医院/学校/行政单位<em class="icon_img"></em></a></li>
						<li><a>景点<em class="icon_img"></em></a></li>
					</ul>
					<a class="more_a"></a>
				</div>-->
				<div class="show_block">
					<div>
						<a>房山风景区</a>
						<a>公主坟、五棵松、石景山游乐园地区</a>
						<a>国贸地区</a>
						<a>国展中心地区</a>
						<a>果园环岛、通州区</a>
						<a>后海、南锣鼓巷地区</a>
						<a>怀柔风景区</a>
						<a>欢乐谷游乐区</a>
						<a>劲松、潘家园</a>
						<span class="more_cona"></span>
					</div>
					<div>
						<a>南苑机场</a>
						<a>首都国际机场</a>
						<a>北京火车站</a>
						<a>北京西站</a>
						<a>北京南站</a>
						<a>北京北站</a>
						<a>北京东火车站</a>
						<span class="more_cona"></span>
					</div>
					<div>
						<a>1号线</a>
						<a>2号线外环</a>
						<a>4号线</a>
						<a>5号线</a>
						<a>8号线</a>
						<a>10号线</a>
						<a>13号线</a>
						<a>八通线</a>
						<a>机场快轨</a>
						<a>15号线</a>
						<a>昌平线</a>
						<a>亦庄线</a>
						<a>大兴线</a>
						<a>房山线</a>
						<a>9号线</a>
						<a>6号线</a>
						<a>14号线</a>
						<span class="more_cona"></span>
					</div>
					<div>
						<a>号线</a>
						<a>号线外环</a>
						<a>号线</a>
						<a>号线</a>
						<a>号线</a>
						<a>号线</a>
						<a>号线</a>
						<a>八通线</a>
						<a>机场快轨</a>
						<a>15号线</a>
						<a>昌平线</a>
						<a>亦庄线</a>
						<a>大兴线</a>
						<a>房山线</a>
						<a>9号线</a>
						<a>6号线</a>
						<a>14号线</a>
						<a>号线</a>
						<a>号线</a>
						<a>八通线</a>
						<a>机场快轨</a>
						<a>15号线</a>
						<a>昌平线</a>
						<a>亦庄线</a>
						<a>大兴线</a>
						<a>房山线</a>
						<a>9号线</a>
						<a>6号线</a>
						<a>14号线</a>
						<span class="more_cona"></span>
					</div>
					<div>
						<a>故宫</a>
						<a>颐和园</a>
						<a>天安门广场</a>
						<a>天坛</a>
						<a>圆明园</a>
						<a>恭王府</a>
						<a>南锣鼓巷</a>
						<a>北海公园</a>
						<a>什刹海</a>
						<a>景山公园</a>
						<a>王府井</a>
						<a>慕田峪长城</a>
						<a>欢乐谷</a>
						<a>恭王府</a>
						<a>南锣鼓巷</a>
						<a>北海公园</a>
						<a>什刹海</a>
						<a>景山公园</a>
						<a>王府井</a>
						<a>慕田峪长城</a>
						<a>欢乐谷</a>
						<a>大栅栏</a>
						<a>雍和宫</a>
						<span class="more_cona"></span>
					</div>
				</div>
				<div class="select_block">
					<ul class="select_cont">
						<li class="first"><span class="span_tit">景点级别</span></li>
						<li class="second bx">
							<a class="no-num item-hover #if("" == $!ticketDetail.tdlScenicLevel || ! $ticketDetail.tdlScenicLevel) on #end " onclick="$('#tdlScenicLevel').attr('value',''); index.searchform('form1','$appRoot/search/ticket/list');">不限</a>
						</li>
						<li>
						#foreach($item in $level.keySet())
    						<a class="smenu-item item-hover #if($!ticketDetail.tdlScenicLevel == $item) on #end" id="a_level_$item.id" onclick="$('#tdlScenicLevel').attr('value','$item'); index.searchform('form1','$appRoot/search/ticket/list');">$level.get($item)</a>
						#end
						</li>
					</ul>
					<a class="more_a"></a>
				</div>
				<div class="select_block">
					<ul class="select_cont">
						<li class="first"><span class="span_tit">景点主题</span></li>
						<li class="second bx"><a class="no-num item-hover #if($erim.isEmpty($!ticketDetail.tdlAttractions)) on #end " onclick="$('#tdlAttractions').attr('value',''); index.searchform('form1','$appRoot/search/ticket/list');">不限</a></li>
						<li>
							#foreach($item in $attractions.keySet())
                                <a class="smenu-item  item-hover #if($!ticketDetail.tdlAttractions == $item) on #end" id="a_level_$item.id" onclick="$('#tdlAttractions').attr('value','$item'); index.searchform('form1','$appRoot/search/ticket/list');">$attractions.get($item)</a>
        					#end 
						</li>
					</ul>
					<a class="more_a"></a>
				</div>
				#* 
				<div class="select_block">
					<ul class="select_cont">
						<li class="first"><span class="span_tit">价格</span></li>
						<li class="second bx"><a class="on">不限</a></li>
						<li><a>0-100</a></li>
						<li><a>100-200</a></li>
						<li><a>200-300</a></li>
						
					</ul>
					<a class="more_a"></a>
				</div>
				<div class="select_block">
					<ul class="select_cont">
						<li class="first"><span class="span_tit">热门城市</span></li>
						<li class="second bx"><a class="on">不限</a></li>
						<li><a>北京</a></li>
						<li><a>上海</a></li>
						<li><a>成都</a></li>
						
					</ul>
					<a class="more_a"></a>
				</div>
				*#
					
				<!--<div class="select_block">
					<ul class="select_cont">
						<li class="first"><span class="span_tit">价格</span></li>
						<li class="second"><a class="on">不限</a></li>
						<li><a>亲子出游</a></li>
						<li><a>休闲度假</a></li>
						<li><a>客栈</a></li>
						<li><a>公寓</a></li>
						<li><a>精品酒店</a></li>
						<li><a>农家乐</a></li>
						<li><a>青年旅舍</a></li>
					</ul>
					<a class="more_a"></a>
				</div>-->
				<!--<div class="select_block">
					<ul class="select_cont">
						<li class="first"><span class="span_tit">设施</span></li>
						<li class="second"><a class="on">不限</a></li>
						<li><a>免费无线</a></li>
						<li><a>免费有线</a></li>
						<li><a>含早餐</a></li>
						<li><a>三人/家庭房</a></li>
						<li><a>大床</a></li>
						<li><a>双床</a></li>
						<li><a>停车场</a></li>
						<li><a>游泳池</a></li>
						<li><a>接送服务</a></li>
						<li><a>健身房</a></li>
						<li><a>穿梭机场班车</a></li>
						<li><a>新开业/新装修</a></li>
						<li><a>含早餐</a></li>
						<li><a>三人/家庭房</a></li>
						<li><a>大床</a></li>
						<li><a>双床</a></li>
						<li><a>停车场</a></li>
						<li><a>游泳池</a></li>
						<li><a>接送服务</a></li>
						<li><a>健身房</a></li>
						<li><a>穿梭机场班车</a></li>
						<li><a>新开业/新装修</a></li>
						<li><a>三人/家庭房</a></li>
						<li><a>大床</a></li>
						<li><a>双床</a></li>
						<li><a>停车场</a></li>
						<li><a>游泳池</a></li>
						<li><a>接送服务</a></li>
						<li><a>健身房</a></li>
						<li><a>穿梭机场班车</a></li>
						<li><a>新开业/新装修</a></li>
					</ul>
					<a class="more_a"></a>
				</div>-->
				
			</div>
		##<a class="big_more_a" >更多查询项</a>
		<input type="hidden" name="tdlScenicLevel" id="tdlScenicLevel" value="$!ticketDetail.tdlScenicLevel">
		<input type="hidden" name="tdlAttractions" id="tdlAttractions" value="$!ticketDetail.tdlAttractions">
		<input type="hidden" name="city" value="$!ticketDetail.tdlCity">
		<input type="hidden" name="county" value="$!ticketDetail.tdlCounty">
   </form>
	<div class="g_block_2 g_block_7 mb20">
		
		<table class="mb10" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th style="width:80px">产品编码</th>
				<th style="width:75px">所在城市</th>
				<th style="width:150px">景点名称</th>
				<th style="width:100px">景点级别</th>
				<th style="width:200px">公司/品牌</th>
				<!--<th>负责人/电话</th>-->
				<th style="width:110px">计调/电话</th>
                <th style="width:80px">在线交谈</th>
				<th style="width:75px">预订</th>
			</tr>
			#foreach($item in $ticketList)
				<tr>
                  	<td>$!item.tdlCode</td>
					<td>$!item.tdlCityone #vtextarray($!item.tdlNation,'C108') #vregion($!item.tdlCity)</td>
					#* 
					#if($!item.tdlWithinOrOuter == '02')
    					#if($!item.tdlNation == '04')
							<td>$!item.tdlCityone</td> 
						#else
    					    <td>$!item.tdlNation</td> 
					#end 
					#elseif($!item.tdlWithinOrOuter =='01')
    					<td>$!item.tdlCity</td> 
					#else
						<td></td> 
					#end
					*#
					<td><a class="clistctma_ctl" href="javascript:void(0);">$item.tdlName</a></td>
					<td>#vtext($!item.tdlScenicLevel,'C098')</td>
					<td>$!item.cpyName / $!item.cpyBrand</td>
    				<td>$!item.cbsOperator / $!item.cbsOperatorPhone</td>
                    <td>
    					#if($erim.isNotEmpty($!item.ccpQq))
    						<a target=blank href="http://wpa.qq.com/msgrd?v=3&uin=$!item.ccpQq&Site=在线客服&Menu=yes"><img border=0 SRC="/static/images/button_old_101.gif" alt="在线交流"></a>
    					#end
    				</td>
					<!--<td><a href="javascript:index.load('$appRoot/reservation/ticket/page')">预订</a></td>-->
					<td>
						#if($item.listTicketClass.size()>0)
							<a class="chakan_a" href="javascript:void(0);">查看</a>
						#else
							无票类
						#end
					</td>
				</tr>
				<tr style="display:none;" tid="tr_detail">
    				<td colspan = '9' style='height:0;'>
    					<div class='chakan_block1'>
    						<div class="chakan_jdxx clearfix">
                        	 	<div class="b_div_h35">
                                    <ul style="margin:0px;padding:0px;clear:both">
                                        <li><span class="mr20" style="font-size:16px;">$!item.tdlName</span>$!item.tdlAddress</li>
                                    </ul>
                                    <a class="close_a" href="javascript:void(0);"></a>
                                </div>
                                <div class="b_div_h270 pl24">
                        			<br>
									#if($erim.isNotEmpty($!item.tdlScenicLevel))
                                    <p><span>景点级别：</span>#vtextarray($!item.tdlScenicLevel,'C098')</p> 
									#end
									#if($erim.isNotEmpty($!item.tdlMaintenanceTime))
                                    <p><span>开放时间：</span>$!item.tdlTimeOpen - $!item.tdlMaintenanceTime</p>
									#end
									#if($erim.isNotEmpty($!item.tdlUsingThisDictionary))
                        			<p><span>封闭维护说明：</span>$!item.tdlUsingThisDictionary</p>
									#end
									#if($erim.isNotEmpty($!item.tdlAttractions))
                        			<p><span>景点主题：</span>#vtextarray($!item.tdlAttractions,'C099')</p>
									#end
									#if($erim.isNotEmpty($!item.tdlNum))
                                    <p><span>容纳参观人数：</span>
										#if($!item.tdlNum==0) 
											不限
										#else
											$!item.tdlNum人
										#end
									</p>
									#end
                        			<br>
                                </div>
                     	   </div>
    					</div>	
    				</td>
    			 </tr>
    			 <tr tid="tr_list" style="display:none;">
    				<td colspan = '9'>
    					<div class='chakan_block'>
    						<div class="chakan_cont clearfix">
                                <table class="fl_list_g" cellpadding="0" cellspacing="0">
                    				<tr class="fl_list_t">
                                    	<td class="w100">票类</td>
                    					<td class="w300">费用说明</td>
                    					<td class="w300">兑票方式</td>
                    					<td class="w300">退改规则</td>
                    					<!--<td class="w150">补充说明</td>-->
                    					<td colspan="6" class="date_td">
											<img width="10" class="first" cid="-1" src="$staticRoot/images/aas_03.png" onclick="search.fiveDate('span_month_${velocityCount}','${item.allClassId}','$!{item.id}',$(this).attr('cid'),'TICKET');">
    										<span class="date_cont" date="$nowDate" id="span_month_$velocityCount"></span>
    										<script>
    											search.fiveDate('span_month_${velocityCount}','${item.allClassId}','$!{item.id}',0,'TICKET');
    										</script>
    										<img width="10" class="last" cid="1" src="$staticRoot/images/aas_05.png" onclick="search.fiveDate('span_month_${velocityCount}','${item.allClassId}','$!{item.id}',$(this).attr('cid'),'TICKET');">
										</td>
                    				</tr>
									#foreach($ti in $item.listTicketClass)
                        				<tr>
                                        	<td class="w100">$!ti.tdlTicket</td>
                        					<td class="w300">$!ti.tdlMoneyshow</td>
                        					<td class="w300">$!ti.tdlExpiry</td>
                        					<td class="w300">$!ti.tdlChange</td>
                        					<!--<td class="w200">$!ti.tdlSupplement</td>-->
                        					<td class="w90" id="w90_$!{item.id}_$!{ti.id}_0"></td>
    										<td class="w90" id="w90_$!{item.id}_$!{ti.id}_1"></td>
    										<td class="w90" id="w90_$!{item.id}_$!{ti.id}_2"></td>
    										<td class="w90" id="w90_$!{item.id}_$!{ti.id}_3"></td>
    										<td class="w90" id="w90_$!{item.id}_$!{ti.id}_4"></td>
    										<td class="w90" id="w90_$!{item.id}_$!{ti.id}_5"></td>
                        				</tr>
									#end
                                </table>              
                    			<a class="a_zhifu" href="#">预订</a><br><br><br>
                  		   </div>
    					</div>
    				</td>
    			 </tr>
              #end
		</table>
		
		#parse("common/page.vm")
	</div>