	<form method="post" id="form1">
	<div class="g_block_2 mb20">
		<div class="input_block clearfix mb0">
			<div class="input_right input_right_wauto">
				<label>产品编码：</label>
				<input class="w110" name="hdlCode" value="$!hotelOrder.hdlCode">
				<label class="ml25">预订人姓名：</label>
				<input class="w110">
				<label class="ml25">酒店名称：</label>
				<input class="w130">
				<label class="ml25">酒店所在地：</label>
				<input class="w130">
				<span class="red_a ml25"  type="button" onclick="index.searchform('form1','$appRoot/orders/hotel/list');" >查询</span>
			</div>
		</div>
	</div>
	</form>
	<div class="g_block_2 g_block_7 mb20">
		
		<table class="mb10" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th>产品编码</th>
				<th>所在地区</th>
				<th>酒店名称</th>
				<th>酒店档次</th>
				<th>酒店房型</th>
				<th>价格/数量</th>
				<th>负责人/电话</th>
				<th>计调/电话</th>
                <th>在线交谈</th>
				<th>预订</th>
			</tr>
			#foreach($item in $hotelList)
				<tr>
                  	<td>$!item.hdlCode</td>
					<td>$!item.hdlCity</td>
					<td><a href="#">$item.hdlName</a></td>
					<td>$!item.hdlLevel</td>
					<td>没有</td>
					<td><a href="#">没有</a></td>
					<td>没有</td>
					<td>没有</td>
                    <td><a target=blank href="http://wpa.qq.com/msgrd?v=3&uin=$!item.cdlPeopleQq&Site=在线客服&Menu=yes"><img border=0 SRC="/static/images/button_old_101.gif" alt="在线交流"></a></td>
					<td><a href="">预订</a></td>
				</tr>
              #end
		</table>
		
		#parse("common/page.vm")
	</div>
