<form method="post" id="form1">
	<div class="g_block_2 mb20">
		<div class="input_block clearfix mb0">
			<div class="input_right input_right_wauto">
				<label>订单号：</label>
				<input class="w130" name="hloNum" value="$!hotelOrder.holNum">
				<label class="ml25">预订人姓名：</label>
				<input class="w130">
				<label class="ml25">酒店名称：</label>
				<input class="w130">
				<label class="ml25">酒店所在地：</label>
				<input class="w130">
				<span class="red_a ml25"  type="button" onclick="index.searchform('form1','$appRoot/orders/hotel/list');" >查询</span>
			</div>
		</div>
	</div>
	</form>
	<div class="g_block_2 g_block_7 mb20">
		
		<table class="mb10" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th>订单号</th>
				<th>订单时间</th>
				<th>订单内容</th>
				<th>联系人</th>
				<th>联系电话</th>
				<th>销售价格</th>
				<th>选择供应商</th>
				<th>订单状态</th>
				<th>接单状态</th>
				<th>支付状态</th>
				<th>备注</th>
			</tr>
			#foreach($item in $orderList)
				<tr>
                  	<td>$!item.hloNum</td>
                    <td>$!date.format('yyyy-MM-dd HH:mm:ss',$!item.hldCreatetime)</td>
					<td>没有</td>
                    <td>没有</td>
					<td>没有</td>
					<td>没有</td>
					<td>没有</td>
					<td>没有</td>
					<td>$!itme.hldNtype</td>
					<td>没有</td>
					<td>没有</td>
				</tr>
              #end
		</table>
		
		#parse("common/page.vm")
	</div>