<link rel="stylesheet" type="text/css" href="$staticRoot/css/ticket/ticket.css">
<script type="text/javascript"> 
	//初始化省市县
	regUtil.initProvince(0,'tdlProvince','tdlCity','tdlCounty');
	
	//是否为国际港澳台
	var c = $("input[name='tdlNation']:checked").val();
	if(c == '04'){
		$('#county01').show();
	}else{
		$('#county01').hide();
	}
	
	//国内国际港澳台显示
	$('#gddInland01').click(function() {
		$('#county01').hide();
		$('#szd02').hide();
		$('#szd01').show();
	});
	$('#gddInland02').click(function() {
		$('#szd01').hide();
		$('#szd02').show();
	});
	
	//点击港澳台国际时国家和城市的隐藏和切换
	//$("input[name='tdlNation']").change(function() {
	//	var a = $("input[name='tdlNation']:checked").val();
	//	if (a == '04') {
    //		$('#county01').show();
	//	}else{
	//		$('#county01').hide();
	//	}
	//});
	
	//点击香港澳门台湾国家和城市隐藏
	$('#tdlNation01').click(function(){
		$('#county01').hide();
	});
	$('#tdlNation02').click(function(){
		$('#county01').hide();
	});
	$('#tdlNation03').click(function(){
		$('#county01').hide();
	});
	
	//点击国际的时候国家和城市显示
	$('#tdlNation04').click(function(){
		$('#county01').toggle();
	});
	
	// 是否选择 国内 国际 
	var b = $("input[name='tdlWithinOrOuter']:checked").val();	
	if(b == '01'){
		//国际隐藏
		$('#szd02').hide();
		//国内显示
		$('#szd01').show();
		//绑定省市
		var a = $("select[name='tdlProvince']").val();
		var city  = $("input[name='dic_city']").val();
		var county = $("input[name='dic_county']").val();
		if(a != ''){
			regUtil.initProvince(a,'tdlProvince','tdlCity','tdlCounty',city,county);
		}
	}else if(b == '02'){
		//国内隐藏
		$('#szd01').hide();
		//国际显示
		$('#szd02').show();
		regUtil.initProvince(0,'tdlProvince','tdlCity','tdlCounty');
	}else{
		$('#szd02').hide();
		$('#szd01').show();
		$('#county01').hide();
		var a = $("select[name='tdlProvince']").val();
		var city = $("input[name='dic_city']").val();
		var county = $("input[name='dic_county']").val();
		if(a != '') {
			regUtil.initProvince(a,'tdlProvince','tdlCity','tdlCounty',city,county);
		} 
	}
</script>
<div class="jd_block">
	<p class="tit_1 ml20"><img src="$staticRoot/images/ren.png" alt="同业资源门票" title="同业资源门票">同业资源门票</p>
	<div class="g_line mb20"></div>
	<form method="post" id="form1">
		#*  
		<div class="doadmin_topl">
			<div class="doadmin_toplbox">
				<span style="width:97px;">景点区域：</span>
				<label> 
					<input type="radio" id="gddInland01" name="tdlWithinOrOuter" value="01" #if($ticketDetail.tdlWithinOrOuter == '01') checked #end/> 国内
				</label> 
				<label> 
					<input type="radio" id="gddInland02" name="tdlWithinOrOuter" value="02" #if($ticketDetail.tdlWithinOrOuter == '02') checked #end/> 国际/港澳台
				</label>
			</div>
		</div>
		*#
		<div class="doadmin_topl">
			<div class="doadmin_toplboxb">
				<span style="font-weight:400">产品编码：</span>
				<div class="doadmin_toplbrb">
					<input type="text" name="tdlCode" value="$!ticketDetail.tdlCode">
				</div>
			</div>
			<div class="doadmin_toplbox" id="szd01" style="width:480px;">
				<span>所在城市：</span>
				<div class="doadmin_toplbrb" id="sheng" style="width: 350px;">
					<select name="tdlProvince" id="tdlProvince" style="float: none;">
						<option value=""></option>
						#foreach($item in $provinces)
                            <option value="$item.regionNo" #if($ticketDetail.tdlProvince == $item.regionNo) selected #end>$item.regionName</option>
    					#end
					</select>
					<em class="w20">省</em>
					<select type="text" class="w90" name="tdlCity" id="tdlCity" style="float: none;width:120px;"></select> 市
					<select type="text" class="w90" name="tdlCounty" id="tdlCounty" style="float: none;width:120px;"></select> 区县
				</div>
			</div>
			<div class="doadmin_toplbox" id="szd02">
				<span>所在城市：</span>
				<div class="doadmin_toplbrb" style="width: 300px;">
					<label> 
						<input type="radio" name="tdlNation" id="tdlNation01" value="01" #if($ticketDetail.tdlNation == '01') checked #end />香港&nbsp;
					</label>
					<label>
						<input type="radio" name="tdlNation" id="tdlNation02" value="02" #if($ticketDetail.tdlNation == '02') checked #end/>澳门&nbsp;
					</label>
					<label> 
						<input type="radio" name="tdlNation" id="tdlNation03" value="03" #if($ticketDetail.tdlNation == '03') checked #end/>台湾&nbsp;
					</label>
					<label> 
						<input type="radio" name="tdlNation" id="tdlNation04" value="04" #if($ticketDetail.tdlNation == '04') checked #end/>国际&nbsp;
					</label>
				</div>
			</div>
			<div class="co_nationdiv" id="county01">
				<span>国家：</span> 
				<input type="text" name="tdlCountyone" class="validate[maxSize[15]]" value="$!ticketDetail.tdlCountyone" style="width: 120px; height: 25px;">
				<span>城市：</span> 
				<input type="text" name="tdlCityone" class="validate[maxSize[10]]"value="$!ticketDetail.tdlCityone" style="width: 120px; height: 25px">
			</div>
		</div>
		<div class="doadmin_topl mb20">
			<div class="doadmin_toplboxb">
				<span style="font-weight:400">景点名称：</span>
				<div class="doadmin_toplbrb">
					<input type="text" value="$!ticketDetail.tdlName" name="tdlName">
				</div>
			</div>
			<div class="doadmin_toplboxb">
				<span style="font-weight:400;width:100px;">景点级别：</span>
				<div class="doadmin_toplbrb">
					<select name="tdlScenicLevel">
						<option value=""></option>
						<option value="01" #if($!ticketDetail.tdlScenicLevel=="01") selected #end>不分级</option>
						<option value="02" #if($!ticketDetail.tdlScenicLevel=="02") selected #end>A级</option>
						<option value="03" #if($!ticketDetail.tdlScenicLevel=="03") selected #end>AA级</option>
						<option value="04" #if($!ticketDetail.tdlScenicLevel=="04") selected #end>AAA级</option>
						<option value="05" #if($!ticketDetail.tdlScenicLevel=="05") selected #end>AAAA级</option>
						<option value="06" #if($!ticketDetail.tdlScenicLevel=="06") selected #end>AAAAA级</option>
					</select>
				</div>
			</div>
		</div>
		<div class="input_block clearfix ">
			<div class="label_left" style="font-weight:100;width:121px;margin-top:-10px;">参观日期：</div>
			<div class="input_right input_right_wauto" style="margin-top:-11px;">
				<span class="tishi_box w110" onClick="WdatePicker()">
					<input type="text" value="$!ticketDetail.tplDate" class="w80" name="tplDate"style="width:108px;background:url($staticRoot/images/tt_5.jpg) no-repeat 85px 6px;cursor:pointer">
            	</span>
				<label class="ml15" style="width:125px;">&nbsp;&nbsp;公司/品牌名称： </label>&nbsp;
				<input class="w150" name="cpyName" value="$!ticketDetail.cpyName" type="text">
				<button class="y_but ml35" type="button" onclick="index.searchform('form1','$appRoot/ticket/detail/sametown');">查 询</button>
			</div>
    	</div>
	</form>
	<div class="g_line mb20"></div>
	<div class="carad_ctrtable ml35" style="width:90%">
		<table cellspacing="0" cellspadding="0" >
			<thead>
				<tr>
					<td>产品编码</td>
					<td>所在地区</td>
					<td>景点名称</td>
					<td>景点级别</td>
					<td>价格/数量</td>
					<td>公司/品牌名称</td>
					<td>联系人/电话</td>
					<td>在线交流</td>
					<!-- 
					<td>在线预定</td>
					-->
				</tr>
			</thead>
			<tbody>
				#foreach($item in $ticketList)
    				<tr>
    					<td>$!item.tdlCode</td>
    					#if($!item.tdlWithinOrOuter == '02')
							#if($!item.tdlNation == '04')
								<td>$!item.tdlCityone</td> 
							#else
								<td>#vtext($!item.tdlNation,'C108')</td> 
							#end 
						#elseif($!item.tdlWithinOrOuter == '01')
							<td>#vregion($!item.tdlCity)</td> 
						#else
							<td></td> 
						#end
    					<td><a href="$webRoot/ticket/menpiaoxiang/$!item.id" target="_blank" title="查看外网展示">$!item.tdlName</a></td>
    					<td>#vtext($!item.tdlScenicLevel,'C098')</td>
    					<td>
							<a href="javascript:price.sametown('$appRoot/ticket/price/getClassNum?tdlId=$item.id', '$appRoot/ticket/price/ticketPricePage?portal=05&tdlId=$item.id&tclId=$!item.tclId');">￥$!item.tplTradePrice元/#if($item.tplIsSign == '01')不限量#else$!item.tplSign张#end</a>
						</td>
    					<td>$!item.cpyName / $!item.cpyBrand</td>
    					<td>$!item.ccpName / $!item.ccpTelephone</td>
						<td><a target=blank href="http://wpa.qq.com/msgrd?v=3&uin=$item.ccpQq&site=qq&menu=yes"><img border=0 SRC="/static/images/button_old_101.gif" alt="在线交流"></a></td>
						<!--<td><a href="javascript:index.load('$appRoot/ticket/order/insert')">预订</a></td>-->
    				</tr>
				#end
			</tbody>
		</table>
		#parse("common/page.vm")
	</div>
</div>