<div class="addhotel">
	<div class="addhltop">
		<p class="g_tit_1 mb15">新增用户</p>
	</div>
	<form method="post" id="form1">
    	<div class="input_block clearfix">
    		<div class="input_right input_right_wauto">
        		<label class="ml30">登录账号：</label>
        		<input type="text" placeholder="" name="yjUserLoginname" class="validate[required]"><span>*</span>
        	</div>
    	</div>
		<div class="input_block clearfix">
    		<div class="input_right input_right_wauto">
        		<label class="ml30">用户密码：</label>
        		<input type="text" placeholder="" name="yjUserPassword" class="validate[required]"><span>*</span>
        	</div>
    	</div>
		<div class="input_block clearfix">
    		<div class="input_right input_right_wauto">
        		<label class="ml30">真实姓名：</label>
        		<input type="text" placeholder="" name="yjUserRealname" class="validate[required]"><span>*</span>
        	</div>
    	</div>
		<div class="input_block clearfix">
    		<div class="input_right input_right_wauto">
        		<label class="ml30">联系方式：</label>
        		<input type="text" placeholder="" name="yjUserTel"><span>*</span>
        	</div>
    	</div>
		<div class="input_block clearfix">
    		<div class="input_right input_right_wauto">
        		<label class="ml30">所属角色：</label>
        		<select name="yjRoleId">
    				#foreach($item in $roleList)
                        <option value="$item.id">$item.yjRoleName</option>
					#end
    			</select>
        	</div>
    	</div>
		<div class="input_block clearfix">
    		<div class="input_right input_right_wauto">
        		<label class="ml30">介绍人：</label>
        		<select name="yjParentLoginname">
    				#foreach($item in $userList)
                        <option value="$item.yjUserLoginname">$item.yjUserLoginname</option>
					#end
    			</select>
        	</div>
    	</div>
	 </form>
	<div class="g_right mr50 mb20" style="float:left;">
		<a class="red_a ml25 back" href="javascript:index.load(page.url);">返回</a>
		<a class="red_a ml25" href="javascript:form.sub('form1','$appRoot/yj/user/insert');">确认</a>
	</div>
</div>