<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>热门精选</title>
    <link href="$staticRoot/css/headerfooter.css" rel="stylesheet" type="text/css" />  
</head>
<body>
<div class="indexwrap">

<div class="ysxymain">
		<p>佳旅联合旅游服务平台及合作旅行社（商家）非常重视对您隐私的保护，请您仔细阅读如下声明。当您访问佳旅联合网站或佳旅联合合作旅行社网站提供的服务前，您需要同意隐私政策中具体解释的
			收集、使用、公布和以其它形式运用您或您的被代理人的个人信息的政策。如果您不同意隐私政策中的任何内容，请立即停止使用访问佳旅联合网站或佳旅联合合作旅行社网站。</p>
			
				<p>为了给您提供更准确、更有针对性的服务，佳旅联合可能会以如下方式，使用您提交的个人信息，但佳旅联合会以高度的勤勉义务对待这些信息。</p>
		
			
				<p>我们的目标是使佳旅联合旅游服务平台成为旅游方面最值得信任的公众服务平台，仅仅遵守标准的个人隐私保护条例是远远不够的。如果您对我们的隐私保护条款有任何疑问或建议，请发邮件ccy@jialvlianhe.com。</p>
	
		
				<h4>我们从您那里获得的资料：</h4>
			
		
				<p>佳旅联合会在您自愿选择服务或提供信息的情况下收集您的个人信息（简称“个人信息”），例如您的姓名、邮件地址、电话号码、订单信息、交易记录及其他身份信息等。我们有可能会保留一些用户的使用习惯信息（旅游相关），用于更好地了解和服务于用户。这些数据将有利于我们开发出更符合用户需求的功能、信息和服务。</p>
<p>我们可能会收集一些特定的关于您所使用的机器的技术信息，这些信息将用于提供更好的用户使用体验，提供更方便的服务，我们所收集的技术信息可能会包括：IP地址、操作系统版本、浏览器版本、显示器分辨率，推荐网站等。</p>
<p>此外，我们还可能从其他合法来源收到关于您的信息并且将其加入我们的客户信息库。
我们如何使用收集的用户信息：
我们利用从所有服务中收集的信息来提供、维护、保护和改进这些服务，同时开发新的服务为您带来更好的用户体验，并提高我们的总体服务品质。经您的许可，我们还会使用此类信息为您提供定制内容，例如向您提供机票、酒店等产品或服务的预定信息等。</p> 
<p>此外，我们还可能从其他合法来源收到关于您的信息并且将其加入我们的客户信息库。
				</p>
<h4>我们如何使用收集的用户信息：</h4>
<p>
	我们利用从所有服务中收集的信息来提供、维护、保护和改进这些服务，同时开发新的服务为您带来更好的用户体验，并提高我们的总体服务品质。经您的许可，我们还会使用此类信息为您提供定制内容，例如向您提供机票、酒店等产品或服务的预定信息等。
	
</p>
		<h4>特别授权：</h4>
		<p>
		<p>	<strong>您完全理解并不可撤销地、免费地授予佳旅联合及其关联公司下列权利：</strong></p>
<p>1、佳旅联合关联公司或合作公司允许佳旅联合用户登录关联公司或合作公司并使用其服务，佳旅联合用户在关联公司或合作公司的任何行
为均需遵守该等平台服务协议的约定、平台公布的规则以及有关正确使用平台服务的说明和操作指引。为了实现上述功能，您同意佳旅联合将您在佳旅联合的注册信息、交易/支付数据等信息和数据同步至关联公司或合作公司系统并允许其使用。</p>
<p>2、如您以佳旅联合关联公司或合作公司用户账号和密码登录佳旅联合网站或合作公司网站时，为了实现向您提供同等服务的功能，
您同意佳旅联合将您在关联公司或合作公司账号项下的注册信息、交易/支付数据等信息和数据同步至佳旅联合系统并进行使用，并且您不会因此追究佳旅联合以及佳旅联合关联公司或合作公司的责任。</p>
<p>3、为确保交易安全，允许佳旅联合及其关联公司或合作公司对用户信息进行数据分析，并允许佳旅联合及其关联公司对上述分析结果进行商业利用。</p>
<p>4、您在享受佳旅联合或佳旅联合合作公司提供的各项服务的同时，授权并同意接受佳旅联合或佳旅联合合作公司向您的电子邮件、手机、通信地址等发送商业信息，包括不限于最新的佳旅联合产品信息、促销信息等。若您选择不接受佳旅联合提供的各类信息服务，您可以按照佳旅联合网提供的相应设置拒绝该类信息服务。

		</p>
		<h4>我们分享的信息：</h4>
		<p>
			用户在如下情况下，佳旅联合会遵照您的意愿或法律的规定披露您的个人信息，由此引发的问题将由您个人承担：</p>
	<p>（1）事先获得您的授权；</p>
	<p>（2）只有透露您的个人资料，才能使佳旅联合或其合作商提供您所要求的产品和服务；</p>
	<p>（3）根据有关的法律法规要求；</p>
	<p>（4）按照相关政府主管部门的要求；</p>
	<p>（5）为维护佳旅联合的合法权益；</p>
	<p>（6）您同意让第三方共享资料；</p>
	<p>（7）我们发现您违反了佳旅联合服务条款或任何其他产品服务的使用规定。</p>
        <h4>用户对个人信息的控制：</h4>
        <p>
        	我们希望我们的用户放心的使用我们的产品和服务，所以我们承诺对您的个人信息予以保密，为此我们设置了安全程序保护您的信息不会被未经授权的访问所窃取。所有的个人信息被加密储存并放置于专业防火墙的内，我们使用加密技术对您所提供的个人信息传输通道进行保护，保证您的个人信息不会在传输途中被窃取。
        </p>
       <h4> 合作伙伴：</h4>
<p>我们选择具备资质的第三方公司或网站作为我们的合作伙伴为用户提供信息和服务，所有佳旅联合网上提供的服务都来自第三方合作伙伴，尽管我们只选择有资质的公司或网站作为我们的合作伙伴，但是每个合作伙伴都会有与佳旅
	联合不同的隐私条款，一旦您通过点击进入了合作伙伴的网站，佳旅联合的隐私条款将不再生效，我们建议您查看该合作伙伴网站的隐私条款，并了解该合作伙伴对于收集、使用、泄露您的个人信息的规定。</p>
<h4>关于隐私条款的变更：</h4>
<p>本隐私条款自2015年10月1日起生效。佳旅联合将根据法律、法规或政策的变更和修改，或佳旅联合网站内容的变化和技术的更新，或其他佳旅联合认为合理的原因，对本隐私政策进修改并以网站公告、用户通知等合适的形式告知用户，若您不接受修订后的条款的，应立即停止使用本服务，若您在本隐私条款变更七日后继续使用本服务的，视为接受修订后的所有条款。</p>


	</div>
</div>

</div>
</body>
</html>