	<div class="g_block_2 mb20">
		<div class="input_block clearfix mb0">
			<div class="input_right input_right_wauto">
				<span style="color:red;font-size:18px;font-weight:bold;">二级间接返利10%(永久)</span>
			</div>
		</div>
	</div>
	<div class="g_block_2 g_block_7 mb20">
		<table class="mb10" cellpadding="0" cellspacing="0" border="0">
			<tr>
						<th>所在省市</th>
						<th>业务方向</th>
						<th>公司名称(品牌)</th>
						<th>负责人/电话</th>
						<th>运维费状态</th>
						<th>二级代理返利</th>
			</tr>
			#foreach($item in $companyList)
				<tr>
                  	  <td>#vregion($!item.cpyProvince) #vregion($!item.cpyCity) #vregion($!item.cpyCounty)</td>
	                    <td>
							#vtext($!item.cpyRoe,'C120')
						</td>
						<td>$!item.cpyName / $!item.cpyBrand</td>
	                    <td>$!item.ccpName / $item.ccpTelephone</td>
						<td><a href="javascript:index.load('$appRoot/priceback/yw/yw?cpyId=$!item.id');">查看明细</a></td>
						<td>共$erim.emptyDefault($!item.backMoneyLevelf,0)元</td>
                  </tr>
              #end
		</table>
		<div class="g_right mr50 mb20" style="float:left;">
			<a class="red_a ml25 back" href="javascript:index.load('$appRoot/priceback/yw/show');">返回</a>
		</div>
		#parse("common/page.vm")
	</div>
<script type="text/javascript">
	$("table tr:even").each(function(){
		$(this).css("background-color","#fbfbfb");
	})
</script>