<div class="jd_block">
	<p class="tit_1 ml20"><img src="$staticRoot/images/ren.png" alt="特色餐同业产品管理" title="特色餐同业产品管理">特色餐同业产品管理<br>
	</p>
	<div class="g_line mb20"></div>
	<form method="post" id="form1">
    	<div class="input_block clearfix">
    		<div class="label_left">所在地区：</div>
    		<div class="input_right input_right_wauto">
    			<input class="w150" name="cdlCity">
    			<label class="ml15">餐厅名称：</label>
    			<input class="w150" name="cdlName">
    			<label class="ml15">餐厅业务：</label>
    			<select class="w150" name="cdlBusiness">
    				<option></option>
    				<option value ="01">只接团餐</option>
    				<option value ="02">可接团餐</option>
    				<option value ="03">不接团餐</option>
    			</select>
    		</div>
    	</div>
    	<div class="input_block clearfix mb20">
    		<div class="label_left">最低正餐标注： </div>
    		<div class="input_right input_right_wauto">
    			<span class="tishi_box w130" >
    				<input type="text" class="w65" name="cdlOrderNormz"> 元/人/起
    			</span>
    			<label class="ml15">公司/品牌名称： </label>
    			<input class="w200" name="">
    			<button class="y_but ml35" type="button" onclick="index.searchform('form1','$appRoot/sametown/cafeteria/detail');">查 询</button>
    		</div>
    	</div>
	</form>
	<div class="g_line mb20"></div>
	<div class="carad_ctrtable ml35" style="width:90%">
		<table cellspacing="0" cellspadding="0" >
			<thead>
				<tr>
					<td>产品编号</td>
					<td>所在地区</td>
					<td>餐厅名称</td>
					<td>餐厅业务</td>
					<td>最低正餐标注</td>
					<td>套餐价格</td>
					<td>公司/品牌名称</td>
					<td>联系电话</td>
					<td>在线交流</td>
					<td>在线预定</td>
				</tr>
			</thead>
			<tbody>
				#foreach($item in $cafeteriaList)
    				<tr>
    					<td>$!item.cdlCode</td>
    					<td>$!item.cdlCity</td>
    					<td><a href="#">$!item.cdlName</a></td>
    					<td>$!item.cdlBusiness</td>
    					<td>$!item.cdlOrderNormz</td>
    					<td>$!item.cpeEachPrice</a></td>
    					<td>长沙蓝天旅行社</a></td>
    					<td>$!item.cdlTelephone</td>
    					<td><a target=blank href="tencent://message/?461656756&Site=在线客服&Menu=yes"><img border=0 SRC="/static/images/button_old_101.gif" alt="在线交流"></a></td>
    					<td><a href="#">预定</a></td>
    				</tr>
				#end
			</tbody>
		</table>
		#parse("common/page.vm")
	</div>
</div>