<form method="post" id="form1">
    <div class="rdivv">
    	<!--合作管理-->
		<div class="doadmin">
			<div class="newfood_suptop mb20">
				<img src="$staticRoot/images/aa_4.png">
				<span>权限管理</span>
				<div class="cb"></div>
				<div class="g_line"></div>
			</div>
			<div class="admin_div">
				<div class="doadmin_topl" style="margin-top:0; margin-bottom:20px;">
					<div class="doadmin_toplboxb">
						<span>角色:</span>
						<div class="doadmin_toplbrb">
							<select name="roleid">
								<option value=""></option>
								#foreach($item in $listRole)
									<option value="$item.id">$item.cusRoleName</option>
								#end
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="cb"></div>
			<div class="g_line mb20"></div>
			<div class="carad_ct">
				<div class="carad_ctrtable">
					<table cellspacing="0" cellspadding="0">
						<thead>
							<tr>
								<td>模块</td>
								<td>子模块</td>
								<td>功能列表</td>
							</tr>
						</thead>
						<tbody>
							#foreach($item in $listFunc)
								#if($!userBussiness.cbsService == '04')
									#if($item.cusFuncCode != 'SAMETOWN')
										#if($item.cusFuncCode == 'PRODUCT')
											#foreach($childitem in $item.childListCusSystemFuncBean)
												#if(($userBussiness.cbsProductType=='01' && $childitem.cusFuncCode=='PRODUCT_HOTEL') || 
													($userBussiness.cbsProductType=='02' && $childitem.cusFuncCode=='PRODUCT_MANAGEMENT') || 
													($userBussiness.cbsProductType=='03' && $childitem.cusFuncCode=='PRODUCT_GUIDE') || 
													($userBussiness.cbsProductType=='04' && $childitem.cusFuncCode=='PRODUCT_TICKET') || 
													($userBussiness.cbsProductType=='05' && $childitem.cusFuncCode=='PRODUCT_TEXI') || 
													($userBussiness.cbsProductType=='06' && $childitem.cusFuncCode=='PRODUCT_PLANETICKET') || 
													($userBussiness.cbsProductType=='07' && $childitem.cusFuncCode=='PRODUCT_CAFETERIA') || 
													($userBussiness.cbsProductType=='08' && $childitem.cusFuncCode=='PRODUCT_TRANSTICKET'))
                        							<tr>
                        								#if($velocityCount == 1)
                        		    						<td>$item.cusFuncName</td>
                        		    					#end
                        								<td>$childitem.cusFuncName</td>
                        								<td>
															<p>
                        		    						#foreach($rescource in $childitem.childListCusSystemFuncRescourceBean)
                                                                <label class="right_control"><input type="checkbox" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label> 
															#end
															</p>
                        		    					</td>
                        							</tr>
												#end
											#end
										#else
											#foreach($childitem in $item.childListCusSystemFuncBean)
                    							<tr>
                    								#if($velocityCount == 1)
                    		    						<td rowspan="$item.childSize">$item.cusFuncName</td>
                    		    					#end
                    								<td>$childitem.cusFuncName</td>
                    								<td><p>
                    		    						#foreach($rescource in $childitem.childListCusSystemFuncRescourceBean)
                                                            <label class="right_control"><input type="checkbox" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label> 
                										#end</p>
                    		    					</td>
    												<!--
        												<td>
        													<label class="right_controla"><input type="checkbox" class="right_controlia" name="subBox" id="checkLine">本行全选</label>
        												</td>
    												-->
                    							</tr>
											#end
										#end
									#end
								#else
            	    				#foreach($childitem in $item.childListCusSystemFuncBean)
            							<tr>
            								#if($velocityCount == 1)
            		    						<td rowspan="$item.childSize">$item.cusFuncName</td>
            		    					#end
            								<td>$childitem.cusFuncName</td>
            								<td>
												<p>
            		    						#foreach($rescource in $childitem.childListCusSystemFuncRescourceBean)
													##房型量价如果选中默认勾选量价入口
													#if($rescource.cusFuncRescourceCode=='PRODUCT_HOTEL_NUM' || $rescource.cusFuncRescourceCode =='PRODUCT_HOTEL_COST')
														<label class="right_control"><input type="checkbox" onclick="chooseLj('PRODUCT_HOTEL_PRICE');" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label>
													##房型取消选中量价则取消量和价
													#elseif($rescource.cusFuncRescourceCode=='PRODUCT_HOTEL_PRICE')
														<label class="right_control"><input type="checkbox" onclick="unchooseLj('HOTEL',$(this).prop('checked'));" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label>
													##房型取消选中量价则取消量和价
													#elseif($rescource.cusFuncRescourceCode=='PRODUCT_TICKET_PRICE')
														<label class="right_control"><input type="checkbox" onclick="unchooseLj('TICKET',$(this).prop('checked'));" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label>
													##门票量价入口 如果选中勾选量价入口
													#elseif($rescource.cusFuncRescourceCode=='PRODUCT_TICKET_NUM' || $rescource.cusFuncRescourceCode =='PRODUCT_TICKET_COST')
														<label class="right_control"><input type="checkbox" onclick="chooseLj('PRODUCT_TICKET_PRICE');" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label>
													#else
														<label class="right_control"><input type="checkbox" class="right_controli" name="rescourceCode" value="$rescource.cusFuncRescourceCode"/>$rescource.cusFuncRescourceName</label>
													#end
												#end
												</p>
            		    					</td>
											<!--
												<td>
													<label class="right_controla"><input type="checkbox" class="right_controlia" name="subBox" id="checkLine">本行全选</label>
												</td>
											-->
            							</tr>
									#end
								#end
        					#end
						</tbody>
					</table>
					#if($shiro.hasPermission("SYSTEM_SERVICE_UPDATE"))
						<div class="tpage">
							<div class="tpager">
                                <span></span>
                                <div class="carinfo_ctblrbtn">
                                    <button type="button" id="btn" class="carinfo_sub">提交</button>
                                </div>
                            </div>
						</div>
					#end
				</div>
			</div>
		</div>
		<!--/合作管理-->
    </div>
</form>
<script >
	//选择量价其中一个 默认选中量价
	function chooseLj(ntype){
		$('input[value="'+ntype+'"]').prop('checked',true);
	}
	
	//如果量价入口被取消 则默认量价都被取消
	function unchooseLj(ntype,check){
		if(!check){
			$('input[value="PRODUCT_'+ntype+'_NUM"]').prop('checked',false);
			$('input[value="PRODUCT_'+ntype+'_COST"]').prop('checked',false);
		}		
	}
		
	//点击查询
	$("select[name='roleid']").change(function(){
		$("input[name='rescourceCode']").attr("checked",false);
		//获取要查询角色值
		var roleval = $("select[name='roleid']").val();
		if(null != roleval && "" != roleval){
			//获取角色对应权限
			$.post("$appRoot/cus/func/ajaxGetFunByRoleid", {roleid:roleval},function(data){
				//解析数组
				$.each(data,function(i,item){
					$("input[name='rescourceCode'][value='"+item.cusFuncCode+"']").attr("checked",'checked');
				});
			},'json');
		}
	});
	//确定添加权限
	$(".carinfo_sub").click(function(){
		var role = $("select[name='roleid']").val();
		if("" == role){
			wxcalert('请选择角色!');
		}else{
			subform.ajaxload($("#form1").serialize(),"$appRoot/cus/func/insert");
		}
	});
</script>