<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="func">

    <!-- 查询所有数据，用于生成前端页面菜单 -->
    <select id="selectAll" parameterType="hashMap" resultType="funcBean">
        SELECT
            func_id        AS id,
            func_pid       AS pid,
            func_no        AS no,
            func_type      AS type,
            func_name      AS name,
            func_auth      AS auth,
            func_action    AS action
        FROM
            tm_system_func
        ORDER BY 
            func_no
    </select>
    
    <!-- 根据ID查询数据 -->
    <select id="selectEntityById" parameterType="hashMap" resultType="funcBean">
        SELECT
            func_id        AS id,
            func_pid       AS pid,
            func_no        AS no,
            func_type      AS type,
            func_name      AS name,
            func_auth      AS auth,
            func_action    AS action
        FROM
            tm_system_func
        WHERE
            func_id = #{id}
    </select>
	
    <!-- 根据Auth查询数据 -->
    <select id="selectEntityByAuth" parameterType="hashMap" resultType="funcBean">
        SELECT
            func_id        AS id,
            func_pid       AS pid,
            func_no        AS no,
            func_type      AS type,
            func_name      AS name,
            func_auth      AS auth,
            func_action    AS action
        FROM
            tm_system_func
        WHERE
            func_auth = #{auth}
    </select>

    <!-- 查询本页数据，用于显示当前页 -->
    <select id="selectPage" parameterType="hashMap" resultType="funcBean">
        SELECT
            func_id        AS id,
            func_pid       AS pid,
            func_no        AS no,
            func_type      AS type,
            func_name      AS name,
            func_auth      AS auth,
            func_action    AS action
        FROM
            tm_system_func
        <where>
            <if test="id != null">and func_id = #{id}</if>
            <if test="pid != null">and func_pid = #{pid}</if>
            <if test="no != null">and func_no = #{no}</if>
            <if test="type != null">and func_type = #{type}</if>
            <if test="name != null">and func_name like "%"#{name}"%"</if>
            <if test="auth != null">and func_auth like "%"#{auth}"%"</if>
            <if test="action != null">and func_action like "%"#{action}"%"</if>
        </where>
        <if test="qrysort != null">order by ${qrysort} ${qrymode}</if>
    </select>

    <!-- 查询总数，用于页面分页 -->
    <select id="selectCount" parameterType="hashMap" resultType="int">
        SELECT
            count(1)
        FROM
            tm_system_func
        <where>
            <if test="id != null">and func_id = #{id}</if>
            <if test="pid != null">and func_pid = #{pid}</if>
            <if test="no != null">and func_no = #{no}</if>
            <if test="type != null">and func_type = #{type}</if>
            <if test="name != null">and func_name like "%"#{name}"%"</if>
            <if test="auth != null">and func_auth like "%"#{auth}"%"</if>
            <if test="action != null">and func_action like "%"#{action}"%"</if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="hashMap">
        INSERT INTO 
            tm_system_func(func_id,func_pid,func_no,func_type,func_name,func_auth,func_action)
        VALUES
            (#{id},#{pid},#{no},#{type},#{name},#{auth},#{action})
    </insert>
    
    <!-- 修改 -->
    <update id="update" parameterType="hashMap">
        UPDATE 
            tm_system_func
        SET
            func_id = #{id},
            func_pid = #{pid},
            func_no = #{no},
            func_type = #{type},
            func_name = #{name},
            func_auth = #{auth},
            func_action = #{action}
        WHERE
            func_id = #{dataitems[0].id}
    </update>

    <!-- 批量删除 -->
    <delete id="delete" parameterType="hashMap">
        DELETE FROM
            tm_system_func
        WHERE
            func_id
        IN
            <foreach collection="dataitems" item="item"  open="(" separator="," close=")">  
                #{item.id}
            </foreach>
    </delete>

</mapper>