	<div class="g_block_2 mb20">
		<form method="post" id="form1">
    		<div class="input_block clearfix mb0">
    			<div class="input_right input_right_wauto">
    				<label>操作用户：</label>
    				<input class="w130" name="logUsername" value="$!usrBean.logUsername"/>
    				<span class="red_a ml25" onclick="index.searchform('form1','$appRoot/sell/log/listAll');">查询</span>
    			</div>
    		</div>
		</form>
	</div>
	<div class="g_block_2 g_block_7 mb20">
		
		<table class="mb10" cellpadding="0" cellspacing="0" border="0">
			<tr>
				<th>序号</th>
				<th>操作IP</th>
				<th>操作用户</th>
				<th>操作时间</th>
				<th>操作模块</th>
				##<th>操作路径</th>
				<th>操作</th>
			</tr>
			#foreach($item in $logList)
				<tr>
                  	<td>$item.id</td>
					<td>$item.logIp</td>
					<td>$item.logUsername</td>
					<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!item.logCreatedate)</td>
					<td>$!item.logResourceName</td>
					##<td>$!item.logUrl</td>
					<td>$!item.logOperation</td>
				</tr>
              #end
		</table>
		
		#parse("common/page.vm")
	</div>
<script type="text/javascript">
	$("table tr:even").each(function(){
		$(this).css("background-color","#fbfbfb");
	})
</script>