<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="groundprice">

	<!-- 过滤条件 -->
	<sql id="sql_query">
		1 = 1
		<!-- 套餐ID-->
		<if test = "gdlId != null and gdlId != ''"> AND gdl_id = #{gdlId} </if>
		<!-- 日期 -->
		<if test = "gpeDate != null and gpeDate != ''"> AND gpe_date = #{gpeDate} </if>
	</sql>
	
	<!-- 查询字段 -->
	<sql id="sql_column">
		id,
		gdl_id					AS	gdlId,
		gdl_name				AS	gdlName,
		gpe_date				AS	gpeDate,
		gpe_is_open				AS	gpeIsOpen,
		gpe_week				AS	gpeWeek,
		gpe_sign				AS	gpeSign,
		gpe_trade_adult			AS	gpeTradeAdult,
		gpe_trade_child			AS	gpeTradeChild,
		gpe_retail_adult		AS	gpeRetailAdult,
		gpe_retail_child		AS	gpeRetailChild,
		gpe_single_price		AS	gpeSinglePrice,
		gpe_single_show			AS	gpeSingleShow,
		gpe_insure_price		AS	gpeInsurePrice,
		gpe_insure_show			AS	gpeInsureShow,
		gpe_is_upgrade			AS	gpeIsUpgrade,
		gpe_upgrade_cont		AS	gpeUpgradeCont,
		gpe_upgrade_adult		AS	gpeUpgradeAdult,
		gpe_restrict			AS	gpeRestrict,
		gpe_create_time			AS	gpeCreateTime,
		gpe_create_user			AS	gpeCreateUser,
		cpy_id					AS	cpyId,
		gpe_wholesale_child		AS  gpeWholesaleChild,
		gpe_wholesale_adult		AS  gpeWholesaleAdult
	</sql>
	
	<!-- 查询数据列表 -->
	<select id="selectPriceList" parameterType="java.util.Map" resultType="groundPriceBean">
		SELECT * FROM (
			SELECT
				<include refid="sql_column" />
			FROM
				ground_price
			ORDER BY
				gpe_create_time
			DESC
		) t 
		GROUP BY
			t.gpeDate,
			t.gdlId
		HAVING
			t.gdlId = #{bean.gdlId}
			AND	t.gpeDate IN
			<foreach collection="monthCount" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</select>
	
	<!-- 新增 -->
	<insert id="insert">
		INSERT INTO
			ground_price (
				gdl_id,
				gdl_name,
				gpe_date,
				gpe_is_open,
				gpe_week,
				gpe_sign,
				gpe_trade_adult,
				gpe_trade_child,
				gpe_wholesale_adult,
				gpe_wholesale_child,
				gpe_retail_adult,
				gpe_retail_child,	
				gpe_single_price,
				gpe_insure_price,
				gpe_upgrade_adult,
				gpe_single_show,
				gpe_insure_show,
				gpe_is_upgrade,
				gpe_upgrade_cont,
				gpe_restrict,
				gpe_create_time,
				gpe_create_user,
				cpy_id
			) VALUES (
				#{gdlId},
				#{gdlName},
				#{gpeDate},
				#{gpeIsOpen},
				#{gpeWeek},
				#{gpeSign},
				#{gpeTradeAdult},
				#{gpeTradeChild},
				#{gpeWholesaleAdult},
				#{gpeWholesaleChild},
				#{gpeRetailAdult},
				#{gpeRetailChild},
				#{gpeSinglePrice},
				#{gpeInsurePrice},
				#{gpeUpgradeAdult},
				#{gpeSingleShow},
				#{gpeInsureShow},
				#{gpeIsUpgrade},
				#{gpeUpgradeCont},
				#{gpeRestrict},
				#{gpeCreateTime},
				#{gpeCreateUser},
				#{cpyId}
			)
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE
			ground_price
		SET
			gpe_sign			= #{gpeSign},
			gpe_trade_adult		= #{gpeTradeAdult},
			gpe_trade_child		= #{gpeTradeChild},
			gpe_retail_adult	= #{gpeRetailAdult},
			gpe_retail_child	= #{gpeRetailChild},
			gpe_single_price	= #{gpeSinglePrice},
			gpe_single_show		= #{gpeSingleShow},
			gpe_insure_price	= #{gpeInsurePrice},
			gpe_insure_show		= #{gpeInsureShow},
			gpe_is_upgrade		= #{gpeIsUpgrade},
			gpe_upgrade_cont	= #{gpeUpgradeCont},
			gpe_upgrade_adult	= #{gpeUpgradeAdult},
			gpe_wholesale_child	= #{gpeWholesaleChild},
			gpe_wholesale_adult	= #{gpeWholesaleAdult},
			gpe_is_open			= '02'
		WHERE
			id	= #{id}
	</update>
	
	<!-- 更改出售状态 -->
	<update id="updateIsOpen">
		UPDATE
			ground_price
		SET
			gpe_is_open		= #{gpeIsOpen}
		WHERE
			id	= #{id}
	</update>
	
	<!-- 批量更改出售状态 -->
	<update id="updateBatchIsOpen" parameterType="java.util.Map">
		UPDATE
			ground_price
		SET
			gpe_is_open		= #{bean.gpeIsOpen}
		WHERE
			gdl_id	= #{bean.gdlId}
			<!-- 日期 -->
			AND gpe_date IN
			<foreach collection="monthCount" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</update>
</mapper>