<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>添加机票</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="css/houtai.css">
<link rel="stylesheet" type="text/css" href="css/fangliang.css">
<style type="text/css">
.tab_block{width:455px;}
.tab_block .tab_a a{display:inline-block;height:29px;line-height:28px;color:#fff;font-size:14px;padding:0 15px;background-color:#969696;border:1px solid #ccc;border-radius:5px 5px 0 0;}
.tab_block .tab_a a.on{background-color:#d09e64;border-bottom:1px solid #d09e64;}
.tab_block table{width:455px;border-right:1px solid #ccc;border-radius:0 4px 5px 5px;}
.tab_block table th{background-color:#d09e64;height:33px;color:#fff;}
.tab_block table td{background-color:#fff;height:30px; text-align:center;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
.tab_block table th.rt{border-radius:0 4px 0 0;}
.tab_block table td.rb{border-radius:0 0 5px 0;}
.tab_block table td.lb{border-radius:0 0 0 5px;}
.tab_block .tab_2{display:none;}
.button_block_w1060{width:1060px;}
.flt_box{width:530px;float:left;}
.ml55{margin-left:75px;}
</style>
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/kaiguan.js"></script>

</head>
<body bgcolor="#f1f1f1">
<div class="jd_block">
	<p class="tit_1 ml35"><img src="images/jp_add_jp_03.jpg" alt="添加机票" title="添加机票">添加机票</p>
	<div class="g_line mb20"></div>
	<div class="input_block clearfix">
		<div class="label_left">国内/国际：</div>
		<div class="input_right">
			<label class="w65"><input type="radio" name="gj" checked>国内</label><label class="w90"><input type="radio" name="tcf">国际/港澳台</label>
		</div>
	</div>
	<div class="flt_box ml55">
		<div class="input_block clearfix mb20">
			<div class="input_right input_right_wauto">
				去 程： <select class="w130"><option>北京</option></select>&nbsp; 到 &nbsp;<select class="w130"><option>丽江</option></select>
			</div>
		</div>
		<div class="tab_block mb40">
			<p class="tab_a"><a class="on" href="#">直飞</a><a href="#">中转</a></p>
				<table class="tab_1" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th></th>
						<th>航班号</th>
						<th>出发城市</th>
						<th>出发时间</th>
						<th>落地城市</th>
						<th class="rt">落地时间</th>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>1</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td class="lb">&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td class="rb">18:30</td>
					</tr>
				</table>
				<table class="tab_2" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th></th>
						<th>航班号</th>
						<th>出发城市</th>
						<th>出发时间</th>
						<th>落地城市</th>
						<th class="rt">落地时间</th>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td class="lb">&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td class="rb">18:30</td>
					</tr>
				</table>
		</div>
	</div>
	<div class="flt_box">
		<div class="input_block clearfix mb20">
			<div class="input_right input_right_wauto">返 程： 
					<select class="w130"><option>丽江</option></select>&nbsp; 到 &nbsp;<select class="w130"><option>北京</option></select>
			</div>
		</div>
		<div class="tab_block mb40">
			<p class="tab_a"><a class="on" href="#">直飞</a><a href="#">中转</a></p>
				<table class="tab_1" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th></th>
						<th>航班号</th>
						<th>出发城市</th>
						<th>出发时间</th>
						<th>落地城市</th>
						<th class="rt">落地时间</th>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td class="lb">&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td class="rb">18:30</td>
					</tr>
				</table>
				<table class="tab_2" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<th></th>
						<th>航班号</th>
						<th>出发城市</th>
						<th>出发时间</th>
						<th>落地城市</th>
						<th class="rt">落地时间</th>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td>&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td>18:30</td>
					</tr>
					<tr>
						<td class="lb">&nbsp;<input type="radio" name="qzf">&nbsp;</td>
						<td>CA1567</td>
						<td>北京</td>
						<td>17:30</td>
						<td>曼谷</td>
						<td class="rb">18:30</td>
					</tr>
				</table>
		</div>
	</div>
	<div class="cb"></div>
	<div class="button_block clearfix button_block_w1060"><button class="y_but ml35">确定</button><button class="b_but ml35">返回</button></div>

</div>
</body>
</html>
