<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pubnews">
	
	<!-- 新增 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
			pub_news (
				new_title,
				new_content,
				new_createtime,
				new_createuser,
				cpy_id,
				new_click,
				new_type,
				new_is_check,
				new_is_show
			) VALUES (
				#{newTitle},
				#{newContent},
				#{newCreateTime},
				#{newCreateUser},
				#{cpyId},
				#{newClick},
				#{newType},
				#{newIsCheck},
				#{newIsShow}
			)
	</insert>
	
	<!-- 删除 -->
	<delete id="delete">
		DELETE	FROM
			pub_news
		WHERE
			id	= #{id}
	</delete>
	
	<!-- 查询列 -->
	<sql id="sql_column">
		id,
		new_title        AS newTitle,
		new_content      AS newContent,
		new_createtime   AS newCreatetime,
		new_createuser   AS newCreateuser,
		cpy_id			 AS cpyId,
		new_click		 AS newClick,
		new_type		 AS newType,
		new_is_check	 AS newIsCheck,
		new_is_delstatus AS newIsDelstatus, 
		new_is_show		 AS newIsShow
	</sql>
	
	<!-- 查询条件 -->
	<sql id="sql_query">
		<where>
			1 = 1
			<if test="newTitle != null and newTitle != ''"> and new_title like "%"#{newTitle}"%" </if>
			<if test="newType != null and newType != ''"> and new_type = #{newType} </if>
			<if test="newIsShow != null and newIsShow != ''"> and new_is_show = #{newIsShow} </if>
			<if test="cpyId != null and cpyId != ''"> and cpy_id = #{cpyId} </if>
		</where>
	</sql>
	
	<!-- 查询列表 -->
	<select id="selectPageNews" resultType="pubNewsBean">
		SELECT
			<include refid="sql_column" />
		FROM
			pub_news
			<include refid="sql_query" />
		ORDER BY 
			new_is_delstatus
		DESC,
			new_is_check
		DESC,
			new_createtime
		DESC,
		   new_is_show
		DESC
	</select>
	
	<!-- 查询总数 -->
	<select id="selectPageNewsCount" resultType="int">
		SELECT
			count(1)
		FROM
			pub_news
		<include refid="sql_query" />
	</select>
	
	<!-- 根据ID查询一条数据 -->
	<select id="getPubNewsById" resultType="pubNewsBean">
		SELECT
			<include refid="sql_column" />
		FROM
			pub_news 
		WHERE
			id = #{id}
	</select>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE
			pub_news
		SET
			new_title = #{newTitle},
			new_content = #{newContent},
			new_type = #{newType}
		WHERE
			id = #{id}
	</update>
	
	<!-- 是否门户显示 -->
	<update id="updateIsShow">
		UPDATE
			pub_news
		SET
			new_is_show = #{newIsShow}
		WHERE
			id = #{id}
	</update>
	<!-- 提交审核 -->
	<update id="newisdel">
		UPDATE
			pub_news
		SET
			new_is_delstatus = #{newIsDelstatus}
		WHERE
			id = #{id}
	</update>
</mapper>
