<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ticketdetail">
	
	<!-- 过滤条件 -->
	<sql id="sql_query">
		<where>
			1 = 1
			<if test="cpyId !=null 				and cpyId != ''">               and cpy_id              =       #{cpyId}</if>
			<if test="tdlNation != null 		and tdlNation != ''">			and tdl_nation 			like 	"%"#{tdlNation}"%"</if>
			<if test="tdlName != null 			and tdlName != ''">				and tdl_name 			like 	"%"#{tdlName}"%"</if>
			<if test="tdlCode != null 			and tdlCode != ''">				and tdl_code 			like 	"%"#{tdlCode}"%"</if>
			<if test="tdlCountyone != null 		and tdlCountyone != ''">		and tdl_countyone 		like 	"%"#{tdlCountyone}"%"</if>
			<if test="tdlCity != null 			and tdlCity != ''">			    and tdl_city 			=       #{tdlCity}</if>
			<if test="tdlIsDelStatus != null 	and tdlIsDelStatus != ''">		and tdl_is_del_status 	=       #{tdlIsDelStatus}</if>
			<if test="tdlScenicLevel != null 	and tdlScenicLevel != ''">		and tdl_scenic_level 	=       #{tdlScenicLevel}</if>
			<if test="tdlCityone != null 		and tdlCityone != ''">		    and tdl_ciityone 		=       #{tdlCityone}</if>
			<if test="tdlWithinOrOuter != null 	and tdlWithinOrOuter != ''">	and tdl_within_or_outer =       #{tdlWithinOrOuter}</if>
		</where>
	</sql>
	
	<!-- 查询同城同业 -->
	<sql id="sql_query_ticket">
			1 = 1
			<!-- 是否国内 -->
			<if test="tdlWithinOrOuter != null 	and tdlWithinOrOuter != ''">	and tdl_within_or_outer =       #{tdlWithinOrOuter}</if>
			<!-- 编码 -->
			<if test="tdlCode != null 			and tdlCode != ''">				and tdl_code 			like 	"%"#{tdlCode}"%"</if>
			<!-- 省 -->
			<if test="tdlProvince != null 		and tdlProvince != ''">			and tdl_province 		=       #{tdlProvince}</if>
			<!-- 市 -->
			<if test="tdlCity != null 			and tdlCity != ''">			    and tdl_city 			=       #{tdlCity}</if>
			<!-- 县 -->
			<if test="tdlCounty != null 		and tdlCounty != ''">			and tdl_county 			=       #{tdlCounty}</if>
			<!-- 港澳台 -->
			<if test="tdlNation != null 		and tdlNation != ''">			and tdl_nation 			like 	"%"#{tdlNation}"%"</if>
			<!-- 国家 -->
			<if test="tdlCountyone != null 		and tdlCountyone != ''">		and tdl_countyone 		like 	"%"#{tdlCountyone}"%"</if>
			<!-- 县 -->
			<if test="tdlCityone != null 		and tdlCityone != ''">		    and tdl_ciityone 		=       #{tdlCityone}</if>
			<!-- 景点名称 -->
			<if test="tdlName != null 			and tdlName != ''">				and tdl_name 			like 	"%"#{tdlName}"%"</if>
			<!-- 公司品牌名称 -->
			<if test="cpyName != null 			and cpyName != ''">	and ( cpy_Name like "%"#{cpyName}"%" or cpy_brand like "%"#{cpyName}"%" )</if>
			
			<if test="tdlScenicLevel != null 	and tdlScenicLevel != ''">		and tdl_scenic_level 	=       #{tdlScenicLevel}</if>
			
			<if test="tdlIsDelStatus != null 	and tdlIsDelStatus != ''">		and tdl_is_del_status 	=       #{tdlIsDelStatus}</if>
	</sql>
	
	<sql id="COMPANYDETAIL">
			cpy.cpy_name 	  AS cpyName,
			cpy.cpy_telephone AS cpyTelephone,
			cpy.cpy_brand 	  AS cpyBrand,
			ccp.cbs_operator         AS ccpName,
			ccp.cbs_operator_phone   AS ccpTelephone,
			cpy.cpy_email 	         AS ccpEmail,
			ccp.cbs_operator_qq      AS ccpQq
	</sql>
	
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectPageTicket" resultType="ticketDetailBean">
		SELECT
			id ,
			tdl_name                   AS tdlName,
			tdl_key                    AS tdlKey,
			tdl_address                AS tdlAddress,
			tdl_tel                    AS tdlTel,
			tdl_nearby_spots           AS tdlNearbySpots,
			tdl_nearby_hotel           AS tdlNearbyHotel,
			tdl_nearby_architecture    AS tdlNearbyArchitecture,
			tdl_position               AS tdlPosition,
			tdl_is_credit              AS tdlIsCredit,
			tdl_time_open              AS tdlTimeOpen,
			tdl_time_close             AS tdlTimeClose,
			tdl_comment                AS tdlComment,
			tdl_visit                  AS tdlVisit,
			tdl_message                AS tdlMessage,
			tdl_createtime             AS tdlCreatetime,
			tdl_createuser             AS tdlCreateuser,
			tdl_maintenance_time       AS tdlMaintenanceTime,
			tdl_is_through             AS tdlIsThrough,
			tdl_through_time           AS tdlThroughTime,
			tdl_through_user           AS tdlThroughUser,
			tdl_province               AS tdlProvince,
			tdl_city                   AS tdlCity,
			tdl_min	                   AS tdlMin,
			tdl_server                 AS tdlServer,
			tdl_cash_cvoucher          AS tdlCashCvoucher,
			tdl_in_the_park            AS tdlInThePark,
			tdl_in_the_address         AS tdlInTheAddress,
			tdl_using_this_dictionary  AS tdlUsingThisDictionary,
			tdl_fee_description        AS tdlFeeDescription,
			tdl_contact_person         AS tdlContacPerson,
			tdl_validity               AS tdlValidity,
			tdl_in_security            AS tdlInSecurity,	
		    tdl_state_price            AS tdlStatePrice,
		    tdl_refund_instructions    AS tdlRefundInstructions,
		    tdl_is_del_status          AS tdlIsDelStatus,
		    tdl_referential_policies   AS tdlReferentialPolicies,
			tdl_set_reservation        AS tdlSetReservation,
			tdl_security_guide         AS tdlSecurityGuide,
			tdl_iphone                 AS tdlIphone,
			tdl_qq                     AS tdlQq,
			tdl_email                  AS tdlEmail,
			tdl_county                 AS tdlCounty,
			cpy_id					   AS cpyId,
			tdl_attractions			   AS tdlAttractions,
			tdl_nation				   AS tdlNation,
			tdl_code				   AS tdlCode,
			tdl_num					   AS tdlNum,
			tdl_scenic_level		   AS tdlScenicLevel,
			tdl_within_or_outer        AS tdlWithinOrOuter,
			tdl_longitude      		   AS tdlLongitude,
			tdl_latitude      		   AS tdlLatitude,
			tdl_countyone			   AS tdlCountyone,
			tdl_ciityone			   AS tdlCityone,
			tdl_addtheme			   AS tdlAddtheme,
			tdl_img4				   AS tdlImg4,
			tdl_img2				   AS tdlImg2,
			tdl_img3				   AS tdlImg3,
			tdl_img1                   AS tdlImg1,
			tdl_scheduled              AS tdlScheduled
		FROM
			ticket_detail
		<include refid="sql_query" />
		ORDER BY 
			tdl_is_del_status
		DESC,
			tdl_createtime 
		DESC
	</select>
	
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectPageTown" resultType="ticketDetailBean">
		SELECT
			ticket.id                  AS id,
			tdl_name                   AS tdlName,
			tdl_key                    AS tdlKey,
			tdl_address                AS tdlAddress,
			tdl_tel                    AS tdlTel,
			tdl_nearby_spots           AS tdlNearbySpots,
			tdl_nearby_hotel           AS tdlNearbyHotel,
			tdl_nearby_architecture    AS tdlNearbyArchitecture,
			tdl_position               AS tdlPosition,
			tdl_is_credit              AS tdlIsCredit,
			tdl_time_open              AS tdlTimeOpen,
			tdl_time_close             AS tdlTimeClose,
			tdl_comment                AS tdlComment,
			tdl_visit                  AS tdlVisit,
			tdl_message                AS tdlMessage,
			tdl_createtime             AS tdlCreatetime,
			tdl_createuser             AS tdlCreateuser,
			tdl_maintenance_time       AS tdlMaintenanceTime,
			tdl_is_through             AS tdlIsThrough,
			tdl_through_time           AS tdlThroughTime,
			tdl_through_user           AS tdlThroughUser,
			tdl_province               AS tdlProvince,
			tdl_city                   AS tdlCity,
			tdl_min	                   AS tdlMin,
			tdl_server                 AS tdlServer,
			tdl_cash_cvoucher          AS tdlCashCvoucher,
			tdl_in_the_park            AS tdlInThePark,
			tdl_in_the_address         AS tdlInTheAddress,
			tdl_using_this_dictionary  AS tdlUsingThisDictionary,
			tdl_fee_description        AS tdlFeeDescription,
			tdl_contact_person         AS tdlContacPerson,
			tdl_validity               AS tdlValidity,
			tdl_in_security            AS tdlInSecurity,	
		    tdl_state_price            AS tdlStatePrice,
		    tdl_refund_instructions    AS tdlRefundInstructions,
		    tdl_is_del_status          AS tdlIsDelStatus,
		    tdl_referential_policies   AS tdlReferentialPolicies,
			tdl_set_reservation        AS tdlSetReservation,
			tdl_security_guide         AS tdlSecurityGuide,
			tdl_iphone                 AS tdlIphone,
			tdl_qq                     AS tdlQq,
			tdl_email                  AS tdlEmail,
			tdl_county                 AS tdlCounty,
			ticket.cpy_id			   AS cpyId,
			tdl_attractions			   AS tdlAttractions,
			tdl_nation				   AS tdlNation,
			tdl_code				   AS tdlCode,
			tdl_num					   AS tdlNum,
			tdl_scenic_level		   AS tdlScenicLevel,
			tdl_within_or_outer        AS tdlWithinOrOuter,
			tdl_longitude      		   AS tdlLongitude,
			tdl_latitude      		   AS tdlLatitude,
			tdl_countyone			   AS tdlCountyone,
			tdl_ciityone			   AS tdlCityone,
			tdl_addtheme			   AS tdlAddtheme,
			tdl_img4				   AS tdlImg4,
			tdl_img2				   AS tdlImg2,
			tdl_img3				   AS tdlImg3,
			tdl_img1                   AS tdlImg1,
			tdl_scheduled              AS tdlScheduled,
			<if test="tplDate != null and tplDate!= ''">
				<!-- 同业价 -->
				(SELECT
					a.tpl_trade_price
					FROM
						(
							SELECT
								tdl_id,
								tcl_id,
								tpl_trade_price
							FROM
								ticket_price
							WHERE 
								tpl_date = #{tplDate}
							AND
								tpl_is_open = '02'
							ORDER BY
								tpl_create_time DESC
						) a
					WHERE
						a.tdl_id = ticket.id
					GROUP BY
						a.tcl_id
					ORDER BY
						a.tpl_trade_price
					LIMIT 1
				)  AS  tplTradePrice,
				<!-- 数量 -->
				(SELECT
					a.tpl_sign
					FROM
						(
							SELECT
								tdl_id,
								tcl_id,
								tpl_trade_price,
								tpl_sign
							FROM
								ticket_price
							WHERE 
								tpl_date = #{tplDate}
							AND
								tpl_is_open = '02'
							ORDER BY
								tpl_create_time DESC
						) a
					WHERE
						a.tdl_id = ticket.id
					GROUP BY
						a.tcl_id
					ORDER BY
						a.tpl_trade_price
					LIMIT 1
				) AS tplSign,
				<!-- 是否批量出售 -->
				(SELECT
					a.tpl_is_sign
					FROM
						(
							SELECT
								tdl_id,
								tcl_id,
								tpl_trade_price,
								tpl_is_sign
							FROM
								ticket_price
							WHERE 
								tpl_date = #{tplDate}
							AND
								tpl_is_open = '02'
							ORDER BY
								tpl_create_time DESC
						) a
					WHERE
						a.tdl_id = ticket.id
					GROUP BY
						a.tcl_id
					ORDER BY
						a.tpl_trade_price
					LIMIT 1
				) AS tplIsSign,
				<!-- 最低价票类ID -->
				(SELECT
					a.tcl_id
					FROM
						(
							SELECT
								tdl_id,
								tcl_id,
								tpl_trade_price,
								tpl_is_sign
							FROM
								ticket_price
							WHERE 
								tpl_date = #{tplDate}
							AND
								tpl_is_open = '02'
							ORDER BY
								tpl_create_time DESC
						) a
					WHERE
						a.tdl_id = ticket.id
					GROUP BY
						a.tcl_id
					ORDER BY
						a.tpl_trade_price
					LIMIT 1
				) AS tclId,
			</if>
			<include refid = "COMPANYDETAIL" />
		FROM
			ticket_detail ticket
		LEFT JOIN
			company_detail cpy
		ON 
			ticket.cpy_id = cpy.id
		LEFT JOIN
			company_business ccp
		on 
			ccp.cpy_id = ticket.cpy_id
		WHERE
		   tdl_is_del_status = '1'
		AND
			ticket.id in (
				select 
					st.cid 
				from 
					pub_sametown st 
				where 
					st.cpyid_from != #{cpyId} 
				and 
					st.cpyid_to    = #{cpyId}
				and 
					st.ntype       = 'TICKET' 
			)	
			AND
			<include refid = "sql_query_ticket"/>		
	</select>
	
	<!-- 查询总数，用于页面分页 -->
	<select id="selectPageTownCount" resultType="int">
		SELECT
			count(1)
		FROM
			ticket_detail ticket
		WHERE
			tdl_is_del_status = '1'
		AND
			ticket.id in (
				select 
					st.cid 
				from 
					pub_sametown st 
				where 
					st.cpyid_from != #{cpyId} 
				and 
					st.cpyid_to    = #{cpyId}
				and 
					st.ntype       = 'TICKET' 
			)
	</select>
	
	<!-- 根据ID查询一条数据 -->
	<select id="selectBeanByPriId" resultType="ticketDetailBean">
		SELECT
			id,
			tdl_name                   AS tdlName,
			tdl_key                    AS tdlKey,
			tdl_address                AS tdlAddress,
			tdl_tel                    AS tdlTel,
			tdl_nearby_spots           AS tdlNearbySpots,
			tdl_nearby_hotel           AS tdlNearbyHotel,
			tdl_nearby_architecture    AS tdlNearbyArchitecture,
			tdl_position               AS tdlPosition,
			tdl_is_credit              AS tdlIsCredit,
			tdl_time_open              AS tdlTimeOpen,
			tdl_time_close             AS tdlTimeClose,
			tdl_comment                AS tdlComment,
			tdl_visit                  AS tdlVisit,
			tdl_message                AS tdlMessage,
			tdl_img1                   AS tdlImg1,
			tdl_createtime             AS tdlCreatetime,
			tdl_createuser             AS tdlCreateuser,
			tdl_maintenance_time       AS tdlMaintenanceTime,
			tdl_is_through             AS tdlIsThrough,
			tdl_through_time           AS tdlThroughTime,
			tdl_through_user           AS tdlThroughUser,
		    tdl_province               AS tdlProvince,
			tdl_city                   AS tdlCity,
			tdl_min	                   AS tdlMin,
			tdl_server                 AS tdlServer,
			tdl_cash_cvoucher          AS tdlCashCvoucher,
			tdl_in_the_park            AS tdlInThePark,
			tdl_in_the_address         AS tdlInTheAddress,
			tdl_using_this_dictionary  AS tdlUsingThisDictionary,
			tdl_fee_description        AS tdlFeeDescription,
			tdl_contact_person         AS tdlContacPerson,
			tdl_validity               AS tdlValidity,
			tdl_in_security            AS tdlInSecurity,
			tdl_state_price            AS tdlStatePrice,
			tdl_refund_instructions    AS tdlRefundInstructions,
			tdl_is_del_status          AS tdlIsDelStatus,
			tdl_referential_policies   AS tdlReferentialPolicies,
			tdl_set_reservation        AS tdlSetReservation,
			tdl_security_guide         AS tdlSecurityGuide,
			tdl_iphone                 AS tdlIphone,
			tdl_qq                     AS tdlQq,
			tdl_email                  AS tdlEmail,
			tdl_county                 AS tdlCounty,
			tdl_within_or_outer        AS tdlWithinOrOuter,
			tdl_state      			   AS tdlState,
			tdl_longitude      		   AS tdlLongitude,
			tdl_latitude      		   AS tdlLatitude,
			tdl_theme      			   AS tdlTheme,
			tdl_cash_fare      		   AS tdlCashFare,
			tdl_vip_ticket      	   AS tdlVipTicket,
			tdl_cash_type      		   AS tdlCashType,
			cpy_id					   AS cpyId,
			tdl_attractions			   AS tdlAttractions,
			tdl_nation				   AS tdlNation,
			tdl_code				   AS tdlCode,
			tdl_num					   AS tdlNum,
			tdl_scenic_level		   AS tdlScenicLevel,
			tdl_countyone			   AS tdlCountyone,
			tdl_ciityone			   AS tdlCityone,
			tdl_addtheme			   AS tdlAddtheme,
			tdl_img4				   AS tdlImg4,
			tdl_img2				   AS tdlImg2,
			tdl_img3				   AS tdlImg3,
			tdl_scheduled              AS tdlScheduled
		FROM
			ticket_detail
		WHERE
			id = #{id}
	</select>
	
	<!-- 查询总数，用于页面分页 -->
	<select id="selectPageTicketCount" resultType="int">
		SELECT
			count(1)
		FROM
			ticket_detail
		<include refid="sql_query" />
	</select>

	<!-- 增加 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="ticketDetailBean">

		INSERT INTO
			ticket_detail
			 (
			 tdl_name,
			 tdl_key,
			 tdl_address,
			 tdl_tel,
			 tdl_nearby_spots,
			 tdl_nearby_hotel,
			 tdl_nearby_architecture,
			 tdl_position,
			 tdl_is_credit,
			 tdl_time_open,
			 tdl_time_close,
			 tdl_comment,
			 tdl_visit,
			 tdl_message,
			 tdl_img1,
			 tdl_createtime,
			 tdl_createuser,
			 tdl_through_time,
			 tdl_through_user,
			 tdl_province,
			 tdl_city,
			 tdl_min,
			 tdl_server	,
			 tdl_is_through, 
			 tdl_cash_cvoucher,       
			 tdl_in_the_park,       
			 tdl_in_the_address,
			 tdl_using_this_dictionary,
			 tdl_fee_description,
			 tdl_contact_person,
			 tdl_maintenance_time,
			 tdl_validity,
			 tdl_in_security,
			 tdl_state_price,
			 tdl_refund_instructions,
			 tdl_is_del_status,
			 tdl_referential_policies,
			 tdl_set_reservation,
			 tdl_security_guide,
			 tdl_iphone,
			 tdl_qq,
			 tdl_email,
			 tdl_county,
			 tdl_within_or_outer,
			 tdl_state,
			 tdl_longitude,
			 tdl_latitude,
			 tdl_theme,
			 tdl_cash_fare,
			 tdl_vip_ticket,
			 tdl_scenic_level,
			 tdl_cash_type,
			 cpy_id,
			 tdl_attractions,
			 tdl_nation,
			 tdl_num,
			 tdl_countyone,
			 tdl_ciityone,
			 tdl_addtheme,
			 tdl_img4,
			 tdl_img2,
			 tdl_img3,
			 tdl_scheduled
		 )
	VALUES
		 (
			 #{tdlName},
			 #{tdlKey},
			 #{tdlAddress},
			 #{tdlTel},
			 #{tdlNearbySpots},
			 #{tdlNearbyHotel},
			 #{tdlNearbyArchitecture},
			 #{tdlPosition},
			 #{tdlIsCredit},
			 #{tdlTimeOpen},
			 #{tdlTimeClose},
			 #{tdlComment},
			 #{tdlVisit},
			 #{tdlMessage},
			 #{tdlImg1},
			 #{tdlCreatetime},
			 #{tdlCreateuser},
		     #{tdlThroughTime},
			 #{tdlThroughUser},
			 #{tdlProvince},
			 #{tdlCity},
			 #{tdlMin},
			 #{tdlServer},
			 #{tdlIsThrough}, 
			 #{tdlCashCvoucher}, 
			 #{tdlInThePark}, 
			 #{tdlInTheAddress},
			 #{tdlUsingThisDictionary}, 
			 #{tdlFeeDescription}, 
			 #{tdlContacPerson},
			 #{tdlMaintenanceTime}, 
			 #{tdlValidity},
			 #{tdlInSecurity},
			 #{tdlStatePrice},
			 #{tdlRefundInstructions},
			 #{tdlIsDelStatus},
			 #{tdlReferentialPolicies},
			 #{tdlSetReservation},
			 #{tdlSecurityGuide},
			 #{tdlIphone},
			 #{tdlQq},
			 #{tdlEmail},
			 #{tdlCounty},
			 #{tdlWithinOrOuter},
			 #{tdlState},
			 #{tdlLongitude},
			 #{tdlLatitude},
			 #{tdlTheme},
			 #{tdlCashFare},
			 #{tdlVipTicket},
			 #{tdlScenicLevel},
			 #{tdlCashType},
			 #{cpyId},
			 #{tdlAttractions},
			 #{tdlNation},
			 #{tdlNum},
			 #{tdlCountyone},
			 #{tdlCityone},
			 #{tdlAddtheme},
			 #{tdlImg4},
			 #{tdlImg2},
			 #{tdlImg3},
			 #{tdlScheduled}
			 
		 )
	</insert>

	<!-- 修改 -->
	<update id="update">
		UPDATE
             ticket_detail
        SET
             tdl_key                     = #{tdlKey},
             tdl_tel                     = #{tdlTel},
             tdl_min		             = #{tdlMin},
             tdl_img1                    = #{tdlImg1},
             tdl_city                    = #{tdlCity},
             tdl_name                    = #{tdlName},
             tdl_visit                   = #{tdlVisit},
             tdl_server			    	 = #{tdlServer},
             tdl_comment                 = #{tdlComment},
             tdl_message                 = #{tdlMessage},
             tdl_address                 = #{tdlAddress},
             tdl_province                = #{tdlProvince},
             tdl_position                = #{tdlPosition},
             tdl_time_open               = #{tdlTimeOpen},
             tdl_is_credit               = #{tdlIsCredit},
			 tdl_time_close              = #{tdlTimeClose},
             tdl_in_the_park             = #{tdlInThePark},
             tdl_nearby_hotel            = #{tdlNearbyHotel},
             tdl_nearby_spots            = #{tdlNearbySpots},
             tdl_through_user            = #{tdlThroughUser},
             tdl_through_time            = #{tdlThroughTime},
             tdl_cash_cvoucher           = #{tdlCashCvoucher},
             tdl_contact_person          = #{tdlContacPerson},
             tdl_in_the_address          = #{tdlInTheAddress},
             tdl_fee_description         = #{tdlFeeDescription},
             tdl_maintenance_time        = #{tdlMaintenanceTime},
             tdl_nearby_architecture     = #{tdlNearbyArchitecture},
			 tdl_using_this_dictionary   = #{tdlUsingThisDictionary},
			 tdl_validity                = #{tdlValidity},
			 tdl_in_security             = #{tdlInSecurity},
			 tdl_state_price             = #{tdlStatePrice},
			 tdl_refund_instructions     = #{tdlRefundInstructions},
			 tdl_referential_policies    = #{tdlReferentialPolicies},
			 tdl_set_reservation         = #{tdlSetReservation},
			 tdl_security_guide          = #{tdlSecurityGuide},
			 tdl_iphone                  = #{tdlIphone},
			 tdl_qq                      = #{tdlQq},
			 tdl_email                   = #{tdlEmail},
			 tdl_within_or_outer         = #{tdlWithinOrOuter},
	 		 tdl_state          		 = #{tdlState},
			 tdl_longitude          	 = #{tdlLongitude},
			 tdl_latitude          		 = #{tdlLatitude},
			 tdl_theme          		 = #{tdlTheme},
			 tdl_cash_fare          	 = #{tdlCashFare},
			 tdl_vip_ticket          	 = #{tdlVipTicket},
			 tdl_scenic_level          	 = #{tdlScenicLevel},
			 tdl_cash_type          	 = #{tdlCashType},
			 tdl_county                  = #{tdlCounty},
			 tdl_attractions			 = #{tdlAttractions},
			 tdl_nation				     = #{tdlNation},
			 tdl_num					 = #{tdlNum},
			 tdl_countyone			     = #{tdlCountyone},
			 tdl_ciityone			     = #{tdlCityone},
			 tdl_createtime              = #{tdlCreatetime},
			 tdl_addtheme			     = #{tdlAddtheme},
			 tdl_img4				     = #{tdlImg4},
			 tdl_img2				     = #{tdlImg2},
			 tdl_img3				     = #{tdlImg3},
			 tdl_scheduled               = #{tdlScheduled}
		WHERE
			 id= #{id}
	</update>
	<!-- 更新门票产品编号 -->
	<update id="updateTicketcode">
		UPDATE
			ticket_detail
		SET
			tdl_code	= #{tdlCode}
		WHERE
			id			= #{id}
	</update>
	
	<!-- 上架/下架 -->
	<delete id="delete" parameterType="int">
		UPDATE
			ticket_detail
		SET
			tdl_is_del_status    = #{tdlIsDelStatus}
		WHERE
			id = #{id}
	</delete>
	
	<!-- 删除 -->
	<delete id="delet" parameterType="int">
		DELETE FROM
			ticket_detail
		WHERE
			id=#{id}
	</delete>
	
	<!-- 修改 预定方式-->
	<update id="update1">
		UPDATE
             ticket_detail
        SET
			 tdl_scheduled          = #{tdlScheduled}
		WHERE
			 id= #{id}
	</update>
</mapper>