<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ticketorder">
	<sql id="sql_query">
		<where>
			1 = 1
			<if test="torNum != null">           and tor_num              like "%"#{torNum}"%"</if>
<!--			<if test="torContactName != null">   and tor_contact_name     like "%"#{torContactName}"%"</if>
			<if test="torContactPhone != null">  and tor_contact_phone    like "%"#{torContactPhone}"%"</if>
			<if test="torTotalprice != null">    and tor_totalprice       like "%"#{torTotalprice}"%"</if>
			<if test="torState != null">         and tor_state            like "%"#{torState}"%"</if>
			<if test="torCreatetime != null">    and tor_createtime       like "%"#{torCreatetime}"%"</if>
			<if test="torCreateuser != null">    and tor_createuser       like "%"#{torCreateuser}"%"</if>
			<if test="torIsThrough != null">     and tor_is_through       like "%"#{torIsThrough}"%"</if>
			<if test="torNtype != null">         and tor_ntype            like "%"#{torNtype}"%"</if>-->
			<if test="cpyId != null">	     and cpy_id 	          =       #{cpyId}</if> 
		</where>
	</sql>
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectPageTicket" resultType="ticketOrderBean">
					SELECT
						id ,
						tor_num             AS torNum,
						tor_contact_name    AS torContactName,
						tor_contact_phone   AS torContactPhone,
						tor_totalprice      AS torTotalprice,
						tor_state		    AS torState,
						tor_createtime 		AS torCreatetime,
						tor_createuser      AS torCreateuser,
						tor_is_through      AS torIsThrough,
						tor_ntype           AS torNtype
					FROM
						ticket_order
		<include refid="sql_query" />
	</select>

	<!-- 查询总数，用于页面分页 -->
	<select id="selectPageTicketCount" resultType="int">
		SELECT
			count(1)
		FROM
			ticket_order
		<include refid="sql_query" />
	</select>

	
	<!-- 接单/拒接 -->
	<update id="receiveOrRefuse" parameterType="TicketOrderBean">
		UPDATE
			ticket_order
		SET
			tor_ntype = #{torNtype}
		WHERE
			id = #{id}
	</update>
	
</mapper>