<script type="text/javascript">
$(document).ready(function(){
	$(".g_block_1").on("click",".red_a",function(){
		if($(this).text()=="添加签证"){
			$(this).text('删除签证').css("background-color","#ccc");
			$(this).parent().parent().parent().after("<div class='qz_add_block'><div class='g_line mb20'></div><div class='input_block clearfix'><div class='label_left w80'>姓名：</div><div class='input_right input_right_wauto'><input class='w200'></div></div><div class='input_block clearfix'><div class='label_left w80'>证件号码：</div><div class='input_right input_right_wauto'><input class='w200'></div></div><div class='input_block clearfix'><div class='label_left w80'>手机号码：</div><div class='input_right input_right_wauto'><input class='w200'><a class='red_a' href='javascript:void(0);'>添加签证</a></div></div></div>");
			
		}else{
			$(this).parent().parent().parent().remove();
		}
	})
})
</script>
	<div class="g_block_1 mb20 pt11 pb10">
		<p class="g_tit_1 mb15">联系人信息</p>
		<div class="input_block clearfix">
			<div class="label_left w80">姓名：</div>
			<div class="input_right input_right_wauto">
				<input class="w200">
			</div>
		</div>
		<div class="input_block clearfix">
			<div class="label_left w80">手机号码：</div>
			<div class="input_right input_right_wauto">
				<input class="w200">
			</div>
		</div>
	</div>
	<div class="g_block_1 mb20 pt11 pb10">
		<p class="g_tit_1 mb15">旅客信息</p>
		<div class="qz_add_block">
			<div class="input_block clearfix">
				<div class="label_left w80">姓名：</div>
				<div class="input_right input_right_wauto">
					<input class="w200">
				</div>
			</div>
			<div class="input_block clearfix">
				<div class="label_left w80">证件号码：</div>
				<div class="input_right input_right_wauto">
					<input class="w200">
				</div>
			</div>

			<div class="input_block clearfix">
				<div class="label_left w80">手机号码：</div>
				<div class="input_right input_right_wauto">
					<input class="w200"><a class="red_a" href="javascript:void(0);">添加签证</a>
				</div>
			</div>
		</div>
	</div>
	<div class="g_right w515"><a class="hui2_a" href="javascript:void(0);">取消</a><a class="red_a ml25" href="javascript:void(0);">提交订单</a></div>
