<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cussystemfunc">
	<select id="selectFuncByCode" resultType="cusSystemFuncBean">
		SELECT
			id                        AS id,
			cus_func_code             AS cusFuncCode,
			cus_func_parentcode 	  AS cusFuncParentcode,
			cus_func_name 			  AS cusFuncName,
			cus_func_action 	      AS cusFuncAction,
			cus_func_img              AS cusFuncImg,
			cus_func_order            AS cusFuncOrder
		FROM
			cus_system_func
		WHERE
			cus_func_code in 
			<foreach item="item" index="index" collection="array" open="(" separator="," close=")">  
				 #{item}  
			</foreach>  
		ORDER BY
			cus_func_order
	</select>

	<!-- 查询所有 -->
	<select id="selectAll" resultType="cusSystemFuncBean">
		
		SELECT
			id                        AS id,
			cus_func_code             AS cusFuncCode,
			cus_func_parentcode 	  AS cusFuncParentcode,
			cus_func_name 			  AS cusFuncName,
			cus_func_action 	      AS cusFuncAction,
			cus_func_img              AS cusFuncImg,
			cus_func_order            AS cusFuncOrder
		FROM
			cus_system_func
		ORDER BY
			cus_func_order
	</select>
	<!-- 根据登录名查询对象 -->
	<select id="selectFuncByParentcode" resultType="cusSystemFuncBean">
		
		SELECT
			id                        AS id,
			cus_func_code             AS cusFuncCode,
			cus_func_parentcode 	  AS cusFuncParentcode,
			cus_func_name 			  AS cusFuncName,
			cus_func_action 	      AS cusFuncAction,
			cus_func_img              AS cusFuncImg,
			cus_func_order            AS cusFuncOrder
		FROM
			cus_system_func
		WHERE
			cus_func_parentcode = #{cusFuncParentcode}
		ORDER BY
			cus_func_order
	</select>
</mapper>