<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cussystemrole">
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		cus_system_role
		(
			cus_role_name,
			cpy_id,
			cus_role_is_cooperation
		)
		VALUES
		(
			#{cusRoleName},
			#{cpyId},
			#{cusRoleIsCooperation}
		)
	</insert>
	<!-- 根据id查询角色 -->
	<select id="selectBeanById" resultType="cusSystemRoleBean">
		SELECT
			id 			  AS id,
			cus_role_name AS cusRoleName,
			cpy_id        AS cpyId
		FROM
			cus_system_role
		WHERE
			id = #{id}
	</select>
	<!--修改 -->
	<update id="update">
		UPDATE
			cus_system_role
		SET
			cus_role_name = #{cusRoleName}
		WHERE
			id = #{id}
	</update>
	
	<sql id="sql_query">
		where
			(cus_role_is_cooperation != '1' or cus_role_is_cooperation is null)
			<if test="cpyId != null and cpyId != ''"> and cpy_id = #{cpyId}</if>
	</sql>
	
	<!-- 查询 -->
	<select id="selectBeanByCooperation" resultType="cusSystemRoleBean">
		SELECT
			id 			 		    AS id,
			cus_role_name		    AS cusRoleName,
			cpy_id        			AS cpyId,
			cus_role_is_cooperation AS cusRoleIsCooperation
		FROM
			cus_system_role
		WHERE
			cus_role_is_cooperation = '1'
		AND 
			cpy_id = #{cpyId}
	</select>
	
	<!-- 分页查询 -->
	<select id="selectPage" resultType="cusSystemRoleBean">
		
		SELECT
			id 			 		    AS id,
			cus_role_name		    AS cusRoleName,
			cpy_id        			AS cpyId,
			cus_role_is_cooperation AS cusRoleIsCooperation
		FROM
			cus_system_role
		
		<include refid="sql_query" />
	</select>
	
	<!-- 查询总数，用于页面分页 -->
	<select id="selectPageCount" resultType="int">
		SELECT
			count(1)
		FROM
			cus_system_role
		
		<include refid="sql_query" />
	</select>
	
	<!-- 根据角色名车和公司id查询角色id -->
	<select id="selectRoleIdByRolenameCpyid" resultType="cusSystemRoleBean">
		SELECT
			id 			 		    AS id,
			cus_role_name 			AS cusRoleName,
			cpy_id        		    AS cpyId,
			cus_role_is_cooperation AS cusRoleIsCooperation
		FROM
			cus_system_role
		WHERE
			cpy_id 		   = #{cpyId}
		AND
			cus_role_name  = #{cusRoleName}
	</select>
	
	<select id="selectCusSystemRoleByCpyId" resultType="cusSystemRoleBean">
		SELECT
			id 			  			AS id,
			cus_role_name 		    AS cusRoleName,
			cpy_id        		    AS cpyId,
			cus_role_is_cooperation AS cusRoleIsCooperation
		FROM
			cus_system_role
		WHERE
			cpy_id = #{cpyId}
		AND
			cus_role_is_cooperation is null
	</select>
</mapper>