<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>机票管理</title>
<link rel="stylesheet" type="text/css" href="css/houtai.css">
<link rel="stylesheet" type="text/css" href="css/fangliang.css">
</head>
<body bgcolor="#f1f1f1">
<div class="jd_block">
	<p class="tit_1 ml35"><img src="images/jp_03.png" alt="机票管理" title="机票管理">机票管理</p>
	<div class="g_line mb20"></div>
	<div class="input_block clearfix">
		<div class="label_left"><b>航程类型：</b></div>
		<div class="input_right">
			<b><label class="w130"><input type="radio" name="hc"> 单程-直飞航班</label><label class="w130"><input type="radio" name="hc" checked> 单程-中转航班</label><label class="w130"><input type="radio" name="hc"> 往返-直飞航班</label><label class="w130"><input type="radio" name="hc"> 往返-中转航班</label></b>
		</div>
	</div>
	<div class="g_line mb20"></div>
	<div class="input_block clearfix">
		<div class="label_left">产品编号：</div>
		<div class="input_right input_right_wauto">
			<input class="w150">
			<label class="ml35">出发城市：</label><select class="w150"><option></option></select>
			<label class="ml35">到达城市：</label><select class="w150"><option></option></select>
		</div>
	</div>
	<div class="input_block clearfix mb20">
		<div class="label_left">刚空公司：</div>
		<div class="input_right input_right_wauto">
			<input class="w150">
			<label class="ml35"> 航 班 号 ： </label><input class="w150"><label class="ml35">上架状态： </label><select class="w150"><option>上架</option><option>下架</option></select><button class="y_but ml35">查 询</button>
		</div>
	</div>
	<div class="g_line mb20"></div>
	<div class="input_block clearfix mb20">
		<div class="label_left"></div>
		<div class="input_right">
			<button class="y_but ml35 pl0">+ 新增单程中转航班</button>
		</div>
	</div>
	<div class="carad_ctrtable ml35" style="width:90%">
		<table cellspacing="0" cellspadding="0" >
			<thead>
				<tr>
					<td>产品ID</td>
					<td>产品编号</td>
					<td>航空公司</td>
					<td>航班号</td>
					<td>出发城市</td>
					<td>起飞机场</td>
					<td>起飞时间</td>
					<td>中转城市</td>
					<td>到达城市</td>
					<td>落地机场</td>
					<td>落地时间</td>
					<td>机票管理</td>
					<td>上线状态</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>14</td>
					<td>14</td>
					<td>西北航空</td>
					<td>CA4194</td>
					<td>北京</td>
					<td>南苑机场</td>
					<td>17:37</td>
					<td>郑州+南昌</td>
					<td>上海</td>
					<td>双流机场</td>
					<td>17:46</td>
					<td class="carad_a"><a href="#">查看/修改</a><a href="#">量/价管理</a><a href="#">删除</a></td>
					<td class="carad_img"><img src="images/htcar2.png"> &nbsp; <img src="images/htcar3.png"></td>
				</tr>
				<tr>
					<td>14</td>
					<td>14</td>
					<td>西北航空</td>
					<td>CA4194</td>
					<td>北京</td>
					<td>南苑机场</td>
					<td>17:37</td>
					<td>郑州+南昌</td>
					<td>上海</td>
					<td>双流机场</td>
					<td>17:46</td>
					<td class="carad_a"><a href="#">查看/修改</a><a href="#">量/价管理</a><a href="#">删除</a></td>
					<td class="carad_img"><img src="images/htcar4.png"> &nbsp; <img src="images/htcar5.png"></td>
				</tr>
				<tr>
					<td>14</td>
					<td>14</td>
					<td>西北航空</td>
					<td>CA4194</td>
					<td>北京</td>
					<td>南苑机场</td>
					<td>17:37</td>
					<td>郑州+南昌</td>
					<td>上海</td>
					<td>双流机场</td>
					<td>17:46</td>
					<td class="carad_a"><a href="#">查看/修改</a><a href="#">量/价管理</a><a href="#">删除</a></td>
					<td class="carad_img"><img src="images/htcar2.png"> &nbsp; <img src="images/htcar3.png"></td>
				</tr>
				<tr>
					<td>14</td>
					<td>14</td>
					<td>西北航空</td>
					<td>CA4194</td>
					<td>北京</td>
					<td>南苑机场</td>
					<td>17:37</td>
					<td>郑州+南昌</td>
					<td>上海</td>
					<td>双流机场</td>
					<td>17:46</td>
					<td class="carad_a"><a href="#">查看/修改</a><a href="#">量/价管理</a><a href="#">删除</a></td>
					<td class="carad_img"><img src="images/htcar4.png"> &nbsp; <img src="images/htcar5.png"></td>
				</tr>
				<tr>
					<td>14</td>
					<td>14</td>
					<td>西北航空</td>
					<td>CA4194</td>
					<td>北京</td>
					<td>南苑机场</td>
					<td>17:37</td>
					<td>郑州+南昌</td>
					<td>上海</td>
					<td>双流机场</td>
					<td>17:46</td>
					<td class="carad_a"><a href="#">查看/修改</a><a href="#">量/价管理</a><a href="#">删除</a></td>
					<td class="carad_img"><img src="images/htcar2.png"> &nbsp; <img src="images/htcar3.png"></td>
				</tr>
				<tr>
					<td>14</td>
					<td>14</td>
					<td>西北航空</td>
					<td>CA4194</td>
					<td>北京</td>
					<td>南苑机场</td>
					<td>17:37</td>
					<td>郑州+南昌</td>
					<td>上海</td>
					<td>双流机场</td>
					<td>17:46</td>
					<td class="carad_a"><a href="#">查看/修改</a><a href="#">量/价管理</a><a href="#">删除</a></td>
					<td class="carad_img"><img src="images/htcar4.png"> &nbsp; <img src="images/htcar5.png"></td>
				</tr>
			</tbody>
		</table>
		<div class="tpage" style="width:100%">
			<div class="tpagel pl0">共有<span>56</span>条结果，当前第<span>1</span>页</div>
			<div class="tpager">
				<a href="#">首页</a>
				<a href="#">上一页</a>
				<a href="#" class="tpagerhover">1</a>
				<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">...</a>
				<a href="#">100</a>
				<a href="#">下一页</a>
				<a href="#">尾页</a>
			</div>
		</div>
	</div>

</div>
</body>
</html>
