<link rel="stylesheet" type="text/css" href="$staticRoot/css/transticket/transticket.css">
<div class="jd_block">
	<p class="tit_1 ml20"><img src="$staticRoot/images/ren.png" alt="同业资源火车票" title="同业资源火车票">同业资源火车票<br>
	</p>
	<div class="g_line mb20"></div>
	<form method="post" id="form1">
	<div class="input_block clearfix">
		<div class="label_left" style="font-weight:400">出发城市：</div>
		<div class="input_right input_right_wauto">
			      <input class="w150" name="ttdStartCity">
					<label class="ml15">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出发站点：</label>
			      <input class="w150" name="ttdStartStation1">
		     </div>
	     </div>
        <div class="input_block clearfix mb20">
         <div class="label_left" style="font-weight:400">公司/品牌名称：</div>
          <div class="input_right input_right_wauto">
        	<input class="w150" name="cpyBrand">
        	<!--<label class="ml35" style="margin-left:43px;">目的地：</label>
        	<input class="w150" name="cpyBrand">-->
        	<button class="y_but ml35" type="button"onclick="index.searchform('form1','$appRoot/transticket/detail/sametown');"  >查 询</button>
        </div>
        </div>
        </form>
	<div class="g_line mb20"></div>
	<div class="carad_ctrtable ml35" style="width:90%">
		<table cellspacing="0" cellspadding="0" >
			<thead>
				<tr>
					<td>出发城市</td>
					<td>出发站点 </td>
					<td>目的城市 </td>
					<td>公司/品牌名称</td>
					<td>负责人/电话   </td>
					<td>常用车次</td>
					<td>在线交流</td>
					<!--
					<td>在线预定</td>
					-->
				</tr>
			</thead>
			<tbody>
				#foreach($item in $listtransticketnum)
    				<tr>
    				<!--<td>$!item.ttdCode</td>-->
    					<td>$!item.ttdStartCity</td>
    					<td>$!item.ttdStartStation1/$!item.ttdStartStation2/$!item.ttdStartStation3$!item.ttdStartStation4</td>
    					<td>$!item.ttdEndIsDomestic/$!item.ttdEndTown/<br>$!item.ttdEndIsXg/$!item.ttdEndIsAm/$!item.ttdEndIsTw/<br>$!item.ttdEndCity</td>
    					<td>$!item.cpyName / $!item.cpyBrand</td>
    					<td>$!item.ccpName / $!item.ccpTelephone</td>
						<td><a href="javascript:index.load('$appRoot/transticket/detail/common?id=$!item.id');">常用车次</a></td>
						<td><a target=blank href="http://wpa.qq.com/msgrd?v=3&uin=$item.ccpQq&site=qq&menu=yes">
							<img border=0 SRC="/static/images/button_old_101.gif" alt="在线交流">
						</a></td>
    					<!--<td><a href="javascript:index.load('$appRoot/transticket/order/insert')">预订</a></td>-->
    				</tr>
				#end 
			</tbody>
		</table>
		#parse("common/page.vm")
	</div>
</div>
<script type="text/javascript"> 
	//初始化省市县
	regUtil.initProvince(110000,'ttdProvince','ttdCity','ttdCounty');
</script>