<div class="left">
	<div class="leftdiv">
		#foreach($item in $parentListFunc)
		<dl>
			<dt id="left_dt_$item.id"><span> $item.cusFuncName </span></dt>
			<div>
    			#foreach($fun in $childListFunc)
    				#if($fun.cusFuncParentcode == $item.cusFuncCode)
            			<dd><span id="left_span_$fun.id" text="$appRoot$fun.cusFuncAction" parent="$item.cusFuncName">$fun.cusFuncName</span></dd>
    				#end
    			#end
			</div>
		</dl>
		#end	
	</div>
	<div class="leftdivp">
		<img src="$staticRoot/images/left.png">
	</div>
</div>