<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sellsystemrescource">
	<select id="selectRescourceByUrl" resultType="sellSystemRescourceBean">
		SELECT
			id 					     AS id,
			sell_func_rescource_code AS sellFuncRescourceCode,
			sell_rescource_name 	 AS sellRescourceName,
			sell_rescource_url	     AS sellRescourceUrl
		FROM
			sell_system_rescource
		WHERE
			sell_rescource_url = #{sellRescourceUrl}
	</select>
</mapper>