<!DOCTYPE HTML>
<html>
<head>
<title>user index</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/dingdan.css">
<script type="text/javascript" src="js/h5.js"></script>
</head>
<body>

	<header class="mb10">
		<div class="head_cont clearfix">
			<a href="#"><img class="img_block" src="images/step_03.jpg" title="" alt=""></a>
			<span class="nav_mini"><a href="#">用户中心</a>|<a href="#">网站首页</a></span>
		</div>
	</header>
	<div class="g_cont">
		<img class="mb10" src="images/sh_03.jpg" title="进度：核对信息" alt="进度：核对信息">
		<div class="g_block_3 mb20">
			<h3 class="g_tit_3 mb20">订单信息</h3>
			<div class="pl60 mb30">
				<div class="g_txt_1 mb10"><span class="box_1">产品类型：</span>印度尼西亚巴厘岛6日4晚私家团（5钻）宝格丽 + 四级酒店奢享/SPA</div>
				<div class="g_txt_1 mb10"><span class="box_1">出发日期 ： </span> <span class="box_2">2015-9-10</span><span class="box_1">归来日期 ：</span> 2015-6-5</div>
				<div class="g_txt_1 mb10"><span class="box_1">人数 ： </span> <span class="box_2">成人×2&nbsp;&nbsp;儿童×3</span><span class="box_1">出发城市 ：</span> 石家庄</div>
				<div class="g_txt_1 mb10"><span class="box_1">险种选择：</span>太平洋保险a套餐</div>
				<div class="g_txt_1 mb10"><span class="box_1">期限 ： </span> <span class="box_2">1-7天</span><span class="box_1">金额 ：</span> ￥256</div>
			</div>
			<h3 class="g_tit_3 mb20">联系人信息</h3>
			<div class="pl60 mb30">
				<div class="g_txt_1 mb10"><span class="box_1">姓名：</span>朱建乐</div>
				<div class="g_txt_1 mb10"><span class="box_1">手机号码：</span>12345678911</div>  
			</div>    
			
			<h3 class="g_tit_3 mb20">旅客信息</h3>
			<div class="pl60 mb30">
				<div class="g_txt_1 mb10"><span class="box_1"><b class="box_3">成</b> 姓名：</span>朱建乐</div>
				<div class="g_txt_1 mb10"><span class="box_1">证件类型：</span>二代身份证 &nbsp;&nbsp;2132132345678911</div>
				<div class="g_txt_1 mb10"><span class="box_1">手机号码：</span>12345678911</div> 
				<div class="g_line mb20 mr100"></div>
				<div class="g_txt_1 mb10"><span class="box_1"><b class="box_4">儿</b> 姓名：</span>朱建乐</div>
				<div class="g_txt_1 mb10"><span class="box_1">证件类型：</span>护照 &nbsp;&nbsp;2132132345678911</div>
				<div class="g_txt_1 mb10"><span class="box_1">监护人手机：</span>12345678911</div>
			</div>
			
		</div>
		<div class="mb100 pl60"><a class="a_button2" href="#">修改信息</a><a class="a_button ml670" href="#">确认提交</a></div>
		<footer>
			<p>Copyright © 2002-2014  版权所有  北京佳旅联合国际旅行社有限公司   苏ICP证B2-20100204  旅行社业务许可证：L-JS-CJ00070	</p>
		</footer>
	</div>
	
</body>
</html>
 