<!DOCTYPE HTML>
<html>
<head>
<title>user index</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/dingdan.css">
<script type="text/javascript" src="js/h5.js"></script>
</head>
<body>

	<header class="mb10">
		<div class="head_cont clearfix">
			<a href="#"><img class="img_block" src="images/step_03.jpg" title="" alt=""></a>
			<span class="nav_mini"><a href="#">用户中心</a>|<a href="#">网站首页</a></span>
		</div>
	</header>
	<div class="g_cont">
		<img class="mb10" src="images/sh_03.jpg" title="进度：核对信息" alt="进度：核对信息">
		<div class="g_block_3 mb20">

			<h3 class="g_tit_3 mb20">订单信息</h3>
			<div class="pl60 mb30">
				<div class="g_txt_1 mb10"><span class="box_1">用车时间 ： </span> 2015-9-10至2015-9-18</div>
				<div class="g_txt_1 mb10"><span class="box_1">出发地 ： </span> 河北省石家庄市桥西区人民政府</div>
				<div class="g_txt_1 mb10"><span class="box_1">目的地 ： </span> 河北省石家庄市桥西区人民法院</div>
				<div class="g_txt_1 mb10"><span class="box_1">乘客人数 ： </span> 5</div>
				<div class="g_txt_1 mb10"><span class="box_1">特殊需求 ： </span> 请注意车身车内整洁</div>
				
			</div>
			<h3 class="g_tit_3 mb20">联系人信息</h3>
			<div class="pl60">
				<div class="g_txt_1 mb10"><span class="box_1">姓名：</span>朱建乐</div>
				<div class="g_txt_1 mb10"><span class="box_1">手机号码：</span>12345678911</div>  
			</div>    
		</div>
		<div class="mb100 pl60"><a class="a_button2" href="#">修改信息</a><a class="a_button ml670" href="#">确认提交</a></div>
		<footer>
			<p>Copyright © 2002-2014  版权所有  北京佳旅联合国际旅行社有限公司   苏ICP证B2-20100204  旅行社业务许可证：L-JS-CJ00070	</p>
		</footer>
	</div>
	
</body>
</html>
 