<!DOCTYPE HTML>
<html>
<head>
<title>user index</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="css/dingdan.css">
<script type="text/javascript" src="js/h5.js"></script>
</head>
<body>

	<header class="mb10">
		<div class="head_cont clearfix">
			<a href="#"><img class="img_block" src="images/step_03.jpg" title="" alt=""></a>
			<span class="nav_mini"><a href="#">用户中心</a>|<a href="#">网站首页</a></span>
		</div>
	</header>
	<div class="g_cont">
		<img class="mb10" src="images/sd_1.jpg" title="进度：填写信息" alt="进度：填写信息">

		<div class="g_block_2 mb20">
			<h3 class="g_tit_1"><span class="w270">订单名称</span><span class="w210">类型</span><span class="w210">数量</span><span class="w210">价格</span></h3>
			<div class="table_tr"><span class="w270">上海 → 阿拉斯加</span><span class="w210">机票</span><span class="w210">成人×2　儿童×3</span><span class="w210">￥6666</span></div>
			<div class="table_tr tr_line mb10"><span class="w270">上海 → 阿拉斯加</span><span class="w210">机票</span><span class="w210">成人×2　儿童×3</span><span class="w210">￥6666</span></div>
			<p class="hui_zong ml670 pl60">总计<span>￥73332</span></p>
		</div>
		<h3 id="tab_a"><a href="javascript:void(0);" class="on">网银支付</a><a href="javascript:void(0);">支付平台</a><a href="javascript:void(0);">信用卡支付</a></h3>
		<div class="g_block_2 mb20">
			<div id="tab_cont" class="pl18 pt20">
				<div class="on">
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_2.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_3.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_4.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_5.jpg" alt="" title=""></label><br>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_6.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_7.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_8.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_9.jpg" alt="" title=""></label><br>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_10.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_11.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_12.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_13.jpg" alt="" title=""></label><br>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_14.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_15.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_16.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_17.jpg" alt="" title=""></label><br>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_18.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_19.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_20.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_21.jpg" alt="" title=""></label><br>
				</div>
				<div>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_22.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_23.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_24.jpg" alt="" title=""></label>
				</div>
				<div>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_25.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_26.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_27.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_28.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin"><img disabled src="images/sd_29.jpg" alt="" title=""></label>
					<label><input type="radio" name="wangyin" ><img disabled src="images/sd_30.jpg" alt="" title=""></label>
				</div>
			</div>
		</div>
		<script>var tabs=document.getElementById("tab_a").getElementsByTagName("a");var divs=document.getElementById("tab_cont").getElementsByTagName("div");for(var i=0;i<tabs.length;i++){tabs[i].onclick=function(){change(this);}}function change(obj){for(var i=0;i<tabs.length;i++){if(tabs[i]==obj){tabs[i].className="on";divs[i].className="on";}else{tabs[i].className="";divs[i].className="";}}}</script>
		<div class="mb50 pl90"><a class="a_button ml670" href="#">开始提交</a></div>
		<footer>
			<p>Copyright © 2002-2014  版权所有  北京佳旅联合国际旅行社有限公司   苏ICP证B2-20100204  旅行社业务许可证：L-JS-CJ00070	</p>
		</footer>
	</div>
	
</body>
</html>
 