<link rel="stylesheet" type="text/css" href="$staticRoot/css/ticket/ticket.css">
<link rel="stylesheet" type="text/css" href="$staticRoot/css/yuding.css">
	<!--新增套餐-->
	<div class="newadd">
		<div class="newfood_suptop">
			<img src="$staticRoot/images/dd_ci_03.png">
			<span>门票预定</span>
		</div>
		<div class="g_line"></div>
		<div class="yuding_line">
			<span class="yuding_span"><strong>联系人信息：</strong></span>
		</div>
		<div class="yuding_line">
			<span class="yuding_span">姓名：</span>
			<input type="text" class="yuding_input">
		</div>
		<div class="yuding_line">
			<span class="yuding_span">手机号码：</span>
			<input type="text" class="yuding_input">
		</div>
		<div class="yuding_line">
			<span class="yuding_span"><strong>订单信息：</strong></span>
		</div>
		<div class="yuding_box">
			<span class="yuding_span mt20">预定须知</span>
			<br clear="left">
			<p class="p_time mt20">提前预定时间：1天16点前</p>
			<p class="p_time ml30 mt20">门票有效期：出游当日有效</p>
			<br clear="left">
			<p class="p_time mt20">入园方式：实体票入园(取票为自行取票，地址-张家界大峡谷售票处)</p>
		</div>
		<div class="yuding_line">
			<span class="yuding_span">出游日期：</span>
			<input type="text" class="yuding_date">
			<img src="$staticRoot/images/date_01.png" class="yuding_date_img">
		</div>
		<div class="yuding_bigerbox mt20">
			<div class="yuding_bigbox">
				<div class="yuding_box">
					<span class="yuding_span mt20">门票类型：</span>
					<select class="yuding_date mt20">
						<option></option>
					</select>
					<span class="yuding-spanl mt20">门票数量：</span>
					<select class="yuding_date mt20">
						<option></option>
					</select>
				</div>
				<a href="javascript:void(0)" class="btn_add mt20">添加票类</a>
			</div>
		</div>
		<div class="yuding_line">
			<span class="yuding_span"><strong>取票人信息：</strong></span>
		</div>
		<div class="yuding_line">
			<span class="yuding_span">取票人姓名：</span>
			<input type="text" class="yuding_input">
		</div>
		<div class="yuding_line">
			<span class="yuding_span">取票人手机：</span>
			<input type="text" class="yuding_input">
		</div>
		<div class="yuding_line">
			<span class="yuding_span"><strong>入园保障</strong></span>
			<br clear="left">
			<p class="p_bao">
				在线成功预订此门票，如非因游客原因（不可抗力除外）导致不能正常凭票入园，本站在收到游客反馈后10分钟内未能解决，游客可直接购买全价票入园。本站将协助退票并全额退还游客已支付未能使用的门票款，另补偿差价（差价以游客景区实际购票价与本站价之间差价为准）。请游客务必保留当天入园的有效凭证。
			</p>
		</div>
		<div class="yuding_line mb50">
			<button class="btn_add btn_fanhui">返回</button>
			<button class="btn_add btn_sub">提交订单</button>
		</div>
	</div>
	<!--/新增套餐-->
<script type="text/javascript">
$(document).ready(function(){
	$(".yuding_bigbox a").live("click",function(){
		if($(this).text()=="添加票类"){
			$(this).text('删除票类').css("background-color","#ccc");
			$(this).parent().after('<div class="yuding_bigbox"><div class="yuding_box"><span class="yuding_span mt20">门票类型：</span><select class="yuding_date mt20"><option></option> </select> <span class="yuding-spanl mt20">门票数量：</span> <select class="yuding_date mt20"> <option></option> </select> </div> <a href="javascript:void(0)" class="btn_add mt20">添加票类</a> </div>');
		}else{
			$(this).parent().remove();
		}
	});
});


</script>

