<div class="chakan_cont_price pt13 clearfix">
	<div class="riqi ml20 mr30">
    	<table class="xuanze" cellpadding="0" cellspacing="0" border="0" style="border-bottom:none;">
        	<tbody>
            	<tr>
                    <td class="w200 blue_a white">选择用餐日期</td>
                    <td>
						<form id="form1">
							<input type="hidden" name="cpeId" value="$!cpeId" />
							<input type="hidden" name="year" value="$!year" />
							<input type="hidden" name="month" value="$!month" />
                        	<span class="sjleft liangjiaxiang_left">
    						<!--	<a href="javascript:void(0);" class="liangjiaxiang_left">-->
									<img src="$staticRoot/images/sanjiaoleft.jpg" />
							<!--	</a>-->
    						</span>
    						<p class="date-title">$year 年 $month 月</p>
    						<span class="sjright liangjiaxiang_right">
    						<!--	<a href="javascript:void(0);" class="liangjiaxiang_right">-->
									<img src="$staticRoot/images/sanjiaoright.jpg" />
							<!--	</a>-->
    						</span>
						</form>
                    </td>
                </tr>
            </tbody>
        </table>
    	<table cellpadding="0" cellspacing="0" border="0" style="border-top:none;">
            <tbody id="price_body">
                <tr>
                    <th>一</th>
                    <th>二</th>
                    <th>三</th>
                    <th>四</th>
                    <th>五</th>
                    <th class="red">六</th>
                    <th class="borderright red">日</th>
                </tr>
                <tr style="cursor:pointer">
                    #foreach($item in $priceList)
						<!-- 停售 -->
						#if($!item.cpcIsOpen == '01')
							<td class="hui">
								<!-- 是否为今天 -->
								#if($!item.isUpdate == '02')
									<span class="shu">今</span>
								#else
									<span class="shu">$!item.day</span>
								#end
										<span class="b_date_topright white">￥$!item.cpcRetailPrice</span><br>
										<!--<span class="b_date_bottom white">余：$!item.tplIsSign份</span>-->
										<span class="b_date_bottom white">已停售</span>
                            </td>
						<!-- 出售 -->
						#elseif($!item.cpcIsOpen == '02')
							<!--剩余票数为0-->
							#if($!item.cpcSign == '0' || $!item.cpcSign == 0)
								<!-- 是否为今天 -->
    							#if($!item.isUpdate == '02')
        							<td class="hui">
                                        <span class="shu">今</span>
    							#else
        							<td class="hui">
                                        <span class="shu">$!item.day</span>
    							#end
    										<span class="b_date_topright white">￥$!item.cpcRetailPrice</span><br>
                							<span class="b_date_bottom white">已售完</span>
                                </td>
							#else
								<!-- 是否为今天 -->
    							#if($!item.isUpdate == '02')
        							<td class="yellow_bg">
                                        <span class="shu">今</span>
    							#else
        							<td class="price_td">
                                        <span class="shu">$!item.day</span>
    							#end
    								<!-- 被选中的数据  01为未选中 02已选中-->
    								<input type="hidden" name="isChecked" value="01" />
    								<!--<input type="hidden" name="tplIsOpen" value="$!item.tplIsOpen" />-->
    								<input type="hidden" name="cpcRetailPrice" value="$!item.cpcRetailPrice" />
									
    								<span class="b_date_topright yellow">￥$!item.cpcRetailPrice</span><br>
                					<!-- 房量为0 -->
    								#if($!item.cpcSign == '0')
    									<span class="b_date_bottom red">余：$!item.cpcSign份</span>
										
    								#else
    									#if($!item.cpcIsSign == '01')
    										<span class="b_date_bottom blue">不限量</span>
    									#else
    										<span class="b_date_bottom blue">余：$!item.cpcSign份</span>
											<input type="hidden" name="cpcSign" value="$!item.cpcSign" />
    									#end
    										<input type="hidden" name="cpcIsOpen" value="$!item.cpcIsOpen" />
    								#end
                                </td>
							#end
							
						<!-- 无数据 -->
						#else
							#if($!item.isUpdate == '02')
								<td class="yellow_bg">
								<span class="shu">今</span>
							#else
								<td class="price_td">
								<span class="shu">$!item.day</span>
							#end
							</td>
						#end
						<!-- 为周日时换行 -->
						#if($!{velocityCount} == 7 || $!{velocityCount} == 14 || $!{velocityCount} == 21 || $!{velocityCount} == 28 || $!{velocityCount} == 35)
                            </tr>
                            <tr style="cursor:pointer">
    					#end
					#end
                </tr>
    		</tbody>
        </table>
	</div>
    <div class="chakan_right pt35" style="width:370px;">
		<p>购买数量：<span class="goupiao_num"><input type="text" id="goupiao_numid">份</span><span id="numTips"></span></p>
		<p style="margin-left:10px;">总价格：<span class="font_hong"><b class="day_price">￥0</b></span></p>
		<a href="javascript:void(0)" onclick="ordertips()" class="yuding_but ml270 mt40" style="width:75px;margin-left:321px;">预订</a>
    </div>
    <div class="w496 ml20 mr30 fl">
		#if($erim.isNotEmpty($!cafeteriaPackageBean.cpeIntroduction))
            <span style="float:left;color:#323232"><strong>套餐说明：</strong></span>
    		<pre style="padding-top:4px">$!cafeteriaPackageBean.cpeIntroduction</pre>
		#end
		#if($erim.isNotEmpty($!cafeteriaPackageBean.cpeFriendlyTips))
		<br clear="left">
        <span style="float:left;color:#323232"><strong>温馨提示：</strong></span>
        <pre style="padding-top:4px">$!cafeteriaPackageBean.cpeFriendlyTips</pre>
		#end
    </div>								
    <div class="w496 ml20 mr30 fl">
		#if($erim.isNotEmpty($!cafeteriaPackageBean.cpeBuyKnow))
		<span style="float:left;color:#323232"><strong>购买须知：</strong></span>
        <pre style="padding-top:4px">$!cafeteriaPackageBean.cpeBuyKnow</pre>   
		#end
    </div>
</div>
<input type="hidden" id="price_dan" value="0" />
<input type="hidden" id="cpcSign_remain" value="0" />
<script type="text/javascript">
$("#goupiao_numid").blur(function(){
	var countNum = $(this).val();
	var cpcSign_remain = $("#cpcSign_remain").val();
	var price_dan = $("#price_dan").val();
	if(price_dan == 0){
		$(this).val(1);
		alert("请选择用餐日期");
		return false;
	}
	if(parseInt(cpcSign_remain) <=0 ){
		alert("已售完");
	}else if(parseInt(cpcSign_remain) > 0 && (parseInt(countNum) >  parseInt(cpcSign_remain))){
		$("#numTips").html("可选"+cpcSign_remain+"份");
		$(this).val(1);
		$(".day_price").text("￥"+parseInt(price_dan));
	}else{
    	var totalPirce = parseInt(countNum)*parseInt(price_dan);
    	$(".day_price").text("￥"+totalPirce);
	}
	
});
	$(document).ready(function() {
			
		// 时间向前选择
		$(".liangjiaxiang_right").click(function() {
			var cpeId = $("#form1").find("input[name='cpeId']").val();
			var year = $("#form1").find("input[name='year']").val();
			var month = $("#form1").find("input[name='month']").val();
    		$(".chakan_block2").load("$appRoot/$cpyno/cafeteria/tesecanxiang/skipDate?cpeId=" + cpeId + "&start=" + year + "&end=" + month + "&portal=01");
    	});
		// 时间向后选择
		$(".liangjiaxiang_left").click(function() {
			var cpeId = $("#form1").find("input[name='cpeId']").val();
			var year = $("#form1").find("input[name='year']").val();
			var month = $("#form1").find("input[name='month']").val();
    		$(".chakan_block2").load("$appRoot/$cpyno/cafeteria/tesecanxiang/skipDate?cpeId=" + cpeId + "&start=" + year + "&end=" + month + "&portal=02");
    	});
		
		// 总价格
		var price = 0;
		// 点击事件
		$("#price_body").find("td").click(function() {
			
			// 是否出售
			var cpcIsOpen = $(this).find("input[name='cpcIsOpen']").val();
			if (cpcIsOpen != '02') {
				return;
			}
			// 价格
			var cpcRetailPrice = $(this).find("input[name='cpcRetailPrice']").val();
			// 是否为已选中
			var isChecked = $(this).find("input[name='isChecked']").val();
			if (isChecked == '02') { // 已选中为02
				// 改为未选中
				$(this).find("input[name='isChecked']").val("01");
				// 去除颜色的class
				$(this).removeClass("red_bg");
				// 总价格
				//price = parseInt(price) - parseInt(cpcRetailPrice);
				price = 0;
				//默认单价置为0
				$("#price_dan").val(0);
				$(".day_price").text("￥"+price);
			} else if (isChecked == '01') { // 未选中为01
				// 改为选中状态
				$(this).find("input[name='isChecked']").val("02");
				// 设置颜色的class
				$(this).addClass("red_bg");
				//设置其他的日期为未选中状态
				$(this).parent().siblings().children().find("input[name='isChecked']").val("01");
				$(this).siblings().find("input[name='isChecked']").val("01");
				//设置其他的日期颜色的class
				$(this).parent().siblings().children().removeClass("red_bg");
				$(this).siblings().removeClass("red_bg");
				// 总价格
				var countNum2 = $("#goupiao_numid").val();
				if(countNum2 == ''){
					countNum2 = 1;
				}
				//购买数量大于剩余数量 
				var cpcSign = $(this).find("input[name='cpcSign']").val();//剩余数量
				if(cpcSign == null){
					 $("#numTips").html("不限量");
					 price = parseInt(countNum2)*parseInt(cpcRetailPrice);
				}else if(cpcSign != null && (parseInt(countNum2) > parseInt(cpcSign))){
					 $("#goupiao_numid").val(1);
					 price = parseInt(cpcRetailPrice);
					 $("#numTips").html("可选"+cpcSign+"份");
				}else{
    				price = parseInt(countNum2)*parseInt(cpcRetailPrice);
    				$("#numTips").html("可选"+cpcSign+"份");
				}
				$("#price_dan").val(cpcRetailPrice);
    			$("#cpcSign_remain").val($(this).find("input[name='cpcSign']").val());
    			$(".day_price").text("￥"+price);
			}
			
			
		});
	});
	
	

function ordertips(){
	alert('对不起，预定功能暂不开放');
}	
</script>