<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="guideprice">
	
	<!-- 查询字段 -->
	<sql id="sql_column">
		id,
		gdl_id				AS	gdlId,
		gdl_name			AS	gdlName,
		gdl_service_code	AS	gdlServiceCode,
		gpe_date			AS	gpeDate,
		gpe_is_open			AS	gpeIsOpen,
		gpe_week			AS	gpeWeek,
		gpe_floor_price		AS	gpeFloorPrice,
		gpe_cluster_price	AS	gpeClusterPrice,
		gpe_guest_price		AS	gpeGuestPrice,
		gpe_service			AS	gpeService,
		gpe_service_show	AS	gpeServiceShow,
		gpe_appoint_type	AS	gpeAppointType,
		gpe_appoint_num		AS	gpeAppointNum,
		gpe_create_time		AS	gpeCreateTime,
		gpe_create_user		AS	gpeCreateUser,
		cpy_id				AS	cpyId
	</sql>
	
	<!-- 查询 -->
	<select id="selectPriceList" parameterType="java.util.Map" resultType="guidePriceBean">
		SELECT * FROM (
			SELECT
				<include refid="sql_column" />
			FROM
				guide_price
			ORDER BY
				gpe_create_time
			DESC
		) t
		GROUP BY
			t.gpeDate,
			t.gdlId,
			t.gdlServiceCode
		HAVING
			t.gdlId	= #{bean.gdlId}
			AND t.gdlServiceCode  = #{bean.gdlServiceCode}
			AND	t.gpeDate IN
			<foreach collection="monthCount" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</select>	
	
	<!-- 新增 -->
	<insert id="insert">
		INSERT INTO
			guide_price (
				gdl_id,
				gdl_name,
				gdl_service_code,
				gpe_date,
				gpe_is_open,
				gpe_week,
				gpe_floor_price,
				gpe_cluster_price,
				gpe_guest_price,
				gpe_service,
				gpe_service_show,
				gpe_appoint_type,
				gpe_appoint_num,
				gpe_create_time,
				gpe_create_user,
				cpy_id
			) VALUES (
				#{gdlId},
				#{gdlName},
				#{gdlServiceCode},
				#{gpeDate},
				#{gpeIsOpen},
				#{gpeWeek},
				#{gpeFloorPrice},
				#{gpeClusterPrice},
				#{gpeGuestPrice},
				#{gpeService},
				#{gpeServiceShow},
				#{gpeAppointType},
				#{gpeAppointNum},
				#{gpeCreateTime},
				#{gpeCreateUser},
				#{cpyId}
			)
	</insert>
	
	<!-- 修改 -->
	<update id="update">
		UPDATE
			guide_price
		SET
			gpe_floor_price			=	#{gpeFloorPrice},
			gpe_cluster_price		=	#{gpeClusterPrice},
			gpe_guest_price			=	#{gpeGuestPrice},
			gpe_is_open				= '02'
		WHERE
			id	= #{id}
	</update>
	
	<!-- 更改是否出售状态 -->
	<update id="updateIsOpen">
		UPDATE
			guide_price
		SET
			gpe_is_open		= #{gpeIsOpen}
		WHERE
			1=1
			<if test="id != null and id != ''"> and id 	= #{id}</if>
			<if test="gpeDate != null and gpeDate != ''"> and gpe_date 	= #{gpeDate}</if>
			<if test="gdlId != null and gdlId != ''"> and gdl_id 	= #{gdlId}</if>
	</update>
	
	<!-- 批量修改是否出售状态 -->
	<update id="updateBatchIsOpen" parameterType="java.util.Map">
		UPDATE
			guide_price
		SET
			gpe_is_open		= #{bean.gpeIsOpen}
		WHERE
			gdl_id 			= #{bean.gdlId}
			<!-- 日期 -->
			AND gpe_date IN
			<foreach collection="monthCount" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</update>
</mapper>