<div id="main">
	<div id="head">
        <dl class="alipay_link">
            <a target="_blank" href="http://www.alipay.com/"><span>支付宝首页</span></a>|
            <a target="_blank" href="https://b.alipay.com/home.htm"><span>商家服务</span></a>|
            <a target="_blank" href="http://help.alipay.com/support/index_sh.htm"><span>帮助中心</span></a>
        </dl>
        <span class="title">支付宝即时到账交易接口快速通道</span>
	</div>
    <div class="cashier-nav">
        <ol>
			<li class="current">1、确认信息 →</li>
			<li>2、点击确认 →</li>
			<li class="last">3、确认完成</li>
        </ol>
    </div>
    <form name="alipayment" action="$appRoot/price/cpy/payali" method="post" target="_blank">
        <div id="body" style="clear:left">
            <dl class="content">
				<dt>商户订单号：</dt>
				<dd>
					<span class="null-star">*</span>
					<input size="30" name="WIDout_trade_no" />
					<span>商户网站订单系统中唯一订单号，必填
</span>
				</dd>
				<dt>订单名称：</dt>
				<dd>
					<span class="null-star">*</span>
					<input size="30" name="WIDsubject" />
					<span>必填
</span>
				</dd>
				<dt>付款金额：</dt>
				<dd>
					<span class="null-star">*</span>
					<input size="30" name="WIDtotal_fee" />
					<span>必填
</span>
				</dd>
				<dt>订单描述
：</dt>
				<dd>
					<span class="null-star">*</span>
					<input size="30" name="WIDbody" />
					<span></span>
				</dd>
				<dt>商品展示地址：</dt>
				<dd>
					<span class="null-star">*</span>
					<input size="30" name="WIDshow_url" />
					<span>需以http://开头的完整路径，例如：http://www.商户网址.com/myorder.html
</span>
				</dd>
                <dt></dt>
                <dd>
                    <span class="new-btn-login-sp">
                        <button class="new-btn-login" type="submit" style="text-align:center;">确 认</button>
                    </span>
                </dd>
            </dl>
        </div>
	</form>
    <div id="foot">
		<ul class="foot-ul">
			<li><font class="note-help">如果您点击“确认”按钮，即表示您同意该次的执行操作。 </font></li>
			<li>
				支付宝版权所有 2011-2015 ALIPAY.COM 
			</li>
		</ul>
	</div>
</div>