<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cafeteriaprice">
	<!-- 查询字段 -->
	<sql id="sql_column">
		id,
		cpe_id					AS	cpeId,
		cpe_name				AS	cpeName,
		cpc_date				AS	cpcDate,
		cpc_is_open				AS	cpcIsOpen,
		cpc_week				AS	cpcWeek,
		cpc_sign				AS	cpcSign,
		cpc_is_sign				AS	cpcIsSign,
		cpc_combination_price	AS	cpcCombinationPrice,
		cpc_retail_price		AS	cpcRetailPrice,
		cpc_explain				AS	cpcExplain,
		cpc_create_time			AS	cpcCreateTime,
		cpc_create_user			AS	cpcCreateUser,
		cpy_id					AS	cpyId,
		cpc_trade_price         AS  cpcTradePrice
	</sql>
	
	<!-- 查询 -->
	<select id="selectPriceList" parameterType="java.util.Map" resultType="cafeteriaPriceBean">
		SELECT * FROM (
			SELECT
				<include refid="sql_column" />
			FROM
				cafeteria_price
			ORDER BY
				cpc_create_time
			DESC
		) t 
		GROUP BY
			t.cpcDate,
			t.cpeId
		HAVING
			t.cpeId = #{bean.cpeId}
			<!-- 日期 -->
			AND t.cpcDate &gt;= date_format(now(),'%Y-%m-%d')
			AND t.cpcDate IN
			<foreach collection="monthCount" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
	</select>
	<select id="selectById" resultType="cafeteriaPriceBean">
			SELECT
				<include refid="sql_column" />
	 		FROM
				cafeteria_price
			WHERE
				id = #{id}
	</select>
</mapper>