<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hotelcarteria">
	<sql id="sql_query">
		<where>
			1 = 1
			<if test="tdlId != null  and tdlId != ''">	and 	tdl_id 	 =  #{tdlId} </if>
		</where>
	</sql>
	<sql id="sql_column">
		id,
		hmg_cafeterianame       AS hmgCafeterianame,
		hmg_cafeteriatype       AS hmgCafeteriatype,
		hmg_cafeteriaarea     	AS hmgCafeteriaarea,
		hmg_cafeterianum 	    AS hmgCafeterianum,
		hmg_cafeterianumend     AS hmgCafeterianumend,
		hmg_cafeteriaimg		AS hmgCafeteriaimg,
		tdl_id            		AS tdlId
	</sql>
	<!-- 查询本页数据，用于显示当前页 -->
	<select id="selectList" resultType="hotelCarteriaBean">
		SELECT
			<include refid="sql_column" />
		FROM
			hotel_cafeteria
		<include refid="sql_query" />
	</select>
	
</mapper>