<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="texicar">
	<!-- 自驾查询 -->
	<select id="selectBycarId" resultType="texiCarBean">
	  SELECT
	     	id,
		 	bcl_hf_limit   		AS    bclHfLimit,
			bcl_hf_km      		AS    bclHfKm,
		    bcl_hf_length  		AS    bclHfLength,
		 	bcl_hf_lengthkm 	AS    bclHfLengthkm,
	     	bcl_hf_cost     	AS    bclHfCost,
			bcl_hf_service  	AS	  bclHfService,
		    bcl_limit       	AS    bclLimit,
		  	bcl_km          	AS	  bclKm,
		    bcl_length     		AS    bclLength,
		    bcl_lengthkm    	AS    bclLengthkm,
		    bcl_cost        	AS    bclCost,
		    bcl_service     	AS    bclService
	  FROM
	      texi_car
	  WHERE
	      id = #{id}
   </select>
   <select id="selectList" resultType="texiCarBean">
	  SELECT
	     	id,
		 	bcl_hf_limit   		AS    bclHfLimit,
			bcl_hf_km      		AS    bclHfKm,
		    bcl_hf_length  		AS    bclHfLength,
		 	bcl_hf_lengthkm 	AS    bclHfLengthkm,
	     	bcl_hf_cost     	AS    bclHfCost,
			bcl_hf_service  	AS	  bclHfService,
		    bcl_limit       	AS    bclLimit,
		  	bcl_km          	AS	  bclKm,
		    bcl_length     		AS    bclLength,
		    bcl_lengthkm    	AS    bclLengthkm,
		    bcl_cost        	AS    bclCost,
		    bcl_service     	AS    bclService
	  FROM
	      texi_car
	  WHERE
	      tdl_id = #{tdlId}
   </select>
</mapper>