<!DOCTYPE HTML>
<html>
<head>
	<title>index</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/headerfooter.css">
	<link rel="stylesheet" type="text/css" href="css/car_list.css">
</head>
<body>
	<div class="indexwrap">
		<div class="indexhead">
			<div class="indexheadtop">
				<div class="indexheadtopwrap">
					<div class="indexheadtopleft">
						<ul>
							<li><a href="#">您好！欢迎使用jialvlianhe.com访问佳旅联合</a></li>
							<li><a href="#">登录</a></li>
							<li><a href="#">注册</a></li>
						</ul>
					</div>
					<div class="indexheadtopright">
						<ul>
							<li><a href="#">会员中心</a></li>
							<li><a href="#">微信</a></li>
							<li><a href="#">电话</a></li>
							<li><a href="#">客服中心</a></li>
							<li><a href="#">客户服务</a></li>
							<li><a href="#">合作中心</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="indexheadcenter">
				<div class="indexheadcenterwrap">
					<div class="indexheadcenterleft">
						<div class="indexheadcenterleftimg">
							<img src="images/logo.gif">
						</div>
						<div class="indexheadcenterleftname">
							<div class="indexheadcenterleftnametop">
								佳佳旅行网
							</div>
							<div class="indexheadcenterleftnamelow">
								石家庄佳佳国际旅行社有限公司
							</div>
						</div>
					</div>
					<div class="indexheadcentermiddle">
						<div class="indexheadcentermiddlsearch">
							<input type="text" placeholder="请输入目的地、景区名或关键词">
							<a href="#"><img src="images/searchb.gif"></a>
						</div>
					</div>
					<div class="indexheadcenterright">
						<div class="indexheadcenterrightiphonea">
							<img src="images/iPhone.gif">
							<span>联系电话：010-66666666</span>
						</div>
						<div class="indexheadcenterrightiphoneb">
							<img src="images/telephone.gif">
							<span>地址:石家庄桥西区人民政府</span>
						</div>
					</div>
				</div>
			</div>
			<div class="indexheadlow">
				<div class="indexheadlowmenu">
					<ul>
						<li class="indexheadlowmenuindex"><a href="#">首页</a></li>
						<li><a href="#">热门精选</a></li>
						<li><a href="#">主题推荐</a></li>
						<li><a href="#">当地旅游</a></li>
						<li><a href="#">超级自由行</a></li>
						<li><a href="#">关于我们</a></li>
						<li><a href="#">旅游资讯</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="carcenter">
			<div class="cartop">
				<div class="cartopl">
					<img src="images/listcar.png">
				</div>
				<div class="cartopr">
					<div class="cartoprname">
						尼桑Altima 2-door
					</div>
					<div class="cartoprl">
						<div class="cartoprlp">
							<span>品牌：</span>
							<span>东风日产</span>
						</div>
						<div class="cartoprlp">
							<span>车型：</span>
							<span>经济型</span>
						</div>
						<div class="cartoprlp">
							<span>载客人数：</span>
							<span>1-4人</span>
						</div>
					</div>
					<div class="cartoprl">
						<div class="cartoprlp">
							<span>保险：</span>
							<span>基本险</span>
						</div>
						<div class="cartoplx">
							<span>
								限时取消：
							</span>
							<span>取车时间前48小时以上</span>
						</div>
					</div>
					<div class="cartoprl">
						<div class="cartoplx">
							<span>
								价格包括：
							</span>
							<span>每日8小时，100公里内的油费</span>
						</div>
					</div>
					<div class="cartoprl">
						<div class="cartoprlp">
							<span>超里程：</span>
							<span>2.5元/公里</span>
						</div>
						<div class="cartoprlp">
							<span>超时费：</span>
							<span>30元/小时</span>
						</div>
					</div>
					<div class="cartoprlq">
						<div class="cartoprlj">
							<span>价格：</span>
							<label><strong>443</strong>RMB/天</label>
						</div>
						<a href="#">立即预订</a>
					</div>
				</div>
			</div>
			<div class="carcter">
				<div class="carctertop">
					<span>预订须知</span>
				</div>
				<div class="carcterct">
					<div class="carcterctbox">
						<div class="carcterctboxl">
							订单包含：
						</div>
						<div class="carcterctboxr">
							<p>租车基本费用：租车基本费用(fees)</p><br>
							<p>不限里程：不限里程(Unlimted mileage)</p><br>
							<p>车损盗抢险：车损盗抢险：Loss Damages Waiver,缩写LDW</p><br>
						</div>
					</div>
					<div class="carcterctbox">
						<div class="carcterctboxl">
							保险说明：
						</div>
						<div class="carcterctboxr">
							<p>租车基本费用：租车基本费用(fees)</p><br>
							<p>不限里程：不限里程(Unlimted mileage)</p><br>
							<p>车损盗抢险：车损盗抢险：Loss Damages Waiver,缩写LDW</p><br>
						</div>
					</div>
					<div class="carcterctbox">
						<div class="carcterctboxl">
							燃油政策：
						</div>
						<div class="carcterctboxr">
							<p>租车基本费用：租车基本费用(fees)</p><br>
							<p>不限里程：不限里程(Unlimted mileage)</p><br>
							<p>车损盗抢险：车损盗抢险：Loss Damages Waiver,缩写LDW</p><br>
						</div>
					</div>
					<div class="carcterctbox">
						<div class="carcterctboxl">
							订单条款：
						</div>
						<div class="carcterctboxr">
							<p>租车基本费用：租车基本费用(fees)</p><br>
							<p>不限里程：不限里程(Unlimted mileage)</p><br>
							<p>车损盗抢险：车损盗抢险：Loss Damages Waiver,缩写LDW</p><br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="rfooter">
			<div class="rfooter_top">
		    	<div class="rfootertop_left">
		       	    <div>
		                <div class="rfotoplft_top">
		                    <span class="lft_topjg">放心的价格</span>
		                    <span class="lft_topjz">具竞争力的价格</span>
		                    <span class="lft_topfy">无任何隐形费用</span>
		                </div>
		                <div class="rfotoplft_bot">
		                    <span class="rfotlft_bot_fuw">放心的服务</span>
		                    <span class="lft_topjz">领先的服务标准</span>
		                    <span class="lft_topfy">独创的保障体系</span>
		                </div>
		            </div>
		        </div>
		        <div class="rfootertop_rgt">
		            <ul class="rfootertop_rgt_rgt">
		                <li>
		                    <span><a href="#">六重旅游保障</a></span>
		                    <p><a href="#">透明团&nbsp;一站式旅游保险</a></p>
		                    <p><a href="#">特殊原因退订保障</a></p>
		                    <p><a href="#">自然灾害保险金</a></p>
		                    <p><a href="#">旅游预警机制</a></p>
		                    <p><a href="#">应急援助体系</a></p>
		                </li>
		                <li>
		                    <span><a href="#">预定帮助</a></span>
		                    <p><a href="#">如何预定旅游产品</a></p>
		                    <p><a href="#">支付方式</a></p>
		                    <p><a href="#">优惠券使用指南</a></p>
		                </li>
		                <li>
		                    <span><a href="#">安全指南</a></span>
		                    <p><a href="#">出行安全常识</a></p>
		                    <p><a href="#">旅游活动风险防范</a></p>
		                    <p><a href="#">特殊人群安全防范</a></p>
		                    
		                </li>
		                <li>
		                    <span><a href="#">联系方式</a></span>
		                    <p><a href="#">010-6666666</a></p>
		                    <span><a href="#">地址</a></span>
		                    <p><a href="#">石家庄市人民政府</a></p>
		                </li>
		            </ul>
		        </div>
		    </div>
		    <div class="rfooter_cen">
		        <ul class="rfooter_cen_con">
		            <span>优质服务&nbsp;值得推荐</span>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg">热门精选</li>
		            <li><img src="images/footerpic4.jpg"/></li>
		            <li class="rftcen_conbg2">主题推荐</li>
		            <li>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg7">
		                超级自由行
		            </li>
		             <li>
		                 <img src="images/footerpic4.jpg"/>
		             </li>
		            <li class="rftcen_conbg4">当地旅游</li>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg5">关于我们</li>
		            <li>
		                <img src="images/footerpic4.jpg"/>
		            </li>
		            <li class="rftcen_conbg6">关于我们</li>
		            
		        </ul>
		    </div>
		    <div class="rfooter_bot">
		        <ul class="rfotbot_top">
		            <li>Copyright © 2002-2014</li>  
		            <li>版权所有</li>  
		            <li>北京乐途游学文化传播有限公司</li>   
		            <li>苏ICP证B2-20100204</li>  
		            <li>旅行社业务许可证：L-JS-CJ00070</li>
		        </ul>
		        <ul class="rfotbot_bot">
		            <li class="bot1">
		                <img src="images/focz1.jpg"/>
		            </li>
		            <li class="bot2">
		                <img src="images/focz2.jpg"/>
		            </li>
		            <li class="bot3">
		                <img src="images/fotc3.jpg"/>
		            </li>
		            <li class="bot4">
		                <img src="images/foc4.jpg"/>
		            </li>
		            <li class="bot5">
		                <img src="images/foc9.jpg"/>
		            </li>
		            <li class="bot6">
		                <img src="images/foc8.jpg"/>
		            </li>
		        </ul>
		    </div>
		</div>
	</div>
</body>
</html>
 