<!DOCTYPE HTML>
<html>
<head>
	<title>汽车列表页_$!mallWeb.webTitle服务平台_$!mallWeb.webCpyname网站</title>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit" />
	<meta content="$!mallWeb.webTitle服务平台" name="keywords"><!--关键词-->
	<meta content="$!mallWeb.webCpyname网站" name="description"><!--描述-->
	<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
	<link rel="bookmark" href="$staticRoot/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/headerfooter.css">
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/car_list.css">
<script type="text/javascript" src="$staticRoot/js/jquery.min.js"></script>
<script type="text/javascript">
	
	
$(document).ready(function(){
	/*$(".chakan_a").click(function(){
		if($(this).text()=="预订"){
			$(".chakan_block_zc").hide();
			$(this).parents(".clistctma_ctlcbox").next(".chakan_block_zc").show();
			$(".chakan_block_zc").load("$appRoot/$cpyno/texi/sendprice?id=" + 150);
			$(".chakan_a").text("预订").css("background-color","#EB6464");
			$(this).text("预订中").css("background-color","#969696");
			
		}
		else{
			$(this).parents(".clistctma_ctlcbox").next(".chakan_block_zc").hide();
			$(this).text("预订").css("background-color","#EB6464");
		}
	})*/
	$(".clistctma_ctl").on("click",".close_chakan_a",function(){
		$(this).parents(".chakan_block_zc").hide();
		$(".chakan_a").text("预订").css("background-color","#EB6464");
	})
})

function test1(obj,priceId){
		if($(obj).text()=="预订"){
			$(".chakan_block_zc").hide();
			$(obj).parents(".clistctma_ctlcbox").next(".chakan_block_zc").show();
			$(".chakan_block_zc").load("$appRoot/$cpyno/texi/sendprice?id=" + priceId);
			$(".chakan_a").text("预订").css("background-color","#EB6464");
			$(obj).text("预订中").css("background-color","#969696");
			
		}
		else{
			$(obj).parents(".clistctma_ctlcbox").next(".chakan_block_zc").hide();
			$(obj).text("预订").css("background-color","#EB6464");
		}

}
</script>
</head>
<body>
	<div class="indexwrap">
		<!--导航-->
        #parse("common/indexwraptwo.vm")
		<!--导航结束-->
		<!--头部-->
		#parse("common/head.vm")
    		<div class="car_list">
    			<div class="clst_top">
    				<ul>
    					<li id="s1" curl="$appRoot/$cpyno/texi/car1.html" class="clst_topli">接机</li>
    					<li id="s2" curl="$appRoot/$cpyno/texi/car2.html">送机</li>
    					<li id="s3" curl="$appRoot/$cpyno/texi/car3.html">接站</li>
    					<li id="s4" curl="$appRoot/$cpyno/texi/car4.html">送站</li>
    					<li id="s5" curl="$appRoot/$cpyno/texi/car5.html" class="baoche">包车</li>
    					<li id="s6" curl="$appRoot/$cpyno/texi/car6.html" class="zijia">自驾</li>
						<li id="s7" curl="$appRoot/$cpyno/texi/car7.html" style="border-right:none">固定线路</li>
    				</ul>
					<span class="local-nation #if( $!text.tdlInland == '01') on #end" onclick="$('#tdlInland').attr('value','01'); $('#form1').submit();">国际</span>
                    <span class="local-nation #if(!$text.tdlInland || $!text.tdlInland == '02') on #end" onclick="$('#tdlInland').attr('value','02'); $('#form1').submit();">国内</span>
    			</div>
    			<div class="clist_biger">
    				<!--接机-->
    				<div class="clist_ct show">
						<form id="form1" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="1" name="searchType" />
        					<div class="clist_ct_meetair">
        						<div class="clistctma_top" style="height:auto;">
        							<div class="clistctma_topf">
        								<label class="search-lab" style="margin-left:37px">
                                            <span class="search-span"><strong>出发机场:</strong></span>
                                            <input type="text" class="search-input" name="gdlStart" value="$!text.gdlStart">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>送达地点:
                                            </strong></span>
                                            <input type="text" class="search-input" name="gdlEnd" value="$!text.gdlEnd">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tspDate" value="$!text.tspDate">
                                        </label>
        								<button class="search-btn" value="" type="submit">搜索</button>
        							</div>
        							<ul class="cmaselect clearfix" style="height:auto;">
        								<li class="cmaselect-list" style="width:auto;float:none;">
        									<dl id="cmaselect1" style="width:auto;">
        										<dt><strong>车型:
                                                </strong></dt>
        										<dd class="cmaselect-all #if("" == $!text.tdlType || ! $text.tdlType) cmaselected #end" onclick="$('#tdlType').attr('value',''); $('#form1').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmaselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) cmaselected #end" id="a_level_$item.id" onclick="$('#tdlType').attr('value','$item'); $('#form1').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
        								</li>
        										<!--
        										<dd class="cmaselect-all cmaselected"><a href="javascript:void(0)">不限</a></dd>
        										<div class="cmaselectdiv">
        											<dd><a href="javascript:void(0)" id="jjx" name="">经济型</a></dd>
        											<dd><a href="javascript:void(0)" id="gdx" name="">高档型</a></dd>
        											<dd><a href="javascript:void(0)" id="hhx" name="" >豪华型</a></dd>
        										</div>-->
    									<li class="cmaselect-list" style="width:auto;float:none;">
    											<dl>
            										<dt><strong>车辆档次:</strong></dt>
            										<dd class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype) cmaselect-all  cmaselected #end"><a href="javascript:void(0)"  onclick="$('#tdlTexttype1').attr('value',''); $('#form1').submit();" style="margin-left:10px;">不限</a></dd>
            										<div class="cmaselectdiv">
        												#foreach($item in $texitype.keySet())
        													<dd class="#if($!text.tdlTexttype == $item) cmaselected #end" id="a_level_$item.id" onclick="$('#tdlTexttype1').attr('value','$item'); $('#form1').submit();"><a href="javascript:void(0)">$texitype.get($item)</a></dd>
            											#end
            										</div>
            									</dl>
    									</li>	
        								
        								<li class="cmaselect-list" style="width:auto;float:none;border-bottom:none;">
        									<dl id="cmaselect3">
        										<dt><strong>可乘人数:</strong></dt>
        										<!--
                                                <selcet name="tdlNum">
        											<option value="">不限</option>
        											#foreach($item in $tdlnum.keySet())
                        								<option value="$item" #if($text.tdlNum == $item) selected #end>$tdlnum.get($item)</option>
                                                    #end
        										</selcet>-->
        										<dd class="#if(!$text.tdlNum|| $!text.tdlNum == '') cmaselect-all cmaselected #end" onclick="$('#tdlNum').attr('value',''); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) cmaselect-all cmaselected #end" onclick="$('#tdlNum').attr('value','4'); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0) cmaselect-all cmaselected #end" onclick="$('#tdlNum').attr('value','6'); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) cmaselect-all cmaselected #end"  onclick="$('#tdlNum').attr('value','8'); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) cmaselect-all cmaselected #end"  onclick="$('#tdlNum').attr('value','10'); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) cmaselect-all cmaselected #end"  onclick="$('#tdlNum').attr('value','13'); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) cmaselect-all cmaselected #end"  onclick="$('#tdlNum').attr('value','21'); $('#tdlNumCompare').attr('value',0); $('#form1').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) cmaselect-all cmaselected #end"  onclick="$('#tdlNum').attr('value','21'); $('#tdlNumCompare').attr('value',1); $('#form1').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
        								</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
            										#if($!item.tdlImgAppearance != '')
                    									<img src="$staticFileRes$item.tdlImgAppearance" title="$!item.tdlName" alt="">
                    								#else
                    									<img src="$staticRoot/images/isnull.png">
                    								#end
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<span>$!item.tdlName</span>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span style="width:110px; margin-right:10px;"><strong>车型：</strong>$!item.tdlType</span>
            											<span style="width:100px;"><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span style="width:150px;"><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span style="width:110px; margin-right:10px;"><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span style="width:100px;"><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span style="width:150px;"><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tspRetailPrice</span></label>
            										<a class="chakan_a" href="javascript:void(0);" onclick="test1($(this),$!item.priceId)">预订</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
    										<div class="chakan_block chakan_block_zc">
    										
    										</div>
            							#end
            						</div>
            						<!--/左边-->
            						<!--/右边-->
									#parse("common/hot.vm")
            						<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            					</div>
        					</div>
    						<input type="hidden" name="tdlType" id="tdlType" value="$!text.tdlType"/>
							<input type="hidden" name="tdlTexttype" id="tdlTexttype1" value="$!text.tdlTexttype"/>
							<input type="hidden" name="tdlNum" id="tdlNum" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare" id="tdlNumCompare" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
							<input type="hidden" name="tdlInland" id="tdlInland" value="$!text.tdlInland"/><!--国际：01 国内：02 -->
						</form>
    				</div>
					
    				<!--/接机-->
    				<!--送机-->
    				<div class="clist_ct">
						<form id="form2" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="2" name="searchType" />
        					<div class="clist_ct_sendair">
        						<div class="clistctsa_top">
        							<div class="clistctsa_topf">
    									<label class="search-lab" style="margin-left:37px">
                                            <span class="search-span"><strong>出发地点:</strong></span>
                                            <input type="text" class="search-input" name="gdlMachine" value="$!text.gdlMachine">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>送达机场:</strong></span>
                                            <input type="text" class="search-input" name="gdlMachineback" value="$!text.gdlMachineback">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tspDate" value="$!text.tspDate">
                                        </label>									
        								<button class="search-btn" value="" type="submit">搜索</button>
        							</div>
        							<ul class="csaselect">
								        <li class="csaselect-list">		
											<dl style="width:auto;">
        										<dt><strong>车型:</strong></dt>
        										<dd class="#if("" == $!text.tdlType || ! $text.tdlType) csaselect-all csaselected #end" onclick="$('#tdlType2').attr('value',''); $('#form2').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmsselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) csaselect-all csaselected #end" id="a_level_$item.id" onclick="$('#tdlType2').attr('value','$item'); $('#form2').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
									    </li>
        								<li class="csaselect-list">
        									<dl id="csaselect1">
        										<dt><strong>车辆档次:</strong></dt>
        										<dd class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype)  csaselect-all csaselected #end"><a href="javascript:void(0)"  onclick="$('#tdlTexttype2').attr('value',''); $('#form2').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="cmsselectdiv">
    												#foreach($item in $texitype.keySet())
    													<dd class="#if($!text.tdlTexttype == $item) csaselect-all csaselected #end" ><a href="javascript:void(0)" id="a_level_$item.id" onclick="$('#tdlTexttype2').attr('value','$item'); $('#form2').submit();">$texitype.get($item)</a></dd>
        											#end
        										</div>
        									</dl>
        								</li>
        								<li class="csaselect-list">
        									<dl id="csaselect3">
        										<dt><strong>可乘人数:</strong></dt>    
        										<dd class="#if(!$text.tdlNum || $!text.tdlNum == '') csaselect-all csaselected #end" onclick="$('#tdlNum2').attr('value',''); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) csaselect-all csaselected #end" onclick="$('#tdlNum2').attr('value','4'); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0)  csaselect-all csaselected #end" onclick="$('#tdlNum2').attr('value','6'); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) csaselect-all csaselected #end"  onclick="$('#tdlNum2').attr('value','8'); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) csaselect-all csaselected #end"  onclick="$('#tdlNum2').attr('value','10'); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) csaselect-all csaselected #end"  onclick="$('#tdlNum2').attr('value','13'); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) csaselect-all csaselected #end"  onclick="$('#tdlNum2').attr('value','21'); $('#tdlNumCompare2').attr('value',0); $('#form2').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) csaselect-all csaselected #end"  onclick="$('#tdlNum2').attr('value','21'); $('#tdlNumCompare2').attr('value',1); $('#form2').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
        								</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
            										#if($!item.tdlImgAppearance != '')
                    									<img src="$staticFileRes$item.tdlImgAppearance" title="" alt="">
                    								#else
                    									<img src="$staticRoot/images/isnull.png" title="" alt="">
                    								#end
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<span>$!item.tdlName</span>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span><strong>车型：</strong>$!item.tdlType</span>
            											<span><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tspRetailPrice</span></label>
            										<a class="chakan_a" href="javascript:void(0);">预订</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
    										<div class="chakan_block chakan_block_zc">
    										<div class="chakan_cont chakan_cont_zc clearfix">
                                                	<div class="b_div_h35">
                                                        <ul>
                                                			<li><span>产品编码：</span>$!item.tdlCode</li>
                                                            <li><span>出发车站：</span>$!item.gdlMachine</li>
                                                            <li><span>送达地点：</span>$!item.gdlMachineback</li>
                                                            <li><span>用车日期：</span>$!item.tspDate1</li>				
                                                        </ul>
                                                        <a class="close_chakan_a" href="javascript:void()"></a>
                                                    </div>
                                                    <div class="b_div_h270">
                                                        <div class="b_div_w480">
                                                            <span style="margin-top:3px;">费用说明：</span>
                                                            <pre style="float:none">$!item.gdlMachinemoney</pre>
                                                            <span style="margin-top:3px;">服务说明：</span>
                                                            <pre style="float:none">$!item.gdlMachineshow</pre>
                                                        </div>
                                                        <div class="b_div_w445">
                                                            <p><span>联系人姓名：</span><input type="text"/></p>
                                                            <p><span>手机号码：</span><input type="text"/></p>
                                                            <p><span>用车时间：</span><input type="text" class="b_input_w100 laydate-icon" onclick="laydate();" /></p>
                                                			<!--onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}"-->
                                                            <p><span>备注：</span><textarea></textarea></p>
                                                            <a href="#">支付</a>
                                                        </div>
                                                    </div>
                                                </div>
    										</div>
            							#end
            						</div>
            						<!--/左边-->
            						<!--/右边-->
									#parse("common/hot.vm")
            						<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            					</div>
    						</div>
							<input type="hidden" name="tdlType" id="tdlType2" value="$!text.tdlType"/>
                			<input type="hidden" name="tdlTexttype" id="tdlTexttype2" value="$!text.tdlTexttype"/>
							<input type="hidden" name="tdlNum" id="tdlNum2" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare" id="tdlNumCompare2" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
						</form>
    				</div>
    				<!--/送机-->
    				<!--接站-->
    				<div class="clist_ct">
						<form id="form3" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="3" name="searchType" />
        					<div class="clist_ct_meetstation">
        						<div class="clistctms_top">
        							<div class="clistctms_topf">
    									<label class="search-lab" style="margin-left:37px">
                                            <span class="search-span"><strong>出发车站:</strong></span>
                                            <input type="text" class="search-input" name="gdlStation" value="$!text.gdlStation">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>送达地点:</strong></span>
                                            <input type="text" class="search-input" name="gdlStationup" value="$!text.gdlStationup">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tspDate" value="$!text.tspDate">
                                        </label>
        								<button class="search-btn" value="" type="submit">搜索</button>
        							</div>
        							<ul class="cmsselect">
										<li class="cmsselect-list" style="width:1198px;">
        									<dl style="width:auto;">
        										<dt><strong>车型:
                                                </strong></dt>
        										<dd class="cmaselect-all #if("" == $!text.tdlType || ! $text.tdlType) cmsselected #end" onclick="$('#tdlType3').attr('value',''); $('#form3').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmsselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) cmsselected #end" id="a_level_$item.id" onclick="$('#tdlType3').attr('value','$item'); $('#form3').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
        								</li>
        								<li class="cmsselect-list">
        									<dl id="cmsselect1">
        										<dl id="csaselect1">
        										<dt><strong>车辆档次:</strong></dt>
        										<dd class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype)  cmsselect-all cmsselected #end"><a href="javascript:void(0)" #if("" == $!text.tdlTexttype || ! $text.tdlTexttype) #end  onclick="$('#tdlTexttype3').attr('value',''); $('#form3').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="cmsselectdiv">
    												#foreach($item in $texitype.keySet())
    													<dd class="#if($!text.tdlTexttype == $item) cmsselect-all cmsselected #end" ><a href="javascript:void(0)" id="a_level_$item.id" onclick="$('#tdlTexttype3').attr('value','$item'); $('#form3').submit();">$texitype.get($item)</a></dd>
        											#end
        										</div>
        									</dl>
        								</li>
        								<li class="cmsselect-list">
        									<dl id="cmsselect3">
        										<dt><strong>可乘人数:</strong></dt>    
        										<dd class="#if(!$text.tdlNum || $!text.tdlNum == '') cmsselect-all cmsselected #end" onclick="$('#tdlNum3').attr('value',''); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) cmsselect-all cmsselected #end" onclick="$('#tdlNum3').attr('value','4'); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0)  cmsselect-all cmsselected #end" onclick="$('#tdlNum3').attr('value','6'); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) cmsselect-all cmsselected #end"  onclick="$('#tdlNum3').attr('value','8'); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) cmsselect-all cmsselected #end"  onclick="$('#tdlNum3').attr('value','10'); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) cmsselect-all cmsselected #end"  onclick="$('#tdlNum3').attr('value','13'); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) cmsselect-all cmsselected #end"  onclick="$('#tdlNum3').attr('value','21'); $('#tdlNumCompare3').attr('value',0); $('#form3').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) cmsselect-all cmsselected #end"  onclick="$('#tdlNum3').attr('value','21'); $('#tdlNumCompare3').attr('value',1); $('#form3').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
        								</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
            										#if($!item.tdlImgAppearance != '')
                    									<img src="$staticFileRes$item.tdlImgAppearance" title="" alt="">
                    								#else
                    									<img src="$staticRoot/images/isnull.png" title="" alt="">
                    								#end
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<span>$!item.tdlName</span>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span><strong>车型：</strong>$!item.tdlType</span>
            											<span><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tspRetailPrice</span></label>
            										<a class="chakan_a" href="javascript:void(0);">预订</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
    										<div class="chakan_block chakan_block_zc">
    										<div class="chakan_cont chakan_cont_zc clearfix">
                                            	<div class="b_div_h35">
                                                    <ul>
                                            			<li><span>产品编码：</span>$!item.tdlCode</li>
                                                        <li><span>出发车站：</span>浦东国际机场T2</li>
                                                        <li><span>送达地点：</span>浦东国际机场T2</li>
                                                        <li><span>用车日期：</span>2015-8-24</li>				
                                                    </ul>
                                                    <a class="close_chakan_a" href="javascript:void()"></a>
                                                </div>
                                                <div class="b_div_h270">
                                                    <div class="b_div_w480">
                                                        <span style="margin-top:3px;">费用说明：</span>
                                                        <pre style="float:none">$!item.gdlStationmoney</pre>
                                                        <span style="margin-top:3px;">服务说明：</span>
                                                        <pre style="float:none">$!item.gdlStationshow</pre>
                                                    </div>
                                                    <div class="b_div_w445">
                                                        <p><span>联系人姓名：</span><input type="text"/></p>
                                                        <p><span>手机号码：</span><input type="text"/></p>
                                                        <p><span>用车时间：</span><input type="text" class="b_input_w100 laydate-icon" onclick="laydate();" /></p>
                                            			<!--onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}"-->
                                                        <p><span>备注：</span><textarea></textarea></p>
                                                        <a href="#">支付</a>
                                                    </div>
                                                </div>
                                            </div>
    											</div>
            							#end
            						</div>
            						<!--/左边-->
            						<!--/右边-->
									#parse("common/hot.vm")
            						<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            					</div>
        					</div>
							<input type="hidden" name="tdlType" id="tdlType3" value="$!text.tdlType"/>
                			<input type="hidden" name="tdlTexttype" id="tdlTexttype3" value="$!text.tdlTexttype"/>
							<input type="hidden" name="tdlNum" id="tdlNum3" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare" id="tdlNumCompare3" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
						</form>
    				</div>
    				<!--/接站-->
    				<!--送站-->
    				<div class="clist_ct">
						<form id="form4" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="4" name="searchType" />
        					<div class="clist_ct_sendstation">
        						<div class="clistctss_top">
        							<div class="clistctss_topf">
    									<label class="search-lab" style="margin-left:37px">
                                            <span class="search-span"><strong>出发地点:</strong></span>
                                            <input type="text" class="search-input" name="gdlStationback" value="$!text.gdlStationback">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>送达车站:</strong></span>
                                            <input type="text" class="search-input" name="gdlStationnup" value="$!text.gdlStationnup">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tspDate" value="$!text.tspDate">
                                        </label>
        								<button class="search-btn" value="" type="submit">搜索</button>
        							</div>
        							<ul class="cssselect">
										<li class="cssselect-list">
        									<dl style="width:auto;">
        										<dt><strong>车型:
                                                </strong></dt>
        										<dd class="cssselect-all #if("" == $!text.tdlType || ! $text.tdlType) cssselected #end" onclick="$('#tdlType4').attr('value',''); $('#form1').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmsselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) cssselected #end" id="a_level_$item.id" onclick="$('#tdlType4').attr('value','$item'); $('#form1').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
        								</li>
        								<li class="cssselect-list">
        									<dl id="cmsselect1">
        										<dl id="csaselect1">
        										<dt><strong>车辆档次:</strong></dt>
        										<dd class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype)  cssselect-all cssselected #end"><a href="javascript:void(0)" #if("" == $!text.tdlTexttype || ! $text.tdlTexttype) #end  onclick="$('#tdlTexttype').attr('value',''); $('#form4').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="cmsselectdiv">
    												#foreach($item in $texitype.keySet())
    													<dd  class="#if($!text.tdlTexttype == $item) cssselect-all cssselected #end"><a href="javascript:void(0)" id="a_level_$item.id" onclick="$('#tdlTexttype4').attr('value','$item'); $('#form4').submit();">$texitype.get($item)</a></dd>
        											#end
        										</div>
        									</dl>
        								</li>
        								
        								<li class="cssselect-list">
        									<dl id="cssselect3">
        										<dt><strong>可乘人数:</strong></dt>    
        										<dd class="#if(!$text.tdlNum ||$!text.tdlNum == '') cssselect-all cssselected #end" onclick="$('#tdlNum4').attr('value',''); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) cssselect-all cssselected #end" onclick="$('#tdlNum4').attr('value','4'); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0)  cssselect-all cssselected #end" onclick="$('#tdlNum4').attr('value','6'); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) cssselect-all cssselected #end"  onclick="$('#tdlNum4').attr('value','8'); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) cssselect-all cssselected #end"  onclick="$('#tdlNum4').attr('value','10'); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) cssselect-all cssselected #end"  onclick="$('#tdlNum4').attr('value','13'); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) cssselect-all cssselected #end"  onclick="$('#tdlNum4').attr('value','21'); $('#tdlNumCompare4').attr('value',0); $('#form4').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) cssselect-all cssselected #end"  onclick="$('#tdlNum4').attr('value','21'); $('#tdlNumCompare4').attr('value',1); $('#form4').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
        								</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
            										#if($!item.tdlImgAppearance != '')
                    									<img src="$staticFileRes$item.tdlImgAppearance" title="" alt="">
                    								#else
                    									<img src="$staticRoot/images/isnull.png" title="" alt="">
                    								#end
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<span>$!item.tdlName</span>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span><strong>车型：</strong>$!item.tdlType</span>
            											<span><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tspRetailPrice</span></label>
            										<a class="chakan_a" href="javascript:void(0);">预订</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
    										<div class="chakan_block chakan_block_zc">
    										<div class="chakan_cont chakan_cont_zc clearfix">
                                            	<div class="b_div_h35">
                                                    <ul>
                                            			<li><span>产品编码：</span>$!item.tdlCode</li>
                                                        <li><span>出发车站：</span>浦东国际机场T2</li>
                                                        <li><span>送达地点：</span>浦东国际机场T2</li>
                                                        <li><span>用车日期：</span>2015-8-24</li>				
                                                    </ul>
                                                    <a class="close_chakan_a" href="javascript:void()"></a>
                                                </div>
                                                <div class="b_div_h270">
                                                    <div class="b_div_w480">
                                                        <span style="margin-top:3px;">费用说明：</span>
                                                        <pre style="float:none">$!item.gdlStationbackmoney</pre>
                                                        <span style="margin-top:3px;">服务说明：</span>
                                                        <pre style="float:none">$!item.gdlStationbackshow</pre>
                                                    </div>
                                                    <div class="b_div_w445">
                                                        <p><span>联系人姓名：</span><input type="text"/></p>
                                                        <p><span>手机号码：</span><input type="text"/></p>
                                                        <p><span>用车时间：</span><input type="text" class="b_input_w100 laydate-icon" onclick="laydate();" /></p>
                                            			<!--onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}"-->
                                                        <p><span>备注：</span><textarea></textarea></p>
                                                        <a href="#">支付</a>
                                                    </div>
                                                </div>
                                            </div>
                                                </div>
            							#end
            						</div>
            						<!--/左边-->
            						<!--/右边-->
									#parse("common/hot.vm")
            						<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            					</div>
        					</div>
							<input type="hidden" name="tdlType" id="tdlType4" value="$!text.tdlType"/>
                			<input type="hidden" name="tdlTexttype" id="tdlTexttype4" value="$!text.tdlTexttype" />
							<input type="hidden" name="tdlNum" id="tdlNum4" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare" id="tdlNumCompare4" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
						</form>
    				</div>
    				<!--/送站-->
    				<!--包车-->
    				<div class="clist_ct">
						<form id="form5" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="5" name="searchType" />
        					<div class="clist_ct_chartered" style="float:left">
        						<div class="clstctlc_top">
        							<div class="clistctc_topf">
        								<label class="search-lab" style="display:none">
                                            <span class="search-span"><strong>出发地点:</strong></span>
                                            <select class="search-select">
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                                <option></option>
                                            </select>
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span" style="margin-left:37px;"><strong>用车方式:</strong></span>
                                            <select class="search-select" style="width:100px;" id="car-day" name="bclType">
                                                <option #if(!$text.bclType || $!text.bclType == '' || $!text.bclType == '01') selected #end value='01'>全天</option>
                                                <option #if($!text.bclType == '02') selected #end value='02'>半天</option>
                                            </select>
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tcpDate1" value="$!text.tcpDate1">
                                        </label>
        								<button class="search-btn" value="" type="submit">搜索</button>
        							</div>
        							<ul class="ccselect">
										<li class="ccselect-list">
        									<dl>
        										<dt><strong>车型:
                                                </strong></dt>
        										<dd class="cmaselect-all #if("" == $!text.tdlType || ! $text.tdlType) ccselected #end" onclick="$('#tdlType5').attr('value',''); $('#form5').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmsselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) ccselected #end" id="a_level_$item.id" onclick="$('#tdlType5').attr('value','$item'); $('#form5').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
        								</li>
        								<li class="ccselect-list">
        									<dl id="cmsselect1">
        										<dl id="csaselect1">
        										<dt><strong>车辆档次:</strong></dt>
        										<dd  class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype)  ccselect-all ccselected #end"><a href="javascript:void(0)" #if("" == $!text.tdlTexttype || ! $text.tdlTexttype) #end  onclick="$('#tdlTexttype5').attr('value',''); $('#form5').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="cmsselectdiv">
    												#foreach($item in $texitype.keySet())
    													<dd  class="#if($!text.tdlTexttype == $item) ccselect-all ccselected #end"><a href="javascript:void(0)" id="a_level_$item.id" onclick="$('#tdlTexttype5').attr('value','$item'); $('#form5').submit();">$texitype.get($item)</a></dd>
        											#end
        										</div>
        									</dl>
        								</li>
        								
        								<li class="ccselect-list">
        									<dl id="ccselect3">
												<dt><strong>可乘人数:</strong></dt>   
        										<dd class="#if(!$text.tdlNum || $!text.tdlNum == '') ccselect-all ccselected #end" onclick="$('#tdlNum5').attr('value',''); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) ccselect-all ccselected #end" onclick="$('#tdlNum5').attr('value','4'); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0)  ccselect-all ccselected #end" onclick="$('#tdlNum5').attr('value','6'); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) ccselect-all ccselected #end"  onclick="$('#tdlNum5').attr('value','8'); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) ccselect-all ccselected #end"  onclick="$('#tdlNum5').attr('value','10'); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) ccselect-all ccselected #end"  onclick="$('#tdlNum5').attr('value','13'); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) ccselect-all ccselected #end"  onclick="$('#tdlNum5').attr('value','21'); $('#tdlNumCompare5').attr('value',0); $('#form5').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) ccselect-all ccselected #end"  onclick="$('#tdlNum5').attr('value','21'); $('#tdlNumCompare5').attr('value',1); $('#form5').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
										</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
            										#if($!item.tdlImgAppearance != '')
                    									<a href="$appRoot/$cpyno/texi/texicar/$item.id/$!text.tcpDate1" target="_blank"><img src="$staticFileRes$item.tdlImgAppearance" title="$!item.tdlName" alt=""></a>
                    								#else
                    									<a href="$appRoot/$cpyno/texi/texicar/$item.id/$!text.tcpDate1" target="_blank"><img src="$staticRoot/images/isnull.png"></a>
                    								#end 
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<a href="$appRoot/$cpyno/texi/texicar/$item.id/$!text.tcpDate1" target="_blank"><span>$!item.tdlName</span></a>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span><strong>车型：</strong>$!item.tdlType</span>
            											<span><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tcpRetailPrice</span></label>
            										<a href="$appRoot/$cpyno/texi/texicar/$item.id/$!text.tcpDate1" target="_blank">查看</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
    										<div class="chakan_cont clearfix">
                                            	<div class="b_div_h35">
                                                    <ul>
                                            			<li><span>产品编码：</span>$!item.tdlCode</li>
                                                        <li><span>出发车站：</span>浦东国际机场T2</li>
                                                        <li><span>送达地点：</span>浦东国际机场T2</li>
                                                        <li><span>用车日期：</span>2015-8-24</li>				
                                                    </ul>
                                                    <a class="close_chakan_a" href="javascript:void()"></a>
                                                </div>
                                                <div class="b_div_h270">
                                                    <div class="b_div_w480">
                                                        <span style="margin-top:3px;">费用说明：</span>
                                                        <pre style="float:none">$!item.gdlCitymoney</pre>
                                                       <span style="margin-top:3px;">服务说明：</span>
                                                        <pre style="float:none"></pre>
                                                    </div>
                                                    <div class="b_div_w445">
                                                        <p><span>联系人姓名：</span><input type="text"/></p>
                                                        <p><span>手机号码：</span><input type="text"/></p>
                                                        <p><span>用车时间：</span><input type="text" class="b_input_w100 laydate-icon" onclick="laydate();" /></p>
                                            			<!--onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}"-->
                                                        <p><span>备注：</span><textarea></textarea></p>
                                                        <a href="#">支付</a>
                                                    </div>
                                                </div>
                                            </div>
            							#end
            						</div>
            						<!--/左边-->
            						<!--/右边-->
									#parse("common/hot.vm")
            						<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            					</div>
        					</div>
							<input type="hidden" name="tdlType" id="tdlType5" value="$!text.tdlType"/>
                			<input type="hidden" name="tdlTexttype" id="tdlTexttype5" />
							<input type="hidden" name="tdlNum" id="tdlNum5" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare" id="tdlNumCompare5" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
						</form>
    				</div>
    				<!--/包车-->
    				<!--自驾-->
    				<div class="clist_ct">
						<form id="form6" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="6" name="searchType" />
        					<div class="clist_ct_selfdriving">
        						<div class="clstctlsd_top">
        							<div class="clistctsd_topf">
        								<label class="search-lab" style="margin-left:37px;">
                                            <span class="search-span"><strong>出发城市:</strong></span>
                                            <input type="text" class="search-input" name="zjlCity" value="$!text.zjlCity">
                                        </label>
        								<label class="search-lab" style="width:180px">
                                            <span class="search-span"><strong>异地还车:</strong></span>
                                            <select class="search-select" style="width:100px;" name="zjlPlaceCar">
                                                <option #if($!text.zjlPlaceCar == '02' || $!text.zjlPlaceCar == '') selected #end value='02'>支持</option>
                                                <option #if($!text.zjlPlaceCar == '01') selected #end value='01'> 不支持</option>
                                            </select>
                                        </label>
        								<label class="search-lab" style="width:180px">
                                            <span class="search-span"><strong>用车方式:</strong></span>
    										<select class="search-select" style="width:100px;" id="car-way" name="zjlType">
                                                <option value="01"  #if($!text.zjlType == '01' || $!text.zjlType == '') selected #end >全天</option>
                                                <option value="02"  #if($!text.zjlType == '02') selected #end >半天</option>
                                            </select>
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tdpDate1" value="$!text.tdpDate1">
                                        </label>
    									
        								<button class="search-btn" value="" type="submit" style="margin-left:18px;">搜索</button>
        							</div>
        							<ul class="csdselect">
										<li class="csdselect-list">
        									<dl>
        										<dt><strong>车型:
                                                </strong></dt>
        										<dd class="cmaselect-all #if("" == $!text.tdlType || ! $text.tdlType) csdselected #end" onclick="$('#tdlType6').attr('value',''); $('#form6').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmaselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) csdselected #end" id="a_level_$item.id" onclick="$('#tdlType6').attr('value','$item'); $('#form6').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
        								</li>
        								<li class="csdselect-list">
        									<dl id="cmsselect1">
        										<dl id="csaselect1">
        										<dt><strong>车辆档次:</strong></dt>
        										<dd class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype) csdselect-all csdselected #end"><a href="javascript:void(0)" #if("" == $!text.tdlTexttype || ! $text.tdlTexttype) #end  onclick="$('#tdlTexttype6').attr('value',''); $('#form6').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="cmsselectdiv">
    												#foreach($item in $texitype.keySet())
    													<dd  class="#if($!text.tdlTexttype == $item) csdselect-all csdselected #end"><a href="javascript:void(0)" id="a_level_$item.id" onclick="$('#tdlTexttype6').attr('value','$item'); $('#form6').submit();">$texitype.get($item)</a></dd>
        											#end
        										</div>
        									</dl>
        								</li>
        								
        								<li class="csdselect-list">
        									<dl id="csdselect3">
        										<dt><strong>可乘人数:</strong></dt>
        										<dd class="#if(!$text.tdlNum || $!text.tdlNum == '') csdselect-all csdselected #end" onclick="$('#tdlNum6').attr('value',''); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) csdselect-all csdselected #end" onclick="$('#tdlNum6').attr('value','4'); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0)  csdselect-all csdselected #end" onclick="$('#tdlNum6').attr('value','6'); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum6').attr('value','8'); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum6').attr('value','10'); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum6').attr('value','13'); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum6').attr('value','21'); $('#tdlNumCompare6').attr('value',0); $('#form6').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) csdselect-all csdselected #end"  onclick="$('#tdlNum6').attr('value','21'); $('#tdlNumCompare6').attr('value',1); $('#form6').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
        								</li>
    									<li class="csdselect-list">
        									<dl id="csdselect2">
        										<dt><strong>送车上门:</strong></dt>
        										<dd class="#if(('' == $!text.zjlHfTakePlace || !$text.zjlHfTakePlace) &&('' == $!text.zjlTakePlace || !$text.zjlTakePlace)) csdselect-all csdselected #end"><a href="javascript:void(0)" onclick="$('#zjlHfTakePlace6').attr('value',''); $('#form6').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="csdselectdiv" name="zjlHfTakePlace">
        											<dd class="#if($!text.zjlHfTakePlace =='01' || $!text.zjlTakePlace =='01') csdselect-all csdselected #end"><a href="javascript:void(0)" value="01" onclick="$('#zjlHfTakePlace6').attr('value','01'); $('#form6').submit();">支持</a></dd>
        											<dd class="#if($!text.zjlHfTakePlace =='02' || $!text.zjlTakePlace =='02') csdselect-all csdselected #end"><a href="javascript:void(0)" value="02" onclick="$('#zjlHfTakePlace6').attr('value','02'); $('#form6').submit();">不支持</a></dd>
        										</div>
        									</dl>
        								</li>
    									<li class="csdselect-list">
        									<dl id="csdselect4">
        										<dt><strong>上门取车:</strong></dt>
        										<dd class="#if(('' == $!text.zjlHfBackPlace || !$text.zjlHfBackPlace) &&('' == $!text.zjlBackPlace || !$text.zjlBackPlace)) csdselect-all csdselected #end"><a href="javascript:void(0)"  onclick="$('#zjlHfBackPlace6').attr('value',''); $('#form6').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="csdselectdiv">
        											<dd class="#if($!text.zjlHfBackPlace == '01' || $!text.zjlBackPlace == '01') csdselect-all csdselected #end"><a href="javascript:void(0)"  onclick="$('#zjlHfBackPlace6').attr('value','01'); $('#form6').submit();">支持</a></dd>
        											<dd class="#if($!text.zjlHfBackPlace == '02' || $!text.zjlBackPlace == '02') csdselect-all csdselected #end"><a href="javascript:void(0)"  onclick="$('#zjlHfBackPlace6').attr('value','02'); $('#form6').submit();">不支持</a></dd>
        										</div>
        									</dl>
        								</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
                    								#if($!item.tdlImgAppearance != '')
                    									<a href="$appRoot/$cpyno/texi/carxiang/$item.id/$!text.tdpDate1" target="_blank"><img src="$staticFileRes$item.tdlImgAppearance" title="" alt=""></a>
                    								#else
                    									<a href="$appRoot/$cpyno/texi/carxiang/$item.id/$!text.tdpDate1" target="_blank"><img src="$staticRoot/images/isnull.png" title="" alt=""></a>
                    								#end
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<a href="$appRoot/$cpyno/texi/carxiang/$item.id/$!text.tdpDate1" target="_blank"><span>$!item.tdlName</span></a>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span><strong>车型：</strong>$!item.tdlType</span>
            											<span><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tdpRetailPrice</span></label>
            										<a href="$appRoot/$cpyno/texi/carxiang/$item.id/$!text.tdpDate1" target="_blank">查看</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
            							#end
            						</div>
            						<!--/左边-->
            						<!--/右边-->
									#parse("common/hot.vm")
            						<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            					</div>
        					</div>
							<input type="hidden" name="tdlType" id="tdlType6" value="$!text.tdlType"/>
                			<input type="hidden" name="tdlTexttype"    id="tdlTexttype6" value="$!text.tdlTexttype"/>
							<input type="hidden" name="tdlNum"         id="tdlNum6" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare"  id="tdlNumCompare6" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
							<input type="hidden" name="zjlHfTakePlace" id="zjlHfTakePlace6" value="$!text.zjlTakePlaceVo"/><!-- 01:支持送车上门 02：不支持送车上门-->
						    <input type="hidden" name="zjlHfBackPlace" id="zjlHfBackPlace6" value="$!text.zjlBackPlaceVo"/><!-- 01:支持送车上门 02：不支持送车上门-->
						
						</form>
    				</div>
    				<!--/自驾-->
					<!--固定线路-->
    				<div class="clist_ct">
						<form id="form7" method="post" action="$appRoot/$cpyno/car.html">
							<input type="hidden" value="7" name="searchType" />
        					<div class="clist_ct_selfdriving">
        						<div class="clstctlsd_top">
        							<div class="clistctsd_topf">
    									<label class="search-lab" style="margin-left:37px">
                                            <span class="search-span"><strong>出发地点:</strong></span>
                                            <input type="text" class="search-input" name="gdlStartcity" value="$!text.gdlStartcity">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>送达地点:</strong></span>
                                            <input type="text" class="search-input" name="gdlEndcity" value="$!text.gdlEndcity">
                                        </label>
        								<label class="search-lab">
                                            <span class="search-span"><strong>用车日期:</strong></span>
                                            <input type="text" class="search-input laydate-icon" onclick="laydate();" name="tspDate" value="$!text.tspDate1">
                                        </label>
        								<button class="search-btn" value="" type="submit">搜索</button>
        							</div>
        							<ul class="csdselect">
										<li class="csdselect-list">
        									<dl>
        										<dt><strong>车型:
                                                </strong></dt>
        										<dd class="cmaselect-all #if("" == $!text.tdlType || ! $text.tdlType) csdselected #end" onclick="$('#tdlType7').attr('value',''); $('#form7').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
												<div class="cmaselectdiv" style="width:1000px;">
        											#foreach($item in $tdltype.keySet())
                										<dd class="#if($!text.tdlType == $item) csdselected #end" id="a_level_$item.id" onclick="$('#tdlType7').attr('value','$item'); $('#form7').submit();"><a href="javascript:void(0)">$tdltype.get($item)</a></dd>
													#end
												</div>
											</dl>
        								</li>
        								<li class="csdselect-list">
        									<dl id="cmsselect1">
        										<dl id="csaselect1">
        										<dt><strong>车辆档次:</strong></dt>
        										<dd  class="#if('' == $!text.tdlTexttype || ! $text.tdlTexttype) csdselect-all csdselected #end"><a href="javascript:void(0)" #if("" == $!text.tdlTexttype || ! $text.tdlTexttype) #end  onclick="$('#tdlTexttype7').attr('value',''); $('#form7').submit();" style="margin-left:10px;">不限</a></dd>
        										<div class="cmsselectdiv">
    												#foreach($item in $texitype.keySet())
    													<dd  class="#if($!text.tdlTexttype == $item) csdselect-all csdselected #end"><a href="javascript:void(0)" id="a_level_$item.id" onclick="$('#tdlTexttype7').attr('value','$item'); $('#form7').submit();">$texitype.get($item)</a></dd>
        											#end
        										</div>
        									</dl>
        								</li>
        								
        								<li class="csdselect-list">
        									<dl id="csdselect3">
        										<dt><strong>可乘人数:</strong></dt>
        										<dd class="#if(!$text.tdlNum || $!text.tdlNum == '') csdselect-all csdselected #end" onclick="$('#tdlNum7').attr('value',''); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)" style="margin-left:10px;">不限</a></dd>
        										<dd class="#if($!text.tdlNum == '4' && $!text.tdlNumCompare == 0 ) csdselect-all csdselected #end" onclick="$('#tdlNum7').attr('value','4'); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)">4人</a></dd>
        										<dd class="#if($!text.tdlNum == '6' && $!text.tdlNumCompare == 0)  csdselect-all csdselected #end" onclick="$('#tdlNum7').attr('value','6'); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)">6人</a></dd>
        										<dd class="#if($!text.tdlNum == '8'  && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum7').attr('value','8'); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)">8人</a></dd>
        										<dd class="#if($!text.tdlNum == '10' && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum7').attr('value','10'); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)">10人</a></dd>
        										<dd class="#if($!text.tdlNum == '13' && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum7').attr('value','13'); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)">13人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 0) csdselect-all csdselected #end"  onclick="$('#tdlNum7').attr('value','21'); $('#tdlNumCompare7').attr('value',0); $('#form7').submit();"><a href="javascript:void(0)">21人</a></dd>
        										<dd class="#if($!text.tdlNum == '21' && $!text.tdlNumCompare == 1) csdselect-all csdselected #end"  onclick="$('#tdlNum7').attr('value','21'); $('#tdlNumCompare7').attr('value',1); $('#form7').submit();"><a href="javascript:void(0)">21人以上</a></dd>
        									</dl>
        								</li>
        							</ul>
        						</div>
    							<!--主体-->
            					<div class="clistctma_ct">
            						<!--左边-->
            						<div class="clistctma_ctl">
            							<!--<div class="clistctma_ctltop">
            								<div class="clistctma_ctldeft">默认</div>
            								<div class="clistctma_ctlm">
            									<input type="text" value="最低价" onfocus="if (value =='最低价'){value =''}" onblur="if (value ==''){value='最低价'}" autocomplete="off">~<input type="text" value="最高价" onfocus="if (value =='最高价'){value =''}" onblur="if (value ==''){value='最高价'}" autocomplete="off">
            								</div>
            								<span class="clistctma_ctlc">轿车</span>
            								<span class="clistctma_ctlc">越野</span>
            								<span class="clistctma_ctlc">客车</span>
            								<span class="clistctma_ctlc">其他</span>
            							</div>-->
            							#foreach($item in $texiList)
            								<div class="clistctma_ctlcbox">
            									<div class="clistctma_boxl">
            										#if($!item.tdlImgAppearance != '')
                    									<img src="$staticFileRes$item.tdlImgAppearance" title="" alt="">
                    								#else
                    									<img src="$staticRoot/images/isnull.png" title="" alt="">
                    								#end
            									</div>
            									<div class="clistctma_boxm">
            										<div class="clistctma_boxmf">
            											<span>$!item.tdlName</span>
            										</div>
            										<div class="clistctma_boxmi">
                                                        <span><strong>车型：</strong>$!item.tdlType</span>
            											<span><strong>乘坐人数：</strong>$!item.tdlNum</span>
            											<span><strong>车辆档次：</strong>$!item.tdlTexttype</span>
            											<span><strong>汽车排量：</strong>$!item.tdlTextpail</span>
            											<span><strong>手自档：</strong>$!item.tdlTextgear</span>
            											<span><strong>购买日期：</strong>$!item.tdlCreatecardate</span>
            										</div>
            									</div>
            									<div class="clistctma_boxr">
            										<label><span>￥$!item.tspRetailPrice</span></label>
            										<a class="chakan_a" href="javascript:void(0);">预订</a>
            										<!--包车<a class="chakan_a" href="$appRoot/$cpyno/texi/carxiang/$item.id">查看</a>-->
            									</div>
            								</div>
											<div class="chakan_block chakan_block_zc">
    										<div class="chakan_cont chakan_cont_zc clearfix">
                                            	<div class="b_div_h35">
                                                    <ul>
                                            			<li><span>产品编码：</span>$!item.tdlCode</li>
                                                        <li><span>出发车站：</span>浦东国际机场T2</li>
                                                        <li><span>送达地点：</span>浦东国际机场T2</li>
                                                        <li><span>用车日期：</span>2015-8-24</li>				
                                                    </ul>
                                                    <a class="close_chakan_a" href="javascript:void()"></a>
                                                </div>
                                                <div class="b_div_h270">
                                                    <div class="b_div_w480">
                                                        <span style="margin-top:3px;">费用说明：</span>
                                                        <pre style="float:none">$!item.gdlCitymoney </pre>
                                                        <span style="margin-top:3px;">服务说明：</span>
                                                        <pre style="float:none">$!item.gdlCityshow</pre>
                                                    </div>
                                                    <div class="b_div_w445">
                                                        <p><span>联系人姓名：</span><input type="text"/></p>
                                                        <p><span>手机号码：</span><input type="text"/></p>
                                                        <p><span>用车时间：</span><input type="text" class="b_input_w100 laydate-icon" onclick="laydate();" /></p>
                                            			<!--onFocus="if(value==defaultValue){value='';this.style.color='#000'}" onBlur="if(!value){value=defaultValue;this.style.color='#999'}"-->
                                                        <p><span>备注：</span><textarea></textarea></p>
                                                        <a href="#">支付</a>
                                                    </div>
                                                </div>
                                            </div>
    										</div>
            							#end
            						</div>
    								#parse("common/hot.vm")
    								<span class="car_list_page"><div class="g_xpage"> #parse("common/page.vm")</div></span>
            						<!--/左边-->
            						<!--/右边-->
            					</div>
            					
        					</div>
							<input type="hidden" name="tdlType" id="tdlType7" value="$!text.tdlType"/>
                			<input type="hidden" name="tdlTexttype" id="tdlTexttype7" />
							<input type="hidden" name="tdlNum" id="tdlNum7" value="$!text.tdlNum"/>
							<input type="hidden" name="tdlNumCompare" id="tdlNumCompare7" value="$!text.tdlNumCompare"/><!-- 0:相等 1：大于-->
						</form>
    				</div>
    				<!--/固定线路-->
    			</div>
    		</div>
			
	</div>
	#parse("common/footer.vm")
<input type="hidden" value="$!searchType" id="searchType" />	

</body>
</html>

<script type="text/javascript" src="$staticRoot/js/car_list.js"></script>
