<!DOCTYPE HTML>
<html>
#set($title='租车订单')
#parse("common/orderhead.vm")
<head>
	<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
</head>
<body>
	
	#parse("common/orderheader.vm")
	
	<div class="g_cont">
		<img class="mb10" src="$staticRoot/images/step_05.jpg" title="进度：填写信息" alt="进度：填写信息">
		<div class="g_lt_l">
			<div class="g_block_2 mb10">
				<h3 class="g_tit_1 mb30">联系人信息<span class="sec_inf">登录一键设置联系人信息，<a href="#">立即注册</a>，已是佳佳会员，<a href="#">立即登录</a></span></h3>
				<div class="form_block pl90"><label>姓名：</label>
					<input type="text" placeholder="联系人姓名">
					<span class="error">*</span>
				</div>
				<div class="form_block pl90"><label>手机号码：</label>
					<input type="text" placeholder="接受验证信息和订单号码">
					<span class="error">*</span>
				</div>
			</div>
			<div class="g_block_2 mb30">
				<h3 class="g_tit_1 mb20">订单信息</h3>
					<div class="form_block pl90"><label style="float:left;padding-bottom:15px;">用车时间：</label>
						<p style="float:left; width:505px;padding-bottom:15px;">同意佳佳旅行网
							服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款
							同意佳佳旅行网服务条款 
							同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 
							同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 
							同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 
							同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 同意佳佳旅行网服务条款 
                    </p></div>
					<div class="form_block pl90 mb30"><label style="vertical-align:top;">备注：</label><textarea></textarea></div>
				</div>
			
			<div class="form_block2 pl120 mb50">
				<p class="g_txt_1"><label><input name="Fruit" type="checkbox" />&nbsp;&nbsp;&nbsp;同意佳佳旅行网服务条款 <a href="#">查看条款</a> 并核实你所填写信息无误 </label></p><br>
				<input type="submit" class="ml130" value="提交信息">
			</div>
		</div>

		<div class="g_lt_r">
			<div class="g_block_2" style="border-bottom:none;">
				<h3 class="g_tit_1 mb20">订单信息</h3>

				<div class="dc_mess_box pb10">
					<img src="$staticRoot/images/sdf_03.png">
					<p class="tit_p"><a href="#" target="_blank">奔驰sls amg【特惠】</a>
						<a class="edit_a" href="#">修改&gt;</a></p>
					<!-- <p class="mess_p"><span>乘客人数：</span><span class="cont">1980元/天</span></p>
					<p class="mess_p"><span>费用包含：</span><span class="cont">油费、保险、司机、停车费、路桥费8小时100公里</span></p>
					<p class="mess_p"><span>额外费用：</span><span class="cont">超时每小时50元，超出公里每公里10元</span></p>-->
				</div>
			</div>
			<div class="g_block_4 g_block_4_4 pl18 pr18 pt5" style="min-height:10px;">
			<!--<h3 class="g_tit_2 mb10">结算信息</h3>
				<ul class="g_list_1">
					<li>成人票<span>￥29.9×2</span>
				</ul>-->
				<p class="add_mon">支付总额<span><em>￥</em>29.9</span></p>
			</div>
		</div>
		<div class="cb"></div>
	</div>
	
</body>
</html>
 