    <!--注册页 start-->
    <link rel="stylesheet" type="text/css" href="$staticRoot/css/regedit.css">
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/register.css">
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/houtai.css">
	<link rel="stylesheet" type="text/css" href="$staticRoot/js/confirm/css/xcConfirm.css"/>
			
	<script type="text/javascript" src="$staticFilePlug/jquery/jquery-1.11.3.min.js"></script>
	<script src="$staticRoot/js/confirm/js/xcConfirm.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="$staticRoot/js/regedit.js"></script>
	<script type="text/javascript" src="$staticRoot/js/register.js"></script>
    <!--注册页 end-->
	
	<!-- 上传图片 -->
	<link rel="stylesheet" type="text/css" href="$staticFilePlug/uploadify/uploadify.css"/>
	<script type="text/javascript" src="$staticFilePlug/uploadify/jquery.uploadify.js"></script>
	
	<!--验证框架js-->
    <link rel="stylesheet" type="text/css" href="$staticFilePlug/jqueryValidationEngine/2.6.2/css/validationEngine.jquery.css"/>
    <script type="text/javascript" src="$staticFilePlug/jqueryValidationEngine/2.6.2/js/jquery.validationEngine.js"></script>
    <script type="text/javascript" src="$staticFilePlug/jqueryValidationEngine/2.6.2/js/jquery.validationEngine.min.js"></script>
    <script type="text/javascript" src="$staticFilePlug/jqueryValidationEngine/2.6.2/js/jquery.validationEngine-zh_CN.js"></script>
	
	<script type="text/javascript">
		var uploadify = function(id,inputid,spanid,fileid) {
			// 隐藏该标签
			$("#"+spanid).hide();
			
			$("#"+id).uploadify({
                auto            : true,
                'swf'		    : '$staticRoot/js/uploadify/uploadify.swf',
                //后台处理的页面
                'uploader'      : '$staticFileUpload',
                queueID         : fileid,//与下面的id对应
                buttonClass	    :'btn',
                buttonImage     : null,
                formData        : {cpyid:"$userCpyId"},
                buttonText	    :'点击浏览图片',
                multi           :  false, //多文件上传
                fileTypeDesc    : '请选择图片，仅支持格式JPG,BMP,PNG,GIF，最大4M',
                fileTypeExts    : '*.JPG;*.GIF;*.PNG;*.BMP;', //控制可上传文件的扩展名，启用本项时需同时声明fileDesc
                buttonText      : '点击上传',
                fileObjName     : 'file',//服务端File对应的名称。
            	fileSizeLimit   : '2MB',//文件上传的大小限制，如果是字符串单位可以是B KB MB GB，默认是0，表示无限制
            	width		    : 65,
            	height		    : 20,
            	onUploadSuccess : function(file,data,response) {//上传完成时触发（每个文件触发一次
            		if(response==true) { // 如果服务器返回200表示成功
        				data=eval("("+data+")");
        				var filename = data.filename;
        				var url   	 = data.url;
						//全部替换
					    var html     = "<a href='$staticFileRes"+url+"' target='_blank'>"+filename+"</a> <a href='javascript:;' onclick='uploadDelete(\""+id+"\",\""+spanid+"\",\""+url.replace(new RegExp("/", "g"),"___")+"\",\""+inputid+"\",\"1\");'>删除图片</a>";
						//上传文件
						url = url.replace(new RegExp("___", "g"),"/");
        				$("#"+spanid).html(html);
						$("#"+spanid).show();
        				$("#"+inputid).attr("value",url);	
						$("#"+id).hide();
            		} else {
            			wxcwxcalert('上传失败','e');
            		}
        		},
        		onUploadError : function(file,data,response) {
            		wxcwxcalert('上传失败','e');
        		}
         	});
		};
		
		var uploadifydoc = function(id,inputid,spanid,fileid){
        	 $("#"+id).uploadify({
                auto            : true,
                'swf'		    : '$staticRoot/js/uploadify/uploadify.swf',
                //后台处理的页面
                'uploader'      : '$staticFileUpload',
                queueID         : fileid,//与下面的id对应
                buttonClass	    :'btn',
                buttonImage     : null,
                formData        : {cpyid:"$userCpyId"},
                buttonText	    :'点击浏览图片',
                multi           :  false, //多文件上传
                fileTypeDesc    : '请选择图片，仅支持格式doc,xls,xlsx,ppt,txt，最大4M',
                fileTypeExts    : '*.doc;*.xls;*.xlsx;*.ppt;*.txt;*.zip;*.pdf', //控制可上传文件的扩展名，启用本项时需同时声明fileDesc
                buttonText      : '点击上传',
                fileObjName     : 'file',//服务端File对应的名称。
            	fileSizeLimit   : '2MB',//文件上传的大小限制，如果是字符串单位可以是B KB MB GB，默认是0，表示无限制
            	width		    : 65,
            	height		    : 20,
            	onUploadSuccess : function(file,data,response) {//上传完成时触发（每个文件触发一次
            		if(response==true){//如果服务器返回200表示成功
        				data=eval("("+data+")");
        				var filename = data.filename;
        				var url   	 = data.url;
						//全部替换
					    var html     = "<a href='$staticFileRes"+url+"' target='_blank'>"+filename+"</a> <a href='javascript:;' onclick='uploadDelete(\""+id+"\",\""+spanid+"\",\""+url.replace(new RegExp("/", "g"),"___")+"\",\""+inputid+"\",\"1\");'>删除文件</a>";
						//上传文件
						url = url.replace(new RegExp("___", "g"),"/");
        				$("#"+spanid).html(html);
        				$("#"+inputid).attr("value",url);	
						$("#"+id).hide();
            		} else {
            			wxcwxcalert('上传失败','e');
            		}
        		},
        		onUploadError : function(file,data,response) {
            		wxcwxcalert('上传失败','e');
        		}
         	});
		};
		
		//图片删除
		function uploadDelete(id,spanid,url,inputid,ntype){
			url = url.replace(new RegExp("___", "g"),"/");
			
			url = "$staticFileDelete?imgUrl=" + url;
			$.ajax({
            	url: url,
            	success: function(data){},
            	dataType: 'json'
			});
				
			$("#"+id).show();	
			$("#"+spanid).html("");
			if(inputid != undefined && inputid != '') {
			 	$("#"+inputid).attr("value", "");
			}
			
			if("1" != ntype) {
				$("#"+spanid).prev().hide();
				$("#"+spanid).prev().prev().hide();
			}
			
			$("#"+spanid).hide();
		};
		
		//弹出内容封装
    	function wxcwxcalert(txt){
    		window.wxc.xcConfirm(txt, window.wxc.xcConfirm.typeEnum.info);
    	}
		
    </script>
	