<!DOCTYPE HTML>
<html>
<head>
	<title>旅游咨询_北京佳旅联合国际旅行社有限公司_www.jialvlianhe.com</title>
	<meta charset="utf-8">
	<meta content="$!mallWeb.webTitle服务平台" name="keywords"><!--关键词-->
	<meta content="$!mallWeb.webCpyname网站" name="description"><!--描述-->
	<script type="text/javascript" src="$staticRoot/js/jquery.js"></script>
	<script type="text/javascript" src="$staticRoot/js/aboutcontent.js"></script>
	<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/headerfooter.css">
    <link href="$staticRoot/css/aboutcontent.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="indexwrap">
		<!--头部-->
		#parse("common/head.vm")
		
		<!--中间内容区域-->
		<!--banner-->
		<div class="banner">
			<img src="$staticRoot/images/banner.jpg"height="120" width="100%"/>
		</div>
		<!--/banner-->
	<!--content-->
	<center>
		<div class="about_contnet W">
			<!--left-->
			#parse("help/leftOfHelpCenter.vm")
			<!--/left-->
			<!--right-->
			
			<!-- 旅游资讯 -->
			<div id="rigrht1">
				<div class="gbodyer_rgt tab-con1 gbodyer_yc">
					<div class="gbodyer_rgt_top">
						<span class="gbodyer_news">帮助中心</span>
						<ul class="gbodyer_ul">
							<li><a href="#">帮助中心</a></li>
							<li><img src="$staticRoot/images/gbg.jpg"/></li>
							<li><a href="#">资讯</a></li>
							<li><img src="$staticRoot/images/gbg.jpg"/></li>
							<li>您当前的位置：<a href="#">首页</a></li>
						</ul>
					</div>
					<div class="about_inner">
					   <div class="about_gui">
							<div class="about_guia">
								<p>出行安全常识</p>
								<div class="about_guib" style="display:none">
									<ul>
										<li>来源：佳旅联合旅行社&nbsp;&nbsp;&nbsp;&nbsp;时间：2015-12-14&nbsp;&nbsp;&nbsp;&nbsp;点击：120</li>
									</ul>
								</div>
								<div class="about_guic">
									<p><span>摘要: </span>出行安全常识
									</p>
								</div>
									<div class="b_mian">
		<div class="b_center">
    	<h2 class="b_title_h2">1、检查鞋子类型，鞋底是否太松或受到磨损。遵守警告标识，如“小心：地湿易滑”。如果摔倒了:</h2>
    		<ul>
    			<li>保持四肢与地面平行。 </li>
    			<li>张开手指，用手掌撑地，缓解地面对身体的冲击力。</li>
    			<li>手臂弯向身体。</li>
    			<li>尽量使大腿或臀部着地以免骨折。</li>
    			<li>如果您觉得自己受伤了，切勿移动，等待他人帮助。</li>
    			
    		</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">2、选择宾馆时，请考虑如下方面：</h2>
    		<ul>
    			<li>宾馆房间及公共区域配备消防设施如喷淋系统。 </li>
    			<li>宾馆房间及公共区域配备火灾探测系统。</li>
    			<li>宾馆房间有基本防盗系统。</li>
    			<li>具有应急指示灯和应急逃生通道。</li>
    			<li>旅店应有安全撤退计划，并在门上用图表标示。</li>
    			<li>宾馆配备24小时保安人员。</li>
				<li>宾馆与周围环境相对隔离。</li>
				<li>最好选择有特定时间门禁，可以安全锁房门的旅馆。</li>
				<li>不要同陌生人住双人房间，并尽量选低一些的楼层。</li>
				<li>进入房间，首先要查看门窗是否完好，电话和电灯位置，了解总服务台，楼层服务台及保安部电话，熟悉自己所处位置，如何逃生等。</li>
    		</ul>
		</div>	
		<div class="b_center">
    		<h2 class="b_title_h2">3、飞机。有他们自已的安全人员帮助您。</h2>
    		<ul>
    			<li>如果您是长旅程，您会需要做些伸展运动以加强血液循环和减轻肌肉僵硬。 一些运动甚至可以坐着做，如动腿，耸肩和脚尖上下。 </li>
    			<li>知道紧急出口在哪里。</li>
    			<li>您要用头上的箱子吗？多考虑一下，考虑到您的高度， 您举物体的重量和您的身体状况。过肩举物应仅限轻物，考虑寻求空乘人员帮助或使用您前面座位的下方放置行李箱。</li>
    			<li>尽量使大腿或臀部着地以免骨折。</li>    			
    		</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">4、行李应易运送。搬运大行李可致肌肉疲劳甚至扭伤。</h2>
    		<ul>
    			<li>尽量少装东西。 </li>
    			<li>选有轮的行李包。</li>
    			<li>避免过肩提包或笔记本电脑. 这对那些背部本就不很好的人尤为重要，用肩膀扛有一定份量的物体会使您另一肩升高并使身体倾斜。</li>
    			<li>如需要就找人帮忙，您可能需要服务生帮您把行李放入或拿出汽车。</li>    			
    		</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">5、报警时可通过报警按钮报警以及电话报警，讲清5W: WHO（人员）， WHICH（性质），WHERE（地点），WHAT（事件）， WHEN（时间）。</h2>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">6、个人健康安全</h2>
			<p>医生认定不能参加旅游者，例如患有一定程度心、肺、肝、肾等脏器功能损害备不适宜长途旅行。高血压等患者外出旅游时应该做体格检查，选择安全平稳的交通工具乘座，一般以火车、飞机为宜，并最好有家人陪同，同时带上常用的必备药品，预防疾病加重，提高旅游安全性。有病必须及时就医。</p>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">7、食物中毒</h2>
    		<ul>
    			<li>许多所谓的食物中毒，实质上就是旅游者在就餐中，食用了有毒、变质、不干净的食品，导致旅游者出现肠胃不适症状、甚至死亡的旅游安全事故，在夏季或者在沿海地区旅游，更要引起注意。 </li>
    			<li>选择合法正规、卫生环境较好的餐馆。</li>
    			<li>为了减少吃海鲜引发的食物中毒，应在可靠的店铺购买海鲜。尽量选购活的，尤其是死蟹最好不要买来吃。买新鲜鲍鱼、蛏子或象拔蚌等，可用手碰一碰，选取活的、会动的。有甲壳的海鲜，在烹调之前要用清水将其外壳刷洗干净。贝壳类海鲜烹煮前，在淡盐水中浸约一小时，让它自动吐出泥沙。浸泡时间不宜过长，否则原来新鲜的海鲜反会被其中部分腐烂了的所污染。</li>
    			<li>海鲜生吃，先冷冻再浇点儿淡盐水。对肠道免疫功能差的人来说，生吃海鲜具有潜在的致命危害。您可以将牡蛎等先放在冰上，在浇上一些淡盐水，能有效杀死这种细菌，这样生吃起来就更安全。</li>    			
				<li>海鲜不宜下啤酒。食用海鲜时最好不要饮用大量啤酒，否则会产生过多的尿酸，从而引发痛风。吃海鲜应配以干白葡萄酒，因为其中的果酸具有杀菌和去腥的作用。这一点，各位自游人可要好好注意。</li>
				<li>关节炎患者少吃海鲜。因海参、海龟、海带、海菜等含有教多的尿酸，被人体吸收后可在关节中形成尿酸结晶，使关节炎症状加重。</li>
				<li>海鲜忌与某些水果同吃。生活中，许多人吃了鱼、虾等海鲜后，都有继续吃水果的习惯。海鲜中的鱼、虾、藻类等都含有比较丰富的蛋白质和钙等营养物质。如果把它们与含有糅酸的水果，如葡萄、石榴、山楂、柿子等同食，不仅会降低蛋白质的营养价值，而且容易使海味中的钙质与鞣酸结合成一种新的不宜消化的物质。这种物质刺激肠胃，会引起人体不适，出现呕吐、头晕、恶心和腹痛腹泻等症状。所以，海鲜大餐之后最好不要马上吃水果。海鲜与这些水果同吃，至少应间隔2小时。</li>
				<li>吃海鲜后，一小时内不要食用冷饮、西瓜等食品。许多自游人吃完海鲜后，往往喜欢顺便去游泳，这可是非常不利于身体健康的！因为海鲜是比较不容易消化的，像游泳这样的剧烈运动，很容易导致消化不良。</li>				
			</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">8、治安事故</h2>
			<ul>
				<li>在旅游活动过程中，遇到坏人行凶、诈骗、偷窃、抢劫，导致旅游者身心及财物受到不同程度的损害，统称治安事故。</li>
				<li>旅游者不要将大量的现金放在手提包里，装有现金的钱夹应放在上衣里面贴胸的口袋里，并最好扣上纽扣，以防被窃。</li>
				<li>旅游者不要将贵重物品放在饭店的客房里，而把它们存放在饭店为住店客人专门设立的保险柜里。</li>
				<li>旅游者对身边的可疑人提高警惕，在繁华的街道上行走时，应特别留心那些似乎无意撞到旅游者身上或总是在旅游者身边挤来挤去的人。因为在他们中间很可能藏着伺机行窃的小偷。</li>
				<li>离开游览车时，旅游者不要将证件或贵重物品遗留在车内。</li>
				<li>旅游者住进饭店或旅馆后，不要将房号告诉陌生人，也不要让陌生人或自称饭店维修人员随便进人房间。</li>
				<li>旅游者不要在房间内与陌生人兑换外币。</li>
				<li>旅游者在自由活动时间单独外出时，应注意安全，不要到偏僻的地方，要遵守交通规则，注意路上的过往车辆。</li>
				<li>旅游者晚间在房间休息时，如有人敲门，不要贸然开门。离开房间或睡觉时要将房门锁好。如遇紧急情况可用房间里的电话拨打饭店总机或110报警服务电话报警。</li>
			</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">9、灾害性天气</h2>
			<ul>
				<li>台风来临前，应准备好手电筒、收音机、食物、饮用水及常用药品等，以备急需。台风来临时，请呆在安全的室内。如果是在室外，请尽快回到安全牢靠的房子里，并在路上注意高空坠落的物体，如倒树、花盆、广告招牌等，远离有幕墙的高楼。关好门窗，检查门窗是否坚固;取下悬挂的东西;检查电路、炉火、煤气等设施是否安全。将养在室外的动植物及其他物品移至室内，特别是要将楼顶的杂物搬进来;室外易被吹动的东西要加固。</li>
				<li>暴风雨到来时，要尽可能呆在室内，减少外出。遇有大风雷电时，要谨慎使用电器，严防触电。风暴过后，要注意卫生防疫，减少疾病传播。受到洪水威胁，如果时间充裕，应按照预定路线，有组织地向山坡、高地等处转移;在措手不及，已经受到洪水包围的情况下，要尽可能利用船只、木排、门板、木床等，做水上转移。洪水来得太快，已经来不及转移时，要立即爬上屋顶、楼房高屋、大树、高墙，做暂时避险，等待援救。不要单身游水转移。</li>
				<li>洪水到来时，来不及转移的人员，要就近迅速向山坡、高地、楼房、避洪台等地转移，或者立即爬上屋顶、楼房高层、大树、高墙等高的地方暂避。如洪水继续上涨，暂避的地方已难自保，则要充分利用准备好的救生器材逃生，或者迅速找一些门板、桌椅、木床、大块的泡沫塑料等能漂浮的材料扎成筏逃生。如果已被洪水包围，要设法尽快与当地政府防汛部门取得联系，报告自己的方位和险情，积极寻求救援。</li>
				<li>暴雪来临前要减少外出活动，特别是尽可能减少车辆外出，并躲避到安全地方。机场、高速公路、轮渡码头可能会停航或封闭，要及时取消或调整出行计划。做好防寒保暖准备，储备足够的食物和水。要待在不结实不安全的建筑物内。步行时尽量不要穿硬底或光滑底的鞋。老少体弱人员尽量减少外出，以免摔伤。</li>
				<li>地震海啸发生的最早信号是地面强烈震动，地震波与海啸的到达有一个时间差，正好有利于人们预防。如果感觉到较强的震动，就不要靠近海边、江河的入海口。如果听到有关附近地震的报告，要做好防海啸的准备，海啸有时会在地震发生几小时后到达离震源上千公里远的地方。</li>
				<li>震前可以准备食物、药品等收纳在救急袋内，准备消防设备，以面对地震后可能发生的火灾；留意灭火器的有效期限。较重物品应放置低处，并予固定，以防地震时掉落造成伤害。定期检查瓦斯、电线管路，瓦斯桶应予固定。应清楚总开关位置及关闭方法。</li>
			</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">10、传染病</h2>
			<ul>
				<li>旅游前应对传染病的流行发病区域有一定的了解，在到这些地区旅游时，首先必须注意个人卫生，有良好的卫生习惯：饭前便后一定要洗手，也不要随便在街市上吃小贩的不洁小吃，特别是防蚊叮咬而传染给人的疾病。</li>
				<li>必须注意夏季饮食饮水卫生，预防细菌性痢疾、伤寒、副伤寒、感染性腹泻等肠道传染病发生。</li>
				<li>发现传染病要及时报告卫生防疫部门。旅游者发现或怀疑自己得了传染病应及早进行检查，也应动员其他传染病患者去防治单位诊治。</li>
				<li>对传染病患者要进行隔离。不同的传染病有不同的隔离方法。肠道传染病主要是避免与病人直接或间接接触。呼吸道传染病人要保持室内空气流通，其生活用品也应与健康人分开。通过昆虫、动物传播的疾病应设置防护用品。</li>
				<li>预防动物源性传染病。有些传染病的传染源是家养动物，它们可通过接触、饮食用具、空气以及饮水等途径将病源体传播给人类，在旅游中应特别注意预防。</li>
				<li>对传播疾病的媒介物进行消毒，直接或间接接触传染病人的健康人员手也应消毒。</li>
			</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">11、政治暴力事件</h2>
			<ul>
				<li>复印护照：留一份护照的复印件给家人，遇到紧急情况的时候就可以尽快得到援手。</li>
				<li>勉强勿行：想去当地偏远的地方或景点，如果连当地包车或的士司机都不肯去，这个地方一定存在危险性，千万别勉强去。</li>
				<li>警局报到：如果要去一些政治或治安不稳定的地区，除了要多预备几份护照副本以外，可以先到当地警局报到，讲清楚人数、计划回程日期、下榻旅馆及个人联络方法，如果到期游客没有到警局报到，就可以引起警方的注意，寻找旅客的下落。</li>
				<li>联络大使：遇到任何紧急事故，都宜先联络当地中国领事馆，拨打当地急救电话，出门之前要查清楚当地使馆人员的地址、电话，便于求助。</li>
				<li>扮晕伏低：旅途中如果遇到类似的持械劫机或劫车事件，建议游客可扮晕或癫痫症发作之类，跌在地下或伏低，可减低受袭击机会。同时，千万别企图反抗，要尽量顺从匪徒的要求。</li>
				<li>短信求援：用手机发短信求救比打电话要好，因为打电话会分心，降低对现场环境突变的应变力，而且可能被匪徒听到声音而刺激起反应。当然也可以先在手机上输入当地求救热线电话号码。手机最好放在衣服或裤子口袋里，方便求援。</li>
				<li>缓和气氛：如果在语言上可以跟匪徒沟通得来，可以尝试寻找共同话题，缓和气氛，说不定甚至可以充当谈判专家。</li>
			</ul>
		</div>
	</div>
    <div class="clear"></div>
							</div>
					   </div>
					</div>
				</div>
			</div>
			<!-- /旅游资讯 -->
		<!--/right-->
		</div>
		<!--/content-->
	</center>
<!--中间内容区域 结束-->
		#parse("common/footer.vm")
</body>
</html>