<!DOCTYPE HTML>
<html>
<head>
	<title>旅游咨询_北京佳旅联合国际旅行社有限公司_www.jialvlianhe.com</title>
	<meta charset="utf-8">
	<meta content="$!mallWeb.webTitle服务平台" name="keywords"><!--关键词-->
	<meta content="$!mallWeb.webCpyname网站" name="description"><!--描述-->
	<script type="text/javascript" src="$staticRoot/js/jquery.js"></script>
	<script type="text/javascript" src="$staticRoot/js/aboutcontent.js"></script>
	<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/headerfooter.css">
    <link href="$staticRoot/css/aboutcontent.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="indexwrap">
		<!--头部-->
		#parse("common/head.vm")
		
		<!--中间内容区域-->
		<!--banner-->
		<div class="banner">
			<img src="$staticRoot/images/banner.jpg"height="120" width="100%"/>
		</div>
		<!--/banner-->
	<!--content-->
	<center>
		<div class="about_contnet W">
			<!--left-->
			#parse("help/leftOfHelpCenter.vm")
			<!--/left-->
			<!--right-->
			
			<!-- 旅游资讯 -->
			<div id="rigrht1">
				<div class="gbodyer_rgt tab-con1 gbodyer_yc">
					<div class="gbodyer_rgt_top">
						<span class="gbodyer_news">帮助中心</span>
						<ul class="gbodyer_ul">
							<li><a href="#">帮助中心</a></li>
							<li><img src="$staticRoot/images/gbg.jpg"/></li>
							<li><a href="#">资讯</a></li>
							<li><img src="$staticRoot/images/gbg.jpg"/></li>
							<li>您当前的位置：<a href="#">首页</a></li>
						</ul>
					</div>
					<div class="about_inner">
					   <div class="about_gui">
							<div class="about_guia">
								<p>特殊人群安全防范</p>
								<div class="about_guib" style="display:none">
									<ul>
										<li>来源：佳旅联合旅行社&nbsp;&nbsp;&nbsp;&nbsp;时间：2015-12-14&nbsp;&nbsp;&nbsp;&nbsp;点击：120</li>
									</ul>
								</div>
								<div class="about_guic">
									<p><span>摘要: </span>特殊人群安全防范
									</p>
								</div>
									<div class="b_mian">
		<div class="b_center">
    		<h2 class="b_title_h2">1.儿童出行安全防范</h2>
			<h2 class="b_title_h2">儿童在旅游当中，由于抵抗力与适应新环境能力较差，因此身体出状况的机会也比大人来的多。再加上儿童身心发展尚未成熟，缺乏自我控制和自我照顾能力，且好奇心强、喜于冒险探索，所以亲子同游特别应该注意旅游保健措施，若没有事先准备或携带足够的常备药物，常会令家长十分焦虑。下面罗列出几个儿童旅游常见的问题与注意事项： </h2>
    		<ul>
    			<li>首先、地点的选择方面，避免前往公共卫生条件不佳的国家或地区旅游。即使是前往发达国家，也要事先调查当地正在流行的传染病，检视自己与儿童是否已经接种疫苗，经过仔细评估之后若仍有风险，请在出发前，根据目的国家、旅游方式，接受不同的预防接种。其次、旅游期间所使用的交通工具、居住设备、预计停留时间等都必须事先妥善规划。 </li>
    			<li>出发前请先与您的小儿科医师讨论，包括儿童的年龄、健康状况、与特殊体质，由医师来作综合性研判，再判断是否适合出国旅游。一般来说，一岁以下的婴儿包括一个月以下的新生儿，免疫力最差，需要在稳定的环境下成长因此并不建议带出国旅游。正在生病中的儿童也不适合出游，最好等到病情稳定之后再做打算。</li>
    			<li>儿童在旅游途中，特别容易出现的是上呼吸道感染，症状是发烧、喉咙痛、咳嗽及鼻塞等，多半是在旅游途中经飞沫接触传染引起。一起出游的团员当中若被感染，常常引起集体流行，或在家族成员中彼此亲密接处之下而相互传染，防不胜防。假如不幸于旅游期间，儿童发烧但是并无明显上呼吸道感染症状，家长们也无须惊慌，首先给予充足的睡眠、多休息、多喝温开水，并于发烧38.5度以上才服用退烧药，若发烧时间持续超过二十四小时、全身痉挛、活力明显变差、呕吐、腹泻、或皮肤出现异常红疹等征兆，就必须送医治疗；一旦发现旅游地区有传染病如痲疹、水痘等，要立刻转移或终止旅游。</li>
    			<li>腹泻也是令家长感到最麻烦的问题，有些儿童对新环境会有水质、饮食等不适应的问题。旅游途中食物和饮水是最需要慎选的，若旅途中还是不小心发生急性肠胃炎，由于严重而持续的呕吐与腹泻会导致脱水，所以要立即为孩子施予口服电解液补充，儿童的肠壁细胞尚未健全，因此一般成人的运动饮料并不适合儿童服用。降低胃肠道蠕动的药物切莫在没有医师的指示下服用，以免将肠道内有害细菌留置儿童体内的时间拉长，曾有因此而肠子穿孔的个案报告。家长无法处理的腹泻，仍然应该送医急救，找出病因，同时给予静脉电解质液的补充。</li>
    			<li>时差对于儿童通常并不构成问题，尤其是五岁之前的儿童，他们的生理周期并不稳定，更没有时差适应的障碍。倒是五岁以上的儿童，因为生理周期已经较为规律，所以跨洲长途旅行会产生时差效应。建议于出发前三天父母和孩子们和一起调整生活步调，提早适应时差，飞机上一整天的时间也是调整时差的好机会。失眠的时候，必要时可按照行前医师指示给予镇静安眠药服用。</li>
    			<li>活泼好动是儿童的特征，在途中也经常发生跌倒、骨折、扭伤等运动伤害的情况，运动伤害发生四十八小时内，应给予适当的休息、冰敷、抬高并固定受伤部位，虽然没有致命的危险，但是如果处理不当，会延长复原的时间，如果症状严重，最好回国后前往儿童骨科与复健科处理较为妥当。
                </li>
				<li >前往热带国家，必须提防热伤害。儿童排汗散热机能不如成年人，对热或高温耐力差，易生热性疾病如热痉挛、热衰竭及中暑。长期暴露在强烈的日光下可能出现头痛、耳鸣、烦躁不安，流失水分和盐分过多会产生昏厥的症状。为了预防热伤害，尽量避免正午外出；为儿童备妥宽松之棉麻夏衣、防护帽、太阳眼镜或保温之羊毛织品冬衣、颈套、手套及毛巾等；烈日下应该戴帽；适当的补充水份与电解质。另外，儿童处于低温的环境下又容易失温。
                </li>
				<li>皮肤症状在旅游途中也相当常见，包括尿布疹、昆虫叮咬、脓痂疹、疥疮、念珠菌感染等。应注意环境卫生，避免蚊虫叮咬，做好安全防护并随身携带外用药膏备用。</li>
    		</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">2.儿童意外事故急救措施：</h2>
			<h2 class="b_title_h2">儿童意外伤害按其轻重可分为以下三类：</h2>
    		<ul>
    			<li>迅速危及生命的如淹溺、触电、雷击、外伤大出血、气管异物、车祸和中毒等。这一类事故必须在现场争分夺秒进行抢救，防止可以避免的死亡。 </li>
    			<li>另一类意外伤害虽不会顷刻致命，但也十分严重。如各种烧烫伤、骨折、毒蛇咬伤、狗咬伤等，如迟迟不作处理或处理不当，也可造成死亡或终生残疾。</li>
    			<li>还有一类是轻微的意外伤害如小刀划破了一个小口，摔破了一点皮，烫起了一个小水泡等，这些可进行简单处理，必要时到医院进行治疗。</li>
				
    		</ul>
			<h2 class="b_title_h2">儿童意外伤害需要急救处理的是前两类。主要分为下述几种情况：</h2>
			<ul><li>抢救生命:首先要注意的是受伤儿童的呼吸、心跳是否正常。如果受伤儿童心跳、呼吸不规律，快要停止或刚刚停止，当务之急就是设法暂时用人为的力量来帮助病儿呼吸，使其恢复自主呼吸，支持病儿心脏正常功能。在常温下，呼吸、心跳完全停止4分钟以上，生命就会岌岌可危;超过10分钟，病儿很难复苏。因此，当病人的呼吸、心跳发生严重障碍时，如果不立即进行急救，等送医院后再救，往往造成不可挽回的后果。心跳、呼吸骤停的急救，简称心肺复苏。心肺复苏通常采用人工胸外按压和口对口人工呼吸法。做人工呼吸时，用手捏住患者鼻子，口对口用力对患者吹气，同时观察患者胸部是否上升，看到患者胸部上升，停止吹气，让患者被动呼出气体，然后再给患者深吹气，成人每分钟14—16次，儿童每分钟20次。最初六七次可快些，以后转为正常速度。
</li>
<li>骨折:万一发生了骨折和关节脱位，千万不要随意地移动或搬动孩子，这可能会引起受伤处进一步的错位，以及血管因压迫而破裂出血。首先要问他受伤的部位是否能够移动，如果他说可以，只是感觉稍微有一点疼，那通常说明受伤并不严重。在这种情况下可以先让孩子选择自己舒服的姿势休息，然后在受伤处盖上一层布，受伤后的24-48个小时内每隔2-3个小时对受伤部位用冰袋进行冷敷，这样可以减轻受伤部位疼痛、出血以及肿胀。但是冷敷的时间以20-30分钟为宜，切不可长时间不间断的冷敷或者直接将冰袋放在皮肤上，那样会造成孩子皮肤的损伤。还可以用弹力绑带压住受伤部位，这可以限制血液和其他液体进一步聚集到伤口，引起更严重的肿胀。另外，还可以用几个枕头将受伤的部位抬高，最好要高于心脏位置，以减少血液聚集到伤处和肿胀程度。如果情况严重，应该马上叫急救车，在急救车到来之前，可以对受伤的部位作一些简单的包扎固定，有利于医生的进一步治疗。
</li>
<li >中毒:万一孩子发生中毒现象，应在第一时间联系急救中心。如果孩子是误食毒物中毒，应立即用软布、一次性毛巾或面巾纸包住手指，取出剩在孩子口中的毒物。同时保持孩子的左侧卧位，这样可以延缓胃内容物的排空，也可保持气道通畅，有利于呕吐物的排出。对于接触毒物中毒的孩子，要立即用肥皂及流动的水冲洗局接触部位，以清除植物的汁液。对于吸入毒物中毒的孩子来说，应立即把孩子带离中毒现场，假如孩子已经失去意识，就要立即按照意外窒息的应急措施进行抢救。
</li>
			</ul>
		</div>	
		<div class="b_title">特殊人群安全防范——孕妇</div>
		<div class="b_center">
    		<h2 class="b_title_h2">1.孕妇出行安全防范</h2>
			<h2 class="b_title_h2">孕妇由于肚子里怀有小生命，比一般人所承担的风险更高，因此孕妇旅游牵涉到许多层面的考量，比一般人多了许多限制，这是为了母亲与胎儿的生命安全。</h2>
    		<ul>
    			<li>娠周数是首要考量，旅游医学会表示，怀孕开始的前三个月与后两个月最好避免出国旅行或出远门，怀孕的第四到六个月为最佳旅游时机。怀孕的前三个月，由于胚胎发育并不完全，容易有意外流产的机会，因此也不适合旅游。特别是妊娠三十五周以上接近预产期的孕妇，妇产科医师多半不鼓励这个时期的孕妇上飞机。以往有许多的孕妇曾在飞机上早产的个案报告，因此航空公司规定不准怀孕三十五周以上的孕妇上飞机，孕妇必须缴验医师所开立的预产期证明方能过关。同样的，一些保险公司的条款把孕妇排除在外。</li>
    			<li>孕妇时常需要有人照顾，因此不宜一人单独出游，与一群陌生人出游也不恰当，若有丈夫、亲人、或好友全程陪同参与，一方面当身体不适的时候有人可以照顾，二来可以随时调整行程，不但降低旅游的风险，而且有了亲朋好友的陪伴，也可以彼此分享旅游当中的点点滴滴。</li>
    			<li>最重要的就是在行程的规划上，务必要考虑到旅游地区医疗照顾的问题，在出发之前就要先评估旅游地点是否有足够的医疗资源，尤其是能否照顾处理产科及新生儿的问题，最好请事先查明当地的紧急医疗照护电话、及最近的妇产科医院地址，避免前往荒郊野外、离岛、或交通不便的地区，这些地区通常没有普及的医疗设施，一但有需要无法立刻送医。</li>
    			<li>公共卫生条件差的地区，尤其是蚊、蝇、蟑螂、老鼠等病媒滋生的地区，若已经公告为传染病盛行的国家，千万不可贸然前往。尤其疟疾、黄热病、霍乱、伤寒、鼠疫、痢疾等传染病，对于怀孕妇女的危险性远比对一般人为高，所以避开传染病流行的地区是有必要的。</li>  
				<li >高海拔地方，氧气分压不足，一般人容易产生高山症，孕妇尤其需要氧气，因此不适合前往高山旅游。喷射客机爬升到一定高度之后，气压降低，在这气压下动脉血气浓度将下降，对于有贫血的孕妇使可能造成临床症状，尤其是鎌状细胞型贫血患者或带基因者，有特殊体质的孕妇请特别留意。同样的，海底浮潜也需要额外的氧气供应，都不适合孕妇参加。
                </li>
				<li>食的安全是相当重要的，孕妇尤其应该避免吃生冷、没有洗干净、或没有吃过的陌生食物，以免造成旅游当中腹泻不止、消化不良等问题；在挑选食物种类方面，应该避免吃生菜沙拉、来路不明的生水别喝（即使是五星级饭店的水也要问清楚是否为开水）、多吃剥皮的水果（直接连皮吃的水果容易有残留农药或霉菌）、鸡蛋要新鲜而且够熟、鲜奶要确定新鲜未过期、海鲜类食物应该慎选（避免吃生鱼片或生蚝）、每日购买罐装的水是必需的，食物若不确定是否新鲜，应以不食为宜；旅途当中宜多喝水、多吃水果，可防止脱水与便秘。此外、烟、酒、咖啡因都应该避免。
                </li>
				<li>衣着方面，请根据出发前对于当地气候的预报来挑选衣物，过冷或过热的地区对于孕妇都不合适。一般来说，以穿脱方便的保暖衣物为主，如帽子、外套、围巾等，目的是增加身体对于温度差异的抵抗力，并且预防感冒；炎热的地区，最好携带帽子、防晒油、和润肤乳液；平底鞋比较好；必要时托腹带与弹性袜可减轻腹部与下肢的不适；由于孕妇时常频尿，为了减少上厕所的频次和临时偶发状况的需要，多带一些纸内裤是有必要的。
                </li>
				<li>住的方面，尽量挑选医疗资源充足、治安良好的国家，旅馆的卫生安全格外重要，最好就在所要参观的名胜古迹、博物馆、美术馆等旅游场所的附近，可以获得充足的睡眠时间。高级饭店多半会附设运动设施、三温暖、和游泳池，请评估身体状况再做决定是否从事饭店所提供的休闲设施。
                </li>
				<li>行的安全方面，宜选择平稳交通工具，如火车、大型游轮等，容易摇晃造成头晕、呕吐的交通工具宜避免。请切记，坐车、搭飞机请务必要系好安全带，确保腹部的安全，上飞机后注意紧急逃生出口，选择宽敞、且靠近走道的座位，方便上洗手间，因为孕妇容易频尿，而且憋尿容易造成泌尿道的感染，对于孕妇与胎儿来说都没有好处，最好能每小时起身活动十分钟，减少下肢水肿与静脉血栓的机会。不要搭坐机车或快艇，登山、走路也都注意不要太费体力，一切应量力而为。
                </li>
				<li>旅游活动方面，尽量挑选参访名胜古迹、博物馆、美术馆等静态活动，心旷神怡、心情轻松的风景点有助于胎教，人多拥挤的风景容易得到伤风感冒，宜避免。绝对禁忌运动量太大或从事危险性的活动，很容易造成孕妇体力不堪负荷，导致流产、早产及早期破水。太刺激或危险性高的活动也不可参与，例如：高空弹跳、滑翔翼、云霄飞车、及自由落体等。
                </li>
				<li>虽然说孕妇尽量避免服用药物，但是许多常备的药物对于孕妇与胎儿来说，已经被证明是安全的，例如：普拿疼类的止痛退烧药、胃肠药当中的制酸剂。若不熟悉安全性，请与您的家庭医师讨论后再做决定。其他外用的药物，例如：优碘、酸痛药膏、OK绷、清凉药膏等，万一吃坏肚子、表皮损伤，或被蚊虫叮咬时都可以派上用场。
                </li>
				<li>旅游途中，若感觉疲劳应适当休息；若有任何身体不适，如下体出血、腹痛、腹胀、破水等状况发生，应停止旅游，立即就医。此外，如果准妈妈有感冒发烧等症状，也应该尽早去看医生。总之，不要轻忽任何身体上的变化而继续旅行，以避免造成不可挽回的悲剧。若能注意以上各点，相信准妈妈们都能顺利达成此趟旅行，回国后请尽快向您的产科医师报到，再次产检以确定母体和胎儿的健康状况。
				</li>
    		</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">2.孕妇意外事故急救措施</h2>
			<h2 class="b_title_h2">虽然大部分孕妇在生活中都明白要以胎儿为重，一切行动要格外小心，但偶尔会有一些意外情况发生，例如孕妇腿抽筋、阴道出血、早期流产、被动物咬伤等。主要的几种急救措施如下所所述：</h2>
    		<ul>
    			<li>抽筋:为了避免腿部抽筋，需注意不要使腿部的肌肉过度疲劳。不要穿高跟鞋；睡前可对腿和脚进行按摩；平时要多摄入一些含钙及维生素D丰富的食品；适当进行户外活动，接受日光照射；必要时可加服钙剂和维生素D。但需要指出的是，孕妇决不能以小腿是否抽筋作为需要补钙的指标，因为个体对缺钙的耐受值有所差异，所以有些孕妇在钙缺乏时，并没有小腿抽筋的症状。一旦抽筋发生，只要将足趾用力向头侧或用力将足跟下蹬，使踝关节过度屈曲，腓肠肌拉紧，症状便可迅速缓解。
</li>
    			<li>被动物咬伤:孕妇被动物咬伤后，应及时用肥皂水彻底清洗伤口，再用清水充分冲洗干净，然后用碘酒反复涂擦，扩创而不缝合，最后接种狂犬疫苗。咬伤严重者还应在接种狂犬疫苗前或同时注射抗狂犬血清。一旦发生孕妇被动物咬伤，应立即送往医院救治。
</li>   			
    		</ul>
		</div>
		<div class="b_title">特殊人群安全防范——老年人</div>
		<div class="b_center">
    		<h2 class="b_title_h2">1.老年人出行安全防范</h2>
			<h2 class="b_title_h2">老年人在体力和身体状况方面均不及年轻人，因此在旅游中要做好自我保健。 </h2>
			<ul>
    			<li>选择适宜的季节。对年轻人来说，一年四季都是旅游的好时光，即使在寒冬腊月，也可踏雪赏梅，领略那红妆素裹的自然景色，可对老年人来说，就不能随心所欲了。对患心血管及呼吸系统疾病的老人来说，寒冷的天气不宜出游，炎热的夏季对老人也是不适宜的。容易引起中暑。故而最佳的时期，应该是春秋两季，有人提出春暖花开和桂花飘香是老年人旅游最好时光。 </li>
    			<li>选择合理的旅游地点。老年人可以根据自己的喜好及条件，或选择名胜古迹旅游，或选择休闲度假地旅游。对老年人来说宜少游山，多玩水，多游古典园林，因为游山免不了要登高涉险，老年人的腿脚毕竟不如年轻人利索。若游古典园林，赏玩湖光水色，便无攀登之劳。注意量力而行，不宜进行过分消耗体力地登高爬山或远途旅游。</li>
    			<li>携带衣服适当。春秋季节，天气的变化多、温差大，尤其是春季，俗话说：“春天好似孩儿险。一日变三变。”早晚的气温悬殊较大。所以必须多带些轻便、保暖的衣服，便于增减和替换。要先了解旅游地的天气和气温，带足衣服和避雨用具，以免受凉或淋雨而致病。最好要穿一双适足、松软、透气的鞋。有了适足的鞋，才能保证旅游顺利。</li>
    			<li>携带一些必要的药品。这些药品包括两类，一是要携带一些防治慢性病的药，如患有高血压病、糖尿病、冠心病者，出游时尽管无症状表现，但也要有备无患，带些必要的药品。二是要带一些防止晕车、晕船和止泻、消炎或通便药。出门在外，生活习惯有所改变，容易引起便秘，也可因水土不服而出现腹泻。此外，还要带一些伤湿止痛膏、酒精、药棉、红药水之类物品。过敏体质的老人，要尽量回避有花处，或事先口服扑尔敏、安其敏等药物，以防止发生过敏。经常晕动者，可随身携带晕海宁、非那根或安宁等药，并于行前半小时服用。也可自己用针扎刺内关穴（掌侧腕上二寸正中处），足三里穴（在膝外侧，膝眼正下方三寸处），或自行按摩，或做气功意守此两穴。</li>    			
				<li>注意饮食合理和卫生。旅游时体力消耗较大，要带足食品，要选易带、营养丰富、新鲜卫生的食品，并宜多吃些水果。旅游时免不了在外面用餐，注意不要吃生冷食品和不清洁的食品。随身带上一些黄连素片或复方新诺明片等，以备急用。</li>
				<li>注意安全。老年人外出旅游要有人陪同，不宜单独外出，确保行走安全。不要爬高，防止发生意外的事故。老年人出游时，行动宜谨慎小心，坐车、乘船、登山时均要结伴而行，相互照料。同时，要精心安排旅程，尽量减少劳累。注意乘车时不要倚窗。老年人出外时，最好带上手杖以防跌倒。一旦跌倒，不要急于扶起，应弄清原因后再作处理。如跌倒在凹凸不平的地面上，可能与道路有关，注意是否骨折；若跌倒在厕所里，可能是由排便引起的晕厥或脑血管意外；如面色苍白，脉搏不清，可能是直立性低血压反应，因此，经简单处理后速送附近医院诊治。 　</li>
				<li>老年人旅游前宜做一次全面体检，体检合格才能出门旅游。有慢性病的老年人出门要备好应急药物，不可中断原有疾病的治疗。</li>
				<li>旅游时间适度。一般以一星期为宜。这是因为旅游时间过长，体力消耗过多，对身体健康反而不利，这就需要“适可而止”。</li>				
			</ul>
		</div>
		<div class="b_center">
    		<h2 class="b_title_h2">2.老年人意外事故急救措施</h2>
    		<ul>
    			<li>哮喘病忌“背”:老年人发病时，应保持镇静，让患者保持坐位或半卧位，解开领扣，松开裤带，清除口中分泌物，保持患者呼吸道通畅。若有气管扩张气雾剂，应立即让患者吸入若干次，待病情稳定后，用担架或靠背椅，保持病人坐位姿势，将病人安全转送医院。如用自行车转运也应采取坐位，避免病人胸腹部受压。
 </li>
    			<li>脑溢血忌“颠”:脑溢血病人发病后，应立即让病人平卧，避免震动，尽可能就近治疗，不宜长途搬运。如果必须搬运，也应尽量保持平稳，减少颠簸，保持头部的稳定，减少震动和摇晃;还应将病人的头歪向一边，便于呕吐物流出，防止阻塞呼吸道引起窒息。有条件的应立即敷上冰块，以减轻脑水肿。
</li>
    			<li>中风忌“慢”:堵塞的脑血管如果过了6小时后再去疏通，就已经太晚了。要提高中风治疗效果，就要在发病的第一时间，即发病6小时之内使患者得到治疗，千万不能“坐”失良机。
</li>
    			<li>心脏病忌“动”:如有患心脏病的老人，当其心绞痛发作且伴有大汗、心律不齐、气促时，一要立即呼救120;二要保持病人安静、平卧休息;三要助其含服消心痛或硝酸甘油;四要保持患者的呼吸道通畅。除了病人心脏、呼吸骤停要立即进行复苏抢救以外，其他症状的心脏病患者，不要轻易搬动，等待急救。
</li>    			
							
			</ul>
		</div>
		
	</div>
    <div class="clear"></div>
							</div>
					   </div>
					</div>
				</div>
			</div>
			<!-- /旅游资讯 -->
		<!--/right-->
		</div>
		<!--/content-->
	</center>
<!--中间内容区域 结束-->
		#parse("common/footer.vm")
</body>
</html>