<!DOCTYPE HTML>
<html>
<head>
	<title>旅游咨询_北京佳旅联合国际旅行社有限公司_www.jialvlianhe.com</title>
	<meta charset="utf-8">
	<meta content="$!mallWeb.webTitle服务平台" name="keywords"><!--关键词-->
	<meta content="$!mallWeb.webCpyname网站" name="description"><!--描述-->
	<script type="text/javascript" src="$staticRoot/js/jquery.js"></script>
	<script type="text/javascript" src="$staticRoot/js/aboutcontent.js"></script>
	<link rel="shortcut icon" href="$staticRoot/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="$staticRoot/css/headerfooter.css">
    <link href="$staticRoot/css/aboutcontent.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<div class="indexwrap">
		<!--头部-->
		#parse("common/head.vm")
		
		<!--中间内容区域-->
		<!--banner-->
		<div class="banner">
			<img src="$staticRoot/images/banner.jpg"height="120" width="100%"/>
		</div>
		<!--/banner-->
	<!--content-->
	<center>
		<div class="about_contnet W">
			<!--left-->
			#parse("help/leftOfHelpCenter.vm")
			<!--/left-->
			<!--right-->
			
			<!-- 旅游资讯 -->
			<div id="rigrht1">
				<div class="gbodyer_rgt tab-con1 gbodyer_yc">
					<div class="gbodyer_rgt_top">
						<span class="gbodyer_news">帮助中心</span>
						<ul class="gbodyer_ul">
							<li><a href="#">帮助中心</a></li>
							<li><img src="$staticRoot/images/gbg.jpg"/></li>
							<li><a href="#">资讯</a></li>
							<li><img src="$staticRoot/images/gbg.jpg"/></li>
							<li>您当前的位置：<a href="#">首页</a></li>
						</ul>
					</div>
					<div class="about_inner">
					   <div class="about_gui">
							<div class="about_guia">
								<p>签证常见问题</p>
								<div class="about_guib" style="display:none">
									<ul>
										<li>来源：佳旅联合旅行社&nbsp;&nbsp;&nbsp;&nbsp;时间：2015-12-14&nbsp;&nbsp;&nbsp;&nbsp;点击：120</li>
									</ul>
								</div>
								<div class="about_guic">
									<p><span>摘要: </span>签证常见问题
									</p>
								</div>
									<div class="b_mian">
		<div class="b_center">
    	<h2 class="b_title_h2">什么是签证？</h2>
    		<ul>
    			<li>签证是一个主权国家发给申请出入该国的外国公民或本国公民的出入境许可证明，即在申请出入境人员持有的护照或其他有效的旅行证件上签注盖印，以示准许其出入境或经过该国国境。签证通常由前往国的驻外领使馆签发。
 </li>    			
    		</ul>
		</div>
		<div class="b_center">
    	<h2 class="b_title_h2">什么是旅游签证？</h2>
    		<ul>
    			<li>旅游签证是签证的一种，一般是为了方便游客而开发旅游资源而设立的一种快速办理签证方式，相应的，受限制也大，一般来说有效期和停留期都较短，且只能够用来从事旅游相关的活动。
 </li>    			
    		</ul>
		</div>
		<div class="b_center">
    	<h2 class="b_title_h2">旅游签证的特点？</h2>
    		<ul>
    			<li>来访目的为旅游、且签证有效期及停留期比较短。
 </li>    			
    		</ul>
		</div>
		<div class="b_center">
    	<h2 class="b_title_h2">什么是多次往返签证？</h2>
    		<ul>
    			<li>是一般签证能多次使用（期限规定之内）；签证是一个国家的主权机关在本国或外国公民所持的护照或其他旅行证件上的签注、盖印，以表示允许其出入本国国境或者经过国境的手续。
 </li>    			
    		</ul>
		</div>
		<div class="b_center">
    	<h2 class="b_title_h2">什么是商务签证？</h2>
    		<ul>
    			<li>商务签证主要指有关人员因公务或者个人原因去目的地国家从事投资、贸易、会议、展览、劳务等方面事务所进行的实地考察或洽谈。这类人员进入目的地国时需持商务访问签证。一般来说，去目的地国商务考察者在该国只能作短期逗留，考察人员应该在签证固定的时间内离开该国家。
 </li>    			
    		</ul>
		</div>
		<div class="b_center">
    	<h2 class="b_title_h2">什么是销签？</h2>
    		<ul>
    			<li>销签是为证明您的出境旅游已经按时完成归国的程序。
 </li>    			
    		</ul>
		</div>
		<div class="b_center">
    	<h2 class="b_title_h2">什么是拒签？</h2>
    		<ul>
    			<li>签证拒签后一般会在护照最后一页盖上使馆的印章，俗称拒签章，以表明此本护照使馆受理后没有发给签证。
 </li>    			
    		</ul>
		</div>
	</div>
    <div class="clear"></div>

							</div>
					   </div>
					</div>
				</div>
			</div>
			<!-- /旅游资讯 -->
		<!--/right-->
		</div>
		<!--/content-->
	</center>
<!--中间内容区域 结束-->
		#parse("common/footer.vm")
</body>
</html>